<div>
    <div class="flex flex-wrap flex-col bmd:flex-row mt-8 items-center justify-between lg:justify-center xl:justify-between w-auto overflow-x-hidden">
        {{#each catalog_blocks }}
            {{> blocks/catalog_block}}
        {{/each}}
    </div>
</div>
