<div class="footer flex flex-col px-5">

    <div class="flex flex-col bmd:flex-row bg-cover bg-center -mx-5 pt-12 px-2 md:px-0 pb-4" style="background-image:url(custom/wc/images/footer_bg_desctop.jpg)">
        <div class="footer-menu flex flex-row w-full justify-around">
            <div>
                <span class="font-bold pb-4">Навигация</span>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Наши работы</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Оставить заявку</a></li>
                </ul>
            </div>
            <div>
                <span class="font-bold pb-4">Услуги</span>
                <ul>
                    <li><a href="#">Колодцы</a></li>
                    <li><a href="#">Водоочистка</a></li>
                    <li><a href="#">Водоснабжение</a></li>
                    <li><a href="#">Отопление</a></li>
                    <li><a href="#">Септики</a></li>
                    <li><a href="#">Погреба</a></li>
                </ul>
            </div>
        </div>

        <div class="px-8 bmd:px-4 pt-4 bmd:pt-0 hidden md:flex md:flex-col">
            <div class="font-bold pb-4">Новые работы</div>
            <div class="flex flex-wrap justify-between items-center w-full mb-2">
                <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
            </div>
        </div>

        <div class="flex px-2 bmd:px-4 lg:flex-col">
            <div class="font-bold pb-4 hidden xl:flex">Наши контакты</div>
            <div class="flex flex-wrap justify-between bmd:justify-center xl:justify-start">
                <div class="flex flex-col xl:flex-row order-1">
                    <a href="#" class="text-base sm:text-lg font-bold hover:text-bluelight">+7 (495) 975 75 13, </a>
                    <a href="#" class="text-base sm:text-lg font-bold hover:text-bluelight"> +7 (903) 233 80 85</a>
                </div>
                <div class="flex order-2 bmd:order-4 social-footer">
                    {{> blocks/social_footer}}
                </div>
                <div class="w-full bmd:w-auto order-3 md:order-2">
                    <a href="#" class="flex">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path d="M14.3898 7.55103L10.8353 10.4129C10.1626 10.9403 9.21964 10.9403 8.54696 10.4129L4.96191 7.55103" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.74022 2.91675H13.5968C14.7296 2.92945 15.8078 3.40835 16.5803 4.24192C17.3528 5.07548 17.7521 6.19094 17.6853 7.32851V12.7684C17.7521 13.906 17.3528 15.0214 16.5803 15.855C15.8078 16.6886 14.7296 17.1675 13.5968 17.1802H5.74022C3.30696 17.1802 1.66699 15.2006 1.66699 12.7684V7.32851C1.66699 4.89629 3.30696 2.91675 5.74022 2.91675Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                        <span class="block text-bluelight text-wc15 border-b border-bluelight border-opacity-20 leading-4 mb-5 ml-2 hover:text-black">
                        info@vodouslugi.ru
                        </span>
                    </a>
                </div>
                <div class="flex flex-row bmd:flex-col xl:flex-row order-4 md:order-3 mb-5 justify-between w-full bmd:w-auto">
                    <a data-popup="p1" href="#" class="btn btn-blue btn-border-blue mb-2 xl:mr-4 xl:mb-0">Перезвоните мне</a>
                    <a data-popup="p1" href="#" class="btn btn-blue btn-border-blue">Написать</a>
                </div>
            </div>
        </div>

    </div>

    <div class="flex flex-col md:flex-row justify-between py-3 text-wc14p text-center bmd:text-left">
        <span class="text-gray">2009 - 2021 © “Водоуслуги”. Все права защищены</span>
        <a href="#" class="py-4 bmd:py-0">Политика конфиденциальности</a>
        <a href="https://web-craft.pro/"><span class="text-gray text-wc14p">Разработка сайта -</span> Web-Craft</a>
    </div>

</div>
