<!--<div class="flex flex-col md:flex-row w-full pt-35625">-->
    <div class="bmd:-ml-12 bmd:-mr-12 xl:-mx-4375 px-5 bmd:pr-12 bmd:pl-16 xl:pr-0 bg-cover bg-center my-5 md:py-0 md:my-0
w-screen md:w-full xl:w-auto bmd:box-content flex flex-col bmd:flex-row items-start justify-between overflow-x-hidden">
    <div class="flex w-full bmd:w-7/12 flex-col">
        <h1 class="bmd:text-2625"><span class="text-gray">Водоуслуги</span> <span class="font-bold">- компания с опытом работы более 12 лет</span></h1>
        <div class="mt-10 py-5 bmd:pt-10 bmd:pb-0 border-t border-gray border-opacity-40 text-wc15">
            <p>
                Мы обеспечиваем этой бесценной жидкостью частные дома, просчитываем и создаем полноценные, надежные системы водоочистки, отопления, канализации и водоснабжения.
            </p>
            <p>
                Комплексное благоустройство или «точечное» выполнение определенных необходимых работ и операций – все будет выполнено надежно, качественно и аккуратно. Наша команда обеспечивает и услугу дальнейшего технического сопровождения и обслуживания установленных инженерных систем. Соответственно, мы сами заинтересованы в том, чтобы гарантировать долговечность и функциональность всего оборудования.
            </p>
            <a href="#" class="wc-link flex my-4 text-bluelight hover:text-black inline-flex">
                <span>Подробнее о компании</span>
                <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg" class="ml-4 fill-current">
                    <circle cx="13" cy="13" r="13" fill=""/>
                    <path d="M11.833 10.6666L14.1663 12.9999L11.833 15.3333" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="w-screen bmd:w-5/12 max-w-xl flex flex-col justify-center items-center -ml-5 bmd:ml-12 bg-bluelight h-full text-white bmd:-mr-12 md:-mr-4 home-slider2">
        {{> blocks/small_slider }}
    </div>
</div>

<div class="flex flex-col items-center justify-center">

    <div class=" bmd:-ml-12 bmd:-mr-12 xl:-mx-4375 px-5 bmd:pr-12 bmd:pl-16 xl:pr-0 bg-cover bg-center my-5 md:my-0
w-screen md:w-full xl:w-auto bmd:box-content flex flex-col md:flex-row items-center justify-between overflow-x-hidden h-full bmd:h-84 md:h-89" style="background-image:url(custom/wc/images/bg_pattern1.jpg)">

        {{> blocks/review_block}}

        <div class="py-4 w-screen md:w-5/12 max-w-xl flex flex-col justify-center items-center bmd:ml-12 bg-bluelight h-full text-white bmd:-mr-12 md:-mr-4">
            <div class="flex items-center">
                <img src="custom/wc/images/Frame.svg">
                <span class="text-5xl">2000+</span>
                <img src="custom/wc/images/Frame.svg" class="transform -scale-x-1">
            </div>
            <div class="w-1/2 text-center pt-4">
                <p>
                    систем смонтировано за
                    12 лет продуктивной работы
                </p>
            </div>
        </div>
    </div>

</div>


