<div class="flex flex-col items-center justify-center">

    <div class="wcadvantages bmd:-ml-12 bmd:-mr-12 xl:-mx-4375 xl:px-0 px-5 bmd:px-0 bg-cover bg-center mb-5 md:mb-16 xl:my-0
w-screen md:w-auto bmd:box-content flex flex-col  flex-wrap md:flex-row items-center justify-between overflow-x-hidden">
        <div class="a">
            <div class="a1">
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M56 32.6894V23.3106L48.5805 22.074C48.1374 20.5321 47.5215 19.0475 46.7413 17.6399L51.1149 11.5169L44.4831 4.88507L38.3601 9.25867C36.9524 8.4784 35.4679 7.86251 33.926 7.41945L32.6894 0H23.3106L22.074 7.41945C20.5321 7.86262 19.0475 8.47851 17.6399 9.25867L11.5169 4.88507L4.88507 11.5169L9.25867 17.6399C8.4784 19.0476 7.86251 20.5321 7.41945 22.074L0 23.3106V32.6894L7.41945 33.926C7.86262 35.4679 8.47851 36.9525 9.25867 38.3601L4.88507 44.4831L11.5169 51.1149L17.6399 46.7413C19.0476 47.5216 20.5321 48.1375 22.074 48.5807L23.3106 56H32.6894L33.9259 48.5805C35.4678 48.1374 36.9524 47.5216 38.36 46.7412L44.483 51.1148L51.1148 44.483L46.7412 38.36C47.5215 36.9523 48.1374 35.4678 48.5804 33.9259L56 32.6894ZM46.8124 44.127L44.1269 46.8124L38.5089 42.7995C37.9583 43.0955 35.7575 44.8048 32.1054 45.6508L31.0332 45.899L29.8988 52.7059H26.1012L24.9667 45.899C24.3416 45.7107 21.6197 45.3755 18.4247 43.3821L17.491 42.7995L11.873 46.8124L9.18751 44.127L13.2004 38.509C12.8993 37.9492 11.1946 35.7558 10.3491 32.1055L10.1009 31.0333L3.29412 29.8988V26.1012L10.101 24.9667C10.2892 24.3416 10.6245 21.6197 12.6179 18.4247L13.2005 17.491L9.18762 11.873L11.8731 9.18751L17.4911 13.2004C18.0509 12.8993 20.2443 11.1946 23.8947 10.3491L24.9668 10.1009L26.1012 3.29412H29.8988L31.0332 10.101C31.658 10.2891 34.3804 10.6245 37.5752 12.6179L38.5089 13.2005L44.1269 9.18762L46.8124 11.8731L42.7995 17.4911C43.1005 18.0509 44.8053 20.2443 45.6508 23.8947L45.899 24.9668L52.7059 26.1012V29.8988L45.899 31.0333C45.7108 31.6584 45.3755 34.3803 43.3821 37.5753L42.7995 38.509L46.8124 44.127Z" fill="white"/>
                    <path d="M28 14C20.2803 14 14 20.2803 14 28C14 35.7197 20.2803 42 28 42C35.7197 42 42 35.7197 42 28C42 20.2803 35.7197 14 28 14ZM23.1934 37.5643C23.7102 35.3885 25.6684 33.7647 28 33.7647C30.3316 33.7647 32.2898 35.3885 32.8066 37.5643C29.7893 39.0868 26.2121 39.0876 23.1934 37.5643ZM25.5294 28C25.5294 26.6377 26.6377 25.5294 28 25.5294C29.3623 25.5294 30.4706 26.6377 30.4706 28C30.4706 29.3623 29.3623 30.4706 28 30.4706C26.6377 30.4706 25.5294 29.3623 25.5294 28ZM35.599 35.5335C34.9407 33.9626 33.8083 32.6388 32.3826 31.7387C33.2432 30.7313 33.7647 29.4258 33.7647 28C33.7647 24.8213 31.1787 22.2353 28 22.2353C24.8213 22.2353 22.2353 24.8213 22.2353 28C22.2353 29.4257 22.7566 30.7313 23.6174 31.7387C22.1917 32.6388 21.0593 33.9626 20.401 35.5335C18.4816 33.5976 17.2941 30.9349 17.2941 28C17.2941 22.0967 22.0967 17.2941 28 17.2941C33.9033 17.2941 38.7059 22.0967 38.7059 28C38.7059 30.9349 37.5184 33.5976 35.599 35.5335Z" fill="white"/>
                </svg>
            </div>
            <div>
                <div class="font-bold text-lg">Отточенное мастерство</div>
                <div class="text-wc15">Наши специалисты обладают богатейшим опытом (убедитесь в этом на страницах с фото выполненных работ и отзывами заказчиков).</div>
            </div>
        </div>

        <div class="a">
            <div class="a1">
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path d="M28.0095 55.9998L21.6631 52.1374L13.8913 52.7295L10.539 45.7464L3.55599 42.3942L4.14605 34.6496L0 28.276L4.14605 21.9023L3.55599 14.1578L10.539 10.8056L13.8913 3.8226L21.6113 4.4108L28.0095 0.00170898L34.4076 4.4108L42.1277 3.8226L45.4799 10.8056L52.4629 14.1579L51.8728 21.9042L56.0001 28.2761L51.8728 34.6479L52.4629 42.3943L45.4799 45.7465L42.1277 52.7295L34.3558 52.1374L28.0095 55.9998ZM22.4667 48.7855L28.0095 52.1588L33.5521 48.7855L40.1403 49.2874L43.0207 43.2873L49.0208 40.407L48.5169 33.7933L52.0906 28.2761L48.5169 22.7588L49.0208 16.1451L43.0207 13.2648L40.1403 7.26473L33.5004 7.77047L28.0093 3.98644L22.5184 7.77047L15.8785 7.26462L12.9982 13.2647L6.99813 16.145L7.50211 22.7605L3.91429 28.276L7.50211 33.7914L6.99813 40.4069L12.9982 43.2872L15.8785 49.2873L22.4667 48.7855Z" fill="white"/>
                        <path d="M28.0092 46.0452C18.0584 46.0452 9.96289 37.9496 9.96289 27.9989C9.96289 18.0482 18.0584 9.95264 28.0092 9.95264C37.9599 9.95264 46.0554 18.0482 46.0554 27.9989C46.0554 37.9496 37.9599 46.0452 28.0092 46.0452ZM28.0092 13.2338C19.8677 13.2338 13.244 19.8574 13.244 27.9989C13.244 36.1404 19.8677 42.764 28.0092 42.764C36.1507 42.764 42.7743 36.1404 42.7743 27.9989C42.7743 19.8574 36.1507 13.2338 28.0092 13.2338Z" fill="white"/>
                        <path d="M35.0099 37.9107L28.0096 34.2303L21.0091 37.9107L22.3461 30.1157L16.6826 24.5951L24.5093 23.4579L28.0096 16.3657L31.5097 23.4579L39.3365 24.5951L33.673 30.1157L35.0099 37.9107ZM28.0096 30.5234L30.6522 31.9127L30.1476 28.9701L32.2855 26.8861L29.3309 26.4569L28.0096 23.7796L26.6882 26.4569L23.7337 26.8861L25.8716 28.9701L25.3668 31.9127L28.0096 30.5234Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="56" height="56" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>

            </div>
            <div>
                <div class="font-bold text-lg">Отточенное мастерство</div>
                <div class="text-wc15">Наши специалисты обладают богатейшим опытом (убедитесь в этом на страницах с фото выполненных работ и отзывами заказчиков).</div>
            </div>
        </div>

        <div class="a">
            <div class="a1">
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path d="M45.8825 26.6245C45.7204 16.9012 37.7603 9.04199 27.9992 9.04199C18.1368 9.04199 10.1133 17.0655 10.1133 26.9278C10.1133 32.0857 12.3043 36.9238 16.1524 40.3243V56H37.4438V47.9989H45.885V39.0367H50.522L45.8825 26.6245ZM42.6037 35.7554V44.7176H34.1624V52.7187H19.4338V38.7803L18.8248 38.2878C15.3739 35.497 13.3946 31.3564 13.3946 26.9278C13.3946 18.8748 19.9462 12.3234 27.9992 12.3234C36.0522 12.3234 42.6037 18.8748 42.6037 26.9278V27.2244L45.7924 35.7554H42.6037Z" fill="white"/>
                        <path d="M29.6398 0H26.3584V5.75663H29.6398V0Z" fill="white"/>
                        <path d="M36.79 1.42135L34.5869 6.73999L37.6186 7.99577L39.8217 2.67712L36.79 1.42135Z" fill="white"/>
                        <path d="M19.2113 1.42269L16.1797 2.67847L18.3828 7.99711L21.4144 6.74134L19.2113 1.42269Z" fill="white"/>
                        <path d="M45.879 6.72718L41.8086 10.7976L44.1288 13.1178L48.1992 9.04735L45.879 6.72718Z" fill="white"/>
                        <path d="M52.2524 15.1076L46.9336 17.3108L48.1894 20.3424L53.5082 18.1393L52.2524 15.1076Z" fill="white"/>
                        <path d="M10.119 6.72695L7.79883 9.04712L11.8693 13.1176L14.1895 10.7975L10.119 6.72695Z" fill="white"/>
                        <path d="M3.74894 15.1078L2.49316 18.1394L7.81191 20.3425L9.06769 17.3109L3.74894 15.1078Z" fill="white"/>
                        <path d="M27.9996 15.6045C22.4627 15.6045 17.958 20.1092 17.958 25.6462C17.958 29.2603 19.9029 32.5678 22.9944 34.348V40.3364H33.0048H33.0049V34.348C36.0964 32.5677 38.0413 29.2603 38.0413 25.6462C38.0413 20.1092 33.5366 15.6045 27.9996 15.6045ZM30.7047 31.8395L29.7235 32.2702V37.0551H26.2756H26.2755V32.2702L25.2943 31.8395C22.8309 30.7582 21.2391 28.3272 21.2391 25.6464C21.2391 21.9187 24.2718 18.8861 27.9994 18.8861C31.7271 18.8861 34.7598 21.9188 34.7598 25.6464C34.7599 28.3272 33.168 30.7582 30.7047 31.8395Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="56" height="56" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>

            </div>
            <div>
                <div class="font-bold text-lg">Отточенное мастерство</div>
                <div class="text-wc15">Наши специалисты обладают богатейшим опытом (убедитесь в этом на страницах с фото выполненных работ и отзывами заказчиков).</div>
            </div>
        </div>

        <div class="a">
            <div class="a1">
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.68151 56L15.6138 46.0257H39.4791V26.3473H43.7976L52.7074 35.8511V26.3473H55.9871V0H16.5209V9.95064C14.9009 11.5585 13.8358 13.6627 13.4133 16.1355C13.1757 17.525 13.1565 18.7103 13.3099 19.7878H0.0126953V46.0257H6.68151V56ZM52.7073 3.27974V23.0675H49.4275V27.5573L45.2183 23.0675H35.0799C35.7797 21.6224 36.1992 20.1022 36.1992 18.1479C36.1992 11.6669 31.5779 7.27272 25.6934 6.77344C23.6332 6.59863 21.6012 6.93425 19.8005 7.72577V3.27974H52.7073ZM16.646 16.688C17.506 11.6556 21.6703 9.72313 25.4164 10.0415C29.151 10.3583 32.9196 12.9878 32.9196 18.1479C32.9196 22.0199 30.6134 23.581 27.0536 29.627H26.3601V22.1069L29.1595 19.3074L26.8403 16.9883L24.7201 19.1084L22.5999 16.9883L20.2808 19.3074L23.0801 22.1069V29.627H22.3876C18.1696 22.4333 15.8505 21.3436 16.646 16.688ZM3.29244 42.746V23.0675H14.3852C15.5822 25.4294 17.6011 27.8199 20.0138 32.0757L20.485 32.9068H28.9553L29.4265 32.0757C30.7945 29.6627 31.9838 27.9721 33.0883 26.3473H36.1994V42.746H14.1481L9.96125 47.4213V42.746H3.29244Z" fill="white"/>
                    <path d="M19.8008 36.1865H29.64V39.4663H19.8008V36.1865Z" fill="white"/>
                </svg>
            </div>
            <div>
                <div class="font-bold text-lg">Отточенное мастерство</div>
                <div class="text-wc15">Наши специалисты обладают богатейшим опытом (убедитесь в этом на страницах с фото выполненных работ и отзывами заказчиков).</div>
            </div>
        </div>
    </div>
</div>
