<div class="my-slider z-10 h-full">
    {{#each slider }}
        {{> blocks/slide}}
    {{/each}}
</div>
<div class="slider-nav w-full h-8 z-20 absolute bottom-10 flex justify-center">
{{#each slider }}
    <span></span>
{{/each}}
</div>
