<div>
    <img src="custom/wc/images/logo.svg" class="w-10 h-10">
</div>
<div class="flex flex-col text-white pl-3">
    <span class="uppercase font-bold text-xl lg:text-wc13">Водоуслуги</span>
    <span class="font-exo2 text-xs -mt-1">Широкий спектр услуг</span>
</div>
