<div id="sidebar" class="overflow-x-hidden lg:flex-wrap bg-blue max-w-screen h-13 flex-shrink-0 lg:h-auto lg:w-60
            lg:overflow-y-visible hidden lg:flex lg:flex-row z-40 justify2-between lg:justify-start lg:flex-col pl-5 pt-2 lg:pt-4 lg:h-screen lg:sticky lg:top-0 scrollbar-hide ">
    <div class="">
        <div class="logo hidden lg:flex mb-6 order-1 lg:order-none">
            {{> blocks/logo_header }}
        </div>

        <div class="lg:hidden w-40 flex items-center justify-center order-first lg:order-none self-end mt-5 mb-6">
            <a href="#" class="menu-btn-mob-close w-40 h-10 bg-white rounded-full -mt-2 -ml-6 flex items-center justify-center text-blue text-wc10">
                <svg width="14" height="14" viewBox="0 0 14 14" class="fill-current mr-4" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.91699 7.81663L2.91699 6.18329L11.0837 6.18329L11.0837 7.81663L2.91699 7.81663ZM5.36699 11.0833L5.36699 9.33325L11.0837 9.33325L11.0837 11.0833L5.36699 11.0833ZM7.58366 2.91657L7.58366 4.5499L11.0837 4.5499L11.0837 2.91657L7.58366 2.91657Z" fill="#4788E8"/>
                </svg>
                <span class="text-blue font-bold uppercase">
                                    закрыть меню
                                </span>
            </a>
        </div>


        <div class="left-menu mt-1 lg:mt-0 flex flex-col text-white -ml-5">
            <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10">Главная</a>
            <span class="lg:font-bold h-9 lg:h-12 text-base lg:uppercase pl-5 w-full flex shadow-md border border-blue items-center justify-between">
                            <span>Каталог услуг</span>
                            <a href="#" class="menu_mob_catalog_toggler mr-4"></a>
                        </span>
            <ul class="left-menu hidden lg:flex lg:flex-col">
                <li class="active">
                    <a href="#" class="line-clamp-1">Колодцы</a>
                </li>
                <li>
                    <a href="#" class="line-clamp-1">Водоочистка</a>
                </li>
                <li>
                    <a href="#" class="line-clamp-1">Водоснабжение</a>
                </li>
                <li>
                    <a href="#" class="line-clamp-1">Отопление</a>
                </li>
                <li>
                    <a href="#" class="line-clamp-1">Септики</a>
                </li>
                <li>
                    <a href="#" class="line-clamp-1">Погреба</a>
                </li>
            </ul>

            <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Новости</a>
            <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Наши работы</a>
            <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Отзывы</a>
            <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Вакансии</a>
        </div>

        <div class="phones w-full flex flex-col text-white font-bold text-base items-start lg:text-wc22 mx-auto mt-9 ml-1">
            {{> blocks/phones_sidebar }}
        </div>

        <div class="mails flex mt-3 pl-1">
            <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3898 5.55095L10.8353 8.41284C10.1626 8.94023 9.21964 8.94023 8.54696 8.41284L4.96191 5.55095" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.74022 0.916672H13.5968C14.7296 0.929377 15.8078 1.40828 16.5803 2.24184C17.3528 3.0754 17.7521 4.19086 17.6853 5.32844V10.7683C17.7521 11.9059 17.3528 13.0214 16.5803 13.8549C15.8078 14.6885 14.7296 15.1674 13.5968 15.1801H5.74022C3.30696 15.1801 1.66699 13.2006 1.66699 10.7683V5.32844C1.66699 2.89621 3.30696 0.916672 5.74022 0.916672Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <a href="" class="text-white ml-3 -mt-1 text-wc15 border-b border-opacity-10 border-gray">info@vodouslugi.ru</a>
        </div>

        <div class="feedback_btn flex mt-5 ml-1">
            <a href="#" class="menu-btn">
                перезвоните мне
            </a>
        </div>

        <div class="social flex justify-around items-center ml-6 mr-12 mt-8 mb-8">
            {{> blocks/socials_sidebar }}
        </div>

    </div>


</div>
