<div class="swiper-slide relative h-full">
    <img class="object-cover h-full" src="{{img}}">
    <div class="banner-content absolute inset-0 mt-16 bmd:mt-0">
        <div class="absolute left-0 bmd:left-18 top-wc65 bmd:top-p27 w-full bmd:w-3/5 md:w-1/2 lg:w-5/12 xl:w-3/5 flex flex-col text-base">
            <span class="text-1625 text-center bmd:text-left bmd:text-2xl md:text-2lg lg:text-2xl xl:text-2lg font-semibold
            leading-2dot15 lg:leading-8 xl:leading-10 text-white pb-4 lg:pb-10 xl:pb-14">{{title}}</span>
            <span class="text-center bmd:text-left sm:text-125 lg:text-base xl:text-125 leading-4 px-8 bmd:px-0 sm:leading-7 text-white pb-12">{{subtitle}}</span>
            <div class="banner-btn">
                <a href="#" class="tracking-widest mx-auto bmd:mx-0">{{button_text}}</a>
            </div>
        </div>
        <div class="squares absolute right-14 top-p27 mt-4 text-base flex-wrap w-84 h-84 hidden bmd:flex lg:flex">
            <div class="w-42 h-42 bg-white bg-opacity-20 bg-blur-white text-white pt-6 flex flex-col">
                <div class="text-6xl xl:ml-10 -ml-16">{{square1.digit}}</div>
                <div class="xl:ml-10 -ml-16">
                    <span class="font-bold ">{{square1.text1}} </span>
                    <span>{{square1.text2}}</span>
                </div>
            </div>
            <div class="w-42 h-42 order-first xl:order-none">

            </div>
            <div class="w-42 h-42"></div>
            <div class="w-42 h-42 bg-bluelight text-white pt-6 flex flex-col">
                <div class="text-6xl -ml-16">{{square2.digit}}</div>
                <div class="-ml-16">
                    <span class="font-bold ">{{square2.text1}} </span>
                    <span>{{square2.text2}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
