<a href="#" class="mr-2">
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.7">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 18C0 8.05887 8.05887 0 18 0C27.9411 0 36 8.05887 36 18C36 27.9411 27.9411 36 18 36C8.05887 36 0 27.9411 0 18ZM18.0009 8.4C15.3937 8.4 15.0665 8.4114 14.0425 8.458C13.0204 8.5048 12.3228 8.6666 11.7124 8.90401C11.081 9.14921 10.5454 9.47721 10.0118 10.011C9.47781 10.5446 9.14981 11.0802 8.9038 11.7114C8.6658 12.322 8.5038 13.0198 8.4578 14.0415C8.412 15.0655 8.4 15.3929 8.4 18.0001C8.4 20.6073 8.4116 20.9335 8.458 21.9575C8.505 22.9796 8.6668 23.6772 8.90401 24.2876C9.14941 24.919 9.47741 25.4546 10.0112 25.9882C10.5446 26.5222 11.0802 26.851 11.7112 27.0962C12.322 27.3336 13.0198 27.4954 14.0417 27.5422C15.0657 27.5888 15.3927 27.6002 17.9997 27.6002C20.6071 27.6002 20.9333 27.5888 21.9573 27.5422C22.9794 27.4954 23.6778 27.3336 24.2886 27.0962C24.9198 26.851 25.4546 26.5222 25.988 25.9882C26.522 25.4546 26.85 24.919 27.096 24.2878C27.332 23.6772 27.494 22.9794 27.542 21.9577C27.588 20.9337 27.6 20.6073 27.6 18.0001C27.6 15.3929 27.588 15.0657 27.542 14.0417C27.494 13.0196 27.332 12.322 27.096 11.7116C26.85 11.0802 26.522 10.5446 25.988 10.011C25.454 9.47701 24.92 9.14901 24.288 8.90401C23.676 8.6666 22.978 8.5048 21.9559 8.458C20.9319 8.4114 20.6059 8.4 17.9979 8.4H18.0009Z" fill="#4788E8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1397 10.13C17.3953 10.1296 17.6805 10.13 18.0009 10.13C20.5641 10.13 20.8679 10.1392 21.8801 10.1852C22.8161 10.228 23.3242 10.3844 23.6626 10.5158C24.1106 10.6898 24.43 10.8978 24.7658 11.2338C25.1018 11.5698 25.3098 11.8898 25.4842 12.3378C25.6156 12.6758 25.7722 13.1838 25.8148 14.1199C25.8608 15.1319 25.8708 15.4359 25.8708 17.9979C25.8708 20.5599 25.8608 20.8639 25.8148 21.8759C25.772 22.8119 25.6156 23.32 25.4842 23.658C25.3102 24.106 25.1018 24.425 24.7658 24.7608C24.4298 25.0968 24.1108 25.3048 23.6626 25.4788C23.3246 25.6108 22.8161 25.7668 21.8801 25.8096C20.8681 25.8556 20.5641 25.8656 18.0009 25.8656C15.4375 25.8656 15.1337 25.8556 14.1217 25.8096C13.1857 25.7664 12.6776 25.61 12.339 25.4786C11.891 25.3046 11.571 25.0966 11.235 24.7606C10.899 24.4246 10.691 24.1054 10.5166 23.6572C10.3852 23.3192 10.2286 22.8112 10.186 21.8751C10.14 20.8631 10.1308 20.5591 10.1308 17.9955C10.1308 15.4319 10.14 15.1295 10.186 14.1175C10.2288 13.1815 10.3852 12.6734 10.5166 12.335C10.6906 11.887 10.899 11.567 11.235 11.231C11.571 10.895 11.891 10.687 12.339 10.5126C12.6774 10.3806 13.1857 10.2246 14.1217 10.1816C15.0073 10.1416 15.3505 10.1296 17.1397 10.1276V10.13ZM23.1254 11.724C22.4893 11.724 21.9733 12.2394 21.9733 12.8756C21.9733 13.5117 22.4893 14.0277 23.1254 14.0277C23.7614 14.0277 24.2774 13.5117 24.2774 12.8756C24.2774 12.2396 23.7614 11.724 23.1254 11.724ZM18.0009 13.07C15.2783 13.07 13.0708 15.2775 13.0708 18.0001C13.0708 20.7227 15.2783 22.9292 18.0009 22.9292C20.7235 22.9292 22.9302 20.7227 22.9302 18.0001C22.9302 15.2775 20.7235 13.07 18.0009 13.07Z" fill="#4788E8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0009 14.8001C19.7681 14.8001 21.2009 16.2327 21.2009 18.0001C21.2009 19.7673 19.7681 21.2001 18.0009 21.2001C16.2335 21.2001 14.8009 19.7673 14.8009 18.0001C14.8009 16.2327 16.2335 14.8001 18.0009 14.8001Z" fill="#4788E8"/>
        </g>
    </svg>
</a>
<a href="#" class="mr-2">
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.7">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 18.001C0 8.05985 8.05887 0.000976562 18 0.000976562C27.9411 0.000976562 36 8.05985 36 18.001C36 27.9421 27.9411 36.001 18 36.001C8.05887 36.001 0 27.9421 0 18.001ZM27.1988 13.5559C26.978 12.7076 26.3273 12.0397 25.5012 11.813C24.004 11.401 18 11.401 18 11.401C18 11.401 11.996 11.401 10.4987 11.813C9.67255 12.0397 9.02193 12.7076 8.80113 13.5559C8.4 15.0933 8.4 18.301 8.4 18.301C8.4 18.301 8.4 21.5086 8.80113 23.0461C9.02193 23.8943 9.67255 24.5623 10.4987 24.7891C11.996 25.201 18 25.201 18 25.201C18 25.201 24.004 25.201 25.5012 24.7891C26.3273 24.5623 26.978 23.8943 27.1988 23.0461C27.6 21.5086 27.6 18.301 27.6 18.301C27.6 18.301 27.6 15.0933 27.1988 13.5559Z" fill="#4788E8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2002 21.6011V15.6011L21.0002 18.6012L16.2002 21.6011Z" fill="#4788E8"/>
        </g>
    </svg>
</a>
<a href="#" class="mr-2">
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.7">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18 36C8.05887 36 0 27.9411 0 18C0 8.05887 8.05887 0 18 0C27.9411 0 36 8.05887 36 18C36 27.9411 27.9411 36 18 36ZM18.5933 28.0144C24.4946 28.012 29.2942 23.2112 29.2966 17.3111C29.2977 14.4513 28.1854 11.7621 26.1647 9.73906C24.1439 7.7159 21.4565 6.60124 18.5932 6.6C12.6936 6.6 7.89209 11.4013 7.88974 17.3027C7.88893 19.1891 8.3818 21.0304 9.31846 22.6536L7.8 28.2L13.474 26.7116C15.0374 27.5643 16.7975 28.0138 18.5889 28.0144H18.5933Z" fill="#4788E8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7373 24.7738L10.3702 25.657L11.269 22.3742L11.0574 22.0376C10.1669 20.6212 9.69658 18.9842 9.69727 17.3032C9.69921 12.3982 13.6901 8.40771 18.5972 8.40771C20.9734 8.40854 23.207 9.33506 24.8866 11.0166C26.5662 12.6982 27.4907 14.9333 27.4898 17.3104C27.4878 22.2157 23.497 26.2066 18.5937 26.2066H18.5901C16.9937 26.206 15.428 25.7771 14.0621 24.9666L13.7373 24.7738ZM23.986 19.8562C23.9191 19.7447 23.7409 19.6778 23.4734 19.5438C23.206 19.41 21.8911 18.7631 21.6459 18.6737C21.4008 18.5845 21.2225 18.5399 21.0442 18.8076C20.866 19.0753 20.3534 19.6778 20.1974 19.8562C20.0414 20.0347 19.8854 20.0571 19.618 19.9232C19.3506 19.7893 18.4889 19.5069 17.4673 18.5958C16.6723 17.8866 16.1355 17.0108 15.9795 16.7431C15.8235 16.4753 15.9629 16.3306 16.0968 16.1973C16.2171 16.0774 16.3642 15.8848 16.4979 15.7287C16.6317 15.5726 16.6762 15.461 16.7654 15.2826C16.8545 15.104 16.81 14.9479 16.7431 14.814C16.6762 14.6802 16.1414 13.3638 15.9185 12.8283C15.7014 12.3068 15.4809 12.3774 15.3168 12.3692C15.161 12.3614 14.9825 12.3597 14.8042 12.3597C14.6259 12.3597 14.3362 12.4266 14.091 12.6944C13.8459 12.9621 13.155 13.6092 13.155 14.9255C13.155 16.2419 14.1133 17.5136 14.247 17.692C14.3808 17.8706 16.1329 20.5719 18.8157 21.7303C19.4538 22.0059 19.9519 22.1704 20.3403 22.2937C20.981 22.4973 21.5641 22.4685 22.0248 22.3996C22.5387 22.3229 23.6071 21.7527 23.8301 21.128C24.0528 20.5032 24.0528 19.9677 23.986 19.8562Z" fill="#4788E8"/>
        </g>
    </svg>
</a>
