<div>
    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M56 32.6894V23.3106L48.5805 22.074C48.1374 20.5321 47.5215 19.0475 46.7413 17.6399L51.1149 11.5169L44.4831 4.88507L38.3601 9.25867C36.9524 8.4784 35.4679 7.86251 33.926 7.41945L32.6894 0H23.3106L22.074 7.41945C20.5321 7.86262 19.0475 8.47851 17.6399 9.25867L11.5169 4.88507L4.88507 11.5169L9.25867 17.6399C8.4784 19.0476 7.86251 20.5321 7.41945 22.074L0 23.3106V32.6894L7.41945 33.926C7.86262 35.4679 8.47851 36.9525 9.25867 38.3601L4.88507 44.4831L11.5169 51.1149L17.6399 46.7413C19.0476 47.5216 20.5321 48.1375 22.074 48.5807L23.3106 56H32.6894L33.9259 48.5805C35.4678 48.1374 36.9524 47.5216 38.36 46.7412L44.483 51.1148L51.1148 44.483L46.7412 38.36C47.5215 36.9523 48.1374 35.4678 48.5804 33.9259L56 32.6894ZM46.8124 44.127L44.1269 46.8124L38.5089 42.7995C37.9583 43.0955 35.7575 44.8048 32.1054 45.6508L31.0332 45.899L29.8988 52.7059H26.1012L24.9667 45.899C24.3416 45.7107 21.6197 45.3755 18.4247 43.3821L17.491 42.7995L11.873 46.8124L9.18751 44.127L13.2004 38.509C12.8993 37.9492 11.1946 35.7558 10.3491 32.1055L10.1009 31.0333L3.29412 29.8988V26.1012L10.101 24.9667C10.2892 24.3416 10.6245 21.6197 12.6179 18.4247L13.2005 17.491L9.18762 11.873L11.8731 9.18751L17.4911 13.2004C18.0509 12.8993 20.2443 11.1946 23.8947 10.3491L24.9668 10.1009L26.1012 3.29412H29.8988L31.0332 10.101C31.658 10.2891 34.3804 10.6245 37.5752 12.6179L38.5089 13.2005L44.1269 9.18762L46.8124 11.8731L42.7995 17.4911C43.1005 18.0509 44.8053 20.2443 45.6508 23.8947L45.899 24.9668L52.7059 26.1012V29.8988L45.899 31.0333C45.7108 31.6584 45.3755 34.3803 43.3821 37.5753L42.7995 38.509L46.8124 44.127Z" fill="#4788E8"/>
        <path d="M28 14C20.2803 14 14 20.2803 14 28C14 35.7197 20.2803 42 28 42C35.7197 42 42 35.7197 42 28C42 20.2803 35.7197 14 28 14ZM23.1934 37.5643C23.7102 35.3885 25.6684 33.7647 28 33.7647C30.3316 33.7647 32.2898 35.3885 32.8066 37.5643C29.7893 39.0868 26.2121 39.0876 23.1934 37.5643ZM25.5294 28C25.5294 26.6377 26.6377 25.5294 28 25.5294C29.3623 25.5294 30.4706 26.6377 30.4706 28C30.4706 29.3623 29.3623 30.4706 28 30.4706C26.6377 30.4706 25.5294 29.3623 25.5294 28ZM35.599 35.5335C34.9407 33.9626 33.8083 32.6388 32.3826 31.7387C33.2432 30.7313 33.7647 29.4258 33.7647 28C33.7647 24.8213 31.1787 22.2353 28 22.2353C24.8213 22.2353 22.2353 24.8213 22.2353 28C22.2353 29.4257 22.7566 30.7313 23.6174 31.7387C22.1917 32.6388 21.0593 33.9626 20.401 35.5335C18.4816 33.5976 17.2941 30.9349 17.2941 28C17.2941 22.0967 22.0967 17.2941 28 17.2941C33.9033 17.2941 38.7059 22.0967 38.7059 28C38.7059 30.9349 37.5184 33.5976 35.599 35.5335Z" fill="#4788E8"/>
    </svg>
    <div>
        <span>{{title}}</span>
        <span>{{text}}</span>
    </div>

</div>
