<div class="my-slider z-10 h-full">
    {{#each sparta_slider }}
        {{> blocks/sparta_slide}}
    {{/each}}
</div>
<div class="slider-nav w-full h-8 z-20 absolute bottom-10 flex justify-center">
{{#each sparta_slider }}
    <span></span>
{{/each}}
</div>
