<div class="swiper-slide relative h-full">
    <img class="object-right bmd:object-left-top object-cover h-full" src="{{img}}">
    <div class="banner-content absolute inset-0 mt-16 lg:mt2-0">
        <div class="absolute left-0 bmd:left-18 top-wc65 bmd:top-12 w-full bmd:w-3/5 md:w-1/2 lg:w-5/12 xl:w-2/5 flex flex-col text-base">
            <span class="text-1625 text-center bmd:text-left bmd:text-2xl md:text-2lg lg:text-2xl xl:text-2lg font-semibold
            leading-2dot15 lg:leading-8 xl:leading-10 text-white pb-4 lg:pb-10 xl:pb-14">{{title}}</span>
            <span class="text-center bmd:text-left sm:text-base lg:text-base xl:text-base leading-4 px-8 bmd:px-0 sm:leading-7 text-white pb-12">{{subtitle}}</span>
            <div class="banner-btn ">
                <a href="#" class="tracking-widest mx-auto bmd:mx-0 bg-bluelight">{{button_text}}</a>
            </div>
        </div>
    </div>
</div>
