<div class="work-block relative flex w-84 mbd:w-80 bmd:w-80 md:w-80 xl:w-90 mb-2 lg:mx-2 xl:mx-0 bg-cover bg-center
 h-56 bmd:h-60 md:h-56 xl:h-158125 a{{full}}" style="background-image:url({{img}})" >
    <div class="bg absolute inset-0"></div>

    <div class="work-hover-info absolute inset-0 bg-bluelight">
        <div class="flex flex-col work-name">
            <div class="w-full flex">
                <div class="text-white  font-semibold text-125 line-clamp-3">
                    <a href="#" class="">
                        {{ name }}
                    </a>
                </div>
            </div>
            <div class="flex work-info flex-col py-4">
                <div>
                    <div>Срок строительства:</div>
                    <div>3 дня</div>
                </div>

                <div>
                    <div>Глубина колодца:</div>
                    <div>12 метров</div>
                </div>

                <div>
                    <div>Стоимость работы:</div>
                    <div>54 000 руб.</div>
                </div>

                <div>
                    <div>Срок строительства:</div>
                    <div>3 дня</div>
                </div>

                <div>
                    <div>Глубина колодца:</div>
                    <div>12 метров</div>
                </div>

                <div>
                    <div>Стоимость работы:</div>
                    <div>54 000 руб.</div>
                </div>
            </div>

            <div class="w-auto flex">
                <a href="#" class="cat-link z-20 text-white hover:text-black flex items-center justify-center" >
                    Подробнее
                    <span class="rounded-full w-6 h-6 ml-4 bg-bluelight text-white hover:bg-white hover:text-black flex items-center justify-center">
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                            <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </a>
            </div>
        </div>


    </div>

    <div class="flex absolute bottom-5 left-0 right-0">
        <div class="flex flex-col work-name">
            <div class="w-full flex mt-2 px-4">
                <div class="text-white  font-semibold text-125 line-clamp-3">
                    <a href="#" class="">
                    {{ name }}
                    </a>
                </div>
            </div>

            <div class="w-auto flex px-4">
                <a href="#" class="cat-link z-20 p-1 text-bluelight hover:text-black flex items-center justify-center" >
                    Подробнее
                    <span class="rounded-full w-6 h-6 ml-4 bg-bluelight text-white hover:bg-white hover:text-bluelight flex items-center justify-center">
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                            <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </a>
            </div>
        </div>

        <div class="flex work-info">
            <div>
                <div>Срок строительства:</div>
                <div>3 дня</div>
            </div>

            <div>
                <div>Глубина колодца:</div>
                <div>12 метров</div>
            </div>

            <div>
                <div>Стоимость работы:</div>
                <div>54 000 руб.</div>
            </div>

            <div>
                <div>Стоимость работы:</div>
                <div>54 000 руб.</div>
            </div>

            <div>
                <div>Стоимость работы:</div>
                <div>54 000 руб.</div>
            </div>

            <div>
                <div>Стоимость работы:</div>
                <div>54 000 руб.</div>
            </div>

            <div>
                <div>Стоимость работы:</div>
                <div>54 000 руб.</div>
            </div>

            <div>
                <div>Стоимость работы:</div>
                <div>54 000 руб.</div>
            </div>

            <div>
                <div>Стоимость работы:</div>
                <div>54 000 руб.</div>
            </div>

            <div>
                <div>Стоимость работы:</div>
                <div>54 000 руб.</div>
            </div>

            <div>
                <div>Стоимость работы:</div>
                <div>54 000 руб.</div>
            </div>

            <div>
                <div>Стоимость работы:</div>
                <div>54 000 руб.</div>
            </div>
        </div>

    </div>



</div>

