<div class="w-full my-2">
    <a name="block4" href="#"></a>
    <div class="flex px-0 bmd:pl-6 bmd:pb-4 justify-between">
        <span class="text-xl font-bold">Цены на услуги:</span>
        <span>
            <a href="#" class="hover:text-bluelight justify-between items-center hidden bmd:flex">
                <span class="line-clamp-2 leading-4 ">Отправить заявку</span>
                <span class="rounded-full w-6 h-6 ml-4 bg-bluelight text-white hover:text-bluelight hover:bg-blue  flex items-center justify-center">
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                            <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </span>
            </a>
        </span>
    </div>
    <ul>
        <li class="hidden bmd:flex justify-between bg-blue text-white font-bold text-wc18p bmd:px-6 py-2 border-b border-lightgray">
            <span>Наименование услуги</span>
            <span>Стоимость</span>
        </li>
        <li class="flex flex-col bmd:flex-row justify-between text-wc18p bmd:px-6 py-2 border-b border-lightgray">
            <span class="font-bold">Установка системы водоподготовки</span>
            <span class="text-wc14p text-blue bmd:text-wc18p">от 1000 руб</span>
        </li>
        <li class="flex flex-col bmd:flex-row justify-between text-wc18p bmd:px-6 py-2 border-b border-lightgray">
            <span class="font-bold">Копка колодца</span>
            <span class="text-wc14p text-blue bmd:text-wc18p">от 25500 руб</span>
        </li>
    </ul>

    <a href="#" class="hover:text-bluelight items-center flex bmd:hidden mt-3">
        <span class="line-clamp-2 leading-4 ">Отправить заявку</span>
        <span class="rounded-full w-6 h-6 ml-4 bg-bluelight text-white hover:text-bluelight hover:bg-white  flex items-center justify-center">
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                            <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </span>
    </a>
</div>
