<div class="content flex flex-col px-5 bmd:px-12 md:px-5 xl:px-4375 pt-2 items-center mb-8">
    <div class="flex flex-col xl:flex-row justify-between bg-lightgray w-full"">
        <div class="p-7">
            <div class="text-2xl bmd:text-4xl font-bold mb-5">Связаться с нами:</div>
            <div class="flex items-center mb-5">
                <div class="mr-5">
                    <div class="bg-white rounded-full w-12 h-12 flex items-center justify-center">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.39656 1.66964L5.37285 1.66806C4.27548 1.61701 2.72691 2.93649 2.1547 3.89084C1.52687 4.74841 1.5148 5.88725 2.06307 7.20454L2.1495 7.40346C3.5942 10.9614 9.01535 16.3757 12.5594 17.8581C13.9154 18.4924 15.1239 18.504 16.0761 17.8184C16.9133 17.3398 18.2863 15.7473 18.2466 14.6163C18.2089 14.151 17.9926 13.7711 17.6566 13.4253L17.5746 13.3439L17.3463 13.1328C16.5198 12.3937 15.0889 11.3415 14.6462 11.2485C14.1266 11.1401 13.7742 11.2371 13.2184 11.5436L13.0114 11.6613C12.6161 11.8892 12.4748 11.9282 12.2875 11.8599C10.3101 11.0481 8.91571 9.64672 8.09858 7.63658C8.04546 7.48764 8.07173 7.35757 8.2436 7.04221L8.33416 6.8814C8.70879 6.22709 8.83438 5.8572 8.71638 5.28764L8.69555 5.21383C8.50199 4.65031 7.31568 3.06041 6.65699 2.36825L6.55087 2.26089C6.20758 1.92376 5.83011 1.70696 5.39656 1.66964ZM5.30445 2.8866L5.34964 2.89528C5.42872 2.9176 5.52199 2.97237 5.627 3.06261L5.7035 3.13255L5.84787 3.28454C6.40792 3.9029 7.49291 5.36113 7.5288 5.5355C7.56271 5.69919 7.52521 5.836 7.34749 6.15841L7.25452 6.32278C6.86318 7.00802 6.74205 7.44986 6.96693 8.07469C7.91622 10.4113 9.55007 12.0533 11.8515 12.9975C12.445 13.2146 12.8658 13.1278 13.4619 12.8047L13.6661 12.6894C14.0706 12.4555 14.2187 12.4047 14.399 12.4423C14.5752 12.4793 16.1515 13.6624 16.7294 14.2184L16.7969 14.2854C16.9459 14.439 17.0274 14.582 17.0361 14.6882C17.0441 14.9363 16.7957 15.4024 16.3571 15.9112C16.0448 16.2734 15.6393 16.6437 15.4635 16.7665L15.4215 16.7936C14.8535 17.199 14.1521 17.2165 13.2245 16.8212L13.048 16.7423C9.84369 15.4015 4.80454 10.4066 3.34914 7.12336L3.2629 6.92043C2.81192 5.92295 2.77451 5.19371 3.09832 4.66313L3.16325 4.56595C3.53856 3.94452 4.6696 2.96572 5.23275 2.89038L5.30445 2.8866ZM12.0185 1.86974L12.1009 1.87333C15.3757 2.23886 17.9619 4.83579 18.3299 8.12781C18.3673 8.46244 18.1278 8.7642 17.795 8.80181C17.4622 8.83942 17.162 8.59864 17.1246 8.26402C16.8199 5.53818 14.6786 3.38795 11.9671 3.0853C11.6342 3.04814 11.3943 2.74671 11.4312 2.41204C11.462 2.13314 11.6754 1.91917 11.9383 1.8771L12.0185 1.86974ZM12.0682 4.75076L12.15 4.76112C13.8236 5.08909 15.1314 6.40396 15.4576 8.08659C15.5217 8.4171 15.3072 8.73726 14.9784 8.80168C14.6497 8.8661 14.3312 8.65039 14.2672 8.31988C14.0355 7.1247 13.1067 6.19097 11.9179 5.95801C11.5892 5.89359 11.3746 5.57343 11.4387 5.24292C11.4921 4.9675 11.7222 4.77179 11.9876 4.75149L12.0682 4.75076Z" fill="black"/>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="flex flex-col">
                    <span class="opacity-70">Звоните нам:</span>
                    <a href="#" class="text-125 bmd:text-1625 font-bold leading-6 hover:text-bluelight">+7 (495) 975 75 13</a>
                    <a href="#" class="text-125 bmd:text-1625 font-bold leading-6 hover:text-bluelight">+7 (903) 233 80 85</a>
                </div>
            </div>

            <div class="flex items-center mb-5">
                <div class="mr-5">
                    <div class="bg-white rounded-full w-12 h-12 flex items-center justify-center">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path d="M14.3898 7.5509L10.8353 10.4128C10.1626 10.9402 9.21964 10.9402 8.54696 10.4128L4.96191 7.5509" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.74022 2.91663H13.5968C14.7296 2.92933 15.8078 3.40823 16.5803 4.24179C17.3528 5.07536 17.7521 6.19082 17.6853 7.32839V12.7683C17.7521 13.9059 17.3528 15.0213 16.5803 15.8549C15.8078 16.6884 14.7296 17.1673 13.5968 17.1801H5.74022C3.30696 17.1801 1.66699 15.2005 1.66699 12.7683V7.32839C1.66699 4.89617 3.30696 2.91663 5.74022 2.91663Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="flex flex-col">
                    <span class="opacity-70">Пишите нам на E-mail:</span>
                    <a href="#" class="text-base font-bold leading-6 hover:text-bluelight">info@vodouslugi.ru</a>
                </div>
            </div>

            <div class="flex items-center mb-5">
                <div class="mr-5">
                    <div class="bg-white rounded-full w-12 h-12 flex items-center justify-center">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.33333 0C3.73066 0 0 3.73065 0 8.33334C0 12.936 3.73066 16.6667 8.33333 16.6667C12.936 16.6667 16.6667 12.936 16.6667 8.33334C16.6667 3.73065 12.936 0 8.33333 0ZM8.33333 1.25C12.2457 1.25 15.4167 4.42102 15.4167 8.33334C15.4167 12.2457 12.2457 15.4167 8.33333 15.4167C4.42101 15.4167 1.25 12.2457 1.25 8.33334C1.25 4.42102 4.42101 1.25 8.33333 1.25ZM8.67072 4.7872C8.62933 4.48215 8.36784 4.24701 8.05142 4.24701C7.70624 4.24701 7.42642 4.52682 7.42642 4.87201V8.91116L7.43339 9.0043C7.461 9.18768 7.5692 9.35126 7.73122 9.44794L10.8729 11.3221L10.9486 11.3606C11.2318 11.4814 11.5677 11.3773 11.7298 11.1055L11.7684 11.0298C11.8891 10.7466 11.785 10.4107 11.5133 10.2486L8.67609 8.55542L8.67642 4.87201L8.67072 4.7872Z" fill="black"/>
                        </svg>
                    </div>
                </div>
                <div class="flex flex-col">
                    <span class="opacity-70">График работы:</span>
                    <span class="text-base font-bold leading-6">Пн-Сб, 9:00-20:00, Вс - выходной</span>
                </div>
            </div>

            <div class="flex items-center mb-5 mt-16">
                <a href="#" class="text-bluelight hover:text-black flex border-bluelight hover:border-black h-auto justify-between items-center border-2 rounded-full p-1">
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 36C8.05887 36 0 27.9411 0 18C0 8.05887 8.05887 0 18 0C27.9411 0 36 8.05887 36 18C36 27.9411 27.9411 36 18 36ZM18.5933 28.0144C24.4946 28.012 29.2942 23.2112 29.2966 17.3111C29.2977 14.4513 28.1854 11.7621 26.1647 9.73906C24.1439 7.7159 21.4565 6.60124 18.5932 6.6C12.6936 6.6 7.89209 11.4013 7.88974 17.3027C7.88893 19.1891 8.3818 21.0304 9.31846 22.6536L7.8 28.2L13.474 26.7116C15.0374 27.5643 16.7975 28.0138 18.5889 28.0144H18.5933Z" fill=""/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7373 24.7739L10.3702 25.6572L11.269 22.3743L11.0574 22.0377C10.1669 20.6214 9.69658 18.9843 9.69727 17.3033C9.69921 12.3983 13.6901 8.40784 18.5972 8.40784C20.9734 8.40866 23.207 9.33518 24.8866 11.0168C26.5662 12.6983 27.4907 14.9334 27.4898 17.3105C27.4878 22.2159 23.497 26.2068 18.5937 26.2068H18.5901C16.9937 26.2062 15.428 25.7773 14.0621 24.9667L13.7373 24.7739ZM23.986 19.8564C23.9191 19.7448 23.7409 19.6779 23.4734 19.544C23.206 19.4101 21.8911 18.7632 21.6459 18.6739C21.4008 18.5846 21.2225 18.5401 21.0442 18.8077C20.866 19.0754 20.3534 19.6779 20.1974 19.8564C20.0414 20.0348 19.8854 20.0572 19.618 19.9233C19.3506 19.7894 18.4889 19.507 17.4673 18.5959C16.6723 17.8867 16.1355 17.011 15.9795 16.7432C15.8235 16.4755 15.9629 16.3308 16.0968 16.1974C16.2171 16.0775 16.3642 15.885 16.4979 15.7288C16.6317 15.5727 16.6762 15.4611 16.7654 15.2827C16.8545 15.1042 16.81 14.948 16.7431 14.8142C16.6762 14.6803 16.1414 13.3639 15.9185 12.8284C15.7014 12.3069 15.4809 12.3775 15.3168 12.3693C15.161 12.3615 14.9825 12.3598 14.8042 12.3598C14.6259 12.3598 14.3362 12.4268 14.091 12.6945C13.8459 12.9623 13.155 13.6093 13.155 14.9256C13.155 16.242 14.1133 17.5137 14.247 17.6922C14.3808 17.8707 16.1329 20.572 18.8157 21.7304C19.4538 22.006 19.9519 22.1705 20.3403 22.2938C20.981 22.4974 21.5641 22.4687 22.0248 22.3998C22.5387 22.323 23.6071 21.7528 23.8301 21.1282C24.0528 20.5033 24.0528 19.9679 23.986 19.8564Z" fill=""/>
                    </svg>
                    <span class="px-4">
                    написать в whatsapp
                    </span>
                </a>
            </div>


        </div>
        <div class="w-full md:w-1/2">
            {{> blocks/form square=false }}
        </div>
    </div>
</div>
