<div class="home-slider -mt-24 bmd:-mt-32 xl:-mt-21 z-0 overflow-hidden h-wc101 bmd:h-auto">
     {{> blocks/home_banner }}
</div>

<div class="content flex flex-col px-5 bmd:px-12 md:px-5 xl:px-4375 pt-12 items-center">
    <div class="flex flex-col bmd:flex-row">
        <div class="pt-7 w-full bmd:w-5/12 bmd:pr-16 text-base md:text-2xl ">
            «ВодоУслуги» – это содружество опытных и знающих специалистов, настоящих мастеров по всем видам работ, связанных с водой.
        </div>
        <div class="pt-7 w-full bmd:w-7/12 text-wc15p">
            <p class="mb-4">Мы обеспечиваем этой бесценной жидкостью частные дома, просчитываем и создаем полноценные, надежные системы водоочистки, отопления, канализации и водоснабжения.
            </p>
            <p>
                Комплексное благоустройство или «точечное» выполнение определенных необходимых работ и операций – все будет выполнено надежно, качественно и аккуратно. Наша команда обеспечивает и услугу дальнейшего технического сопровождения и обслуживания установленных инженерных систем. Соответственно, мы сами заинтересованы в том, чтобы гарантировать долговечность и функциональность всего оборудования.
            </p>
        </div>
    </div>
    <!--<div class="flex flex-col items-center justify-center">-->
        <div class="flex flex-col items-center justify-center">
        {{> blocks/home_form }}

        {{> blocks/catalog_blocks }}
        </div>

        {{> blocks/home_text_and_slider }}

        {{> blocks/home_advantages }}

        {{> blocks/form square=true}}
        {{> blocks/popup }}


    <!--</div>-->
</div>
