<div class="content flex flex-col px-5 bmd:px-12 md:px-5 xl:px-4375 pt-2 items-center">
    <div>
        <div class="flex flex-wrap flex-col bmd:flex-row mt-8 items-start justify-between lg:justify-center xl:justify-between w-auto overflow-x-hidden">
            {{#each catalog_blocks }}
                {{> blocks/catalog_block_page}}
            {{/each}}
        </div>
    </div>

    {{> blocks/form square=true}}

</div>
