<div class="content flex flex-col px-5 bmd:px-12 md:px-5 xl:px-4375 pt-2 items-center ">

    <div class="flex flex-col">
        <div class="inline xl:w-5/6">
            <h1 class="grayed text-2xl xl:text-4xl"><span><span class="text-bluelight">Септик для дома «Спарта»</span>: бесшумная работа и прозрачная вода без примесей и запаха</span></h1>
        </div>
        <div class="pt-7">
            <p>Индивидуальная очистная станция «Спарта» предназначена для очистки сточных вод на постоянной основе или в качестве сезонного септика. При использовании в средней полосе России можно обойтись без консервации установки на зиму, достаточно отключить компрессор на время вашего отсутствия.
            </p>

        </div>

        <div class="flex flex-col bmd:flex-row bmd:-mr-18">
            <div class="flex flex-col bmd:w-1/2 bmd:pr-4">
                <p class="font-semibold">Корпус повышенной прочности упрощает монтаж конструкции и улучшает эксплуатационные характеристики станции:
                </p>
                <div class="flex bmd:hidden h-96 -mx-6">
                    <div style="background-image: url('custom/wc/images/Rectangle 94.jpg')" class="bg-cover bg-no-repeat w-full h-full"></div>
                </div>
                <ul class="pt-7 bmd:pt-0 li-minus">
                    <li>Котлован не нуждается в укреплении железобетонными кольцами или обсыпке пескобетоном для снижения давления грунта на корпус.</li>
                    <li>Наличие грунтозацепов исключает всплытие конструкции при высоком уровне грунтовых вод.</li>
                    <li>Крепление станции к железобетонной плите не требуется.</li>
                    <li>Допускается устанавливать септик «Спарта» ниже уровня грунта.</li>
                </ul>
            </div>

            <div class="hidden bmd:flex bmd:w-1/2">
                <img src="custom/wc/images/Rectangle 94.jpg">
            </div>

        </div>

        <div class="flex flex-col bmd:flex-row -mx-6 bmd:-mx-18 md:-mx-6 xl:-mx-18 bg-cover" style="background-image:url('custom/wc/images/Rectangle 95.jpg');">

            <div class="hidden bmd:flex bmd:w-5/12 md:w-1/2">
                <img src="custom/wc/images/sparta_text_desc.png">
            </div>

            <div class="flex flex-col bmd:w-7/12 md:w-1/2 bmd:pr-4 px-6 pt-6 pr-8">
                <p class="font-semibold whited pb-2 text-2xl bmd:text-2xl md:text-4xl"><span>
                    <span class="text-bluelight">Станция очистки «Спарта»</span>: продолжает работать при отключениях электричества</span>
                </p>
                <p class="text-base bmd:text-base md:text-125 xl:text-2xl">При отсутствии электроснабжения на короткое время включается анаэробный режим, в котором станция продолжает работать как полнообъемный септик.
                    <span class="font-semibold">После возобновления подачи электричества устройство автоматически переходит в аэробный режим.</span>
                </p>
                <p class="text-base bmd:text-base md:text-125 xl:text-125">Для работы в условиях длительных отключений электричества рекомендуется купить септик «Спарта» с системой бесперебойного питания. Обеспечивает работу в аэробном режиме в течение 5 дней. </p>

                <div class="flex bmd:hidden h-96 -mx-6">
                    <div style="background-image: url('custom/wc/images/sparta_text.png')" class="bg-cover bg-no-repeat w-full h-full"></div>
                </div>
            </div>



        </div>


        <div class="flex flex-col bg-cover -mx-6 bmd:-mx-18" style="background-image:url('custom/wc/images/Rectangle 37.jpg');">
            <div class="flex flex-col px-4 bmd:px-16 py-12 text-white text-center">
                <h3 class="pb-4">Очистная станция «Спарта»: засоры исключены </h3>
                <p class="font-light">Допускается наличие пищевых остатков, мелкого мусора и средств личной гигиены в составе сточных вод.  </p>
                <div class="sparta-advantages flex flex-col bmd:flex-row space-y-8 bmd:space-y-0 items-center bmd:items-start">
                    <div class="flex flex-col items-center w-9/12 bmd:w-auto space-y-4">
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="50" fill="#798392"/>
                            <path d="M78 54.6894V45.3106L70.5805 44.074C70.1374 42.5321 69.5215 41.0475 68.7413 39.6399L73.1149 33.5169L66.4831 26.8851L60.3601 31.2587C58.9524 30.4784 57.4679 29.8625 55.926 29.4195L54.6894 22H45.3106L44.074 29.4195C42.5321 29.8626 41.0475 30.4785 39.6399 31.2587L33.5169 26.8851L26.8851 33.5169L31.2587 39.6399C30.4784 41.0476 29.8625 42.5321 29.4195 44.074L22 45.3106V54.6894L29.4195 55.926C29.8626 57.4679 30.4785 58.9525 31.2587 60.3601L26.8851 66.4831L33.5169 73.1149L39.6399 68.7413C41.0476 69.5216 42.5321 70.1375 44.074 70.5807L45.3106 78H54.6894L55.9259 70.5805C57.4678 70.1374 58.9524 69.5216 60.36 68.7412L66.483 73.1148L73.1148 66.483L68.7412 60.36C69.5215 58.9523 70.1374 57.4678 70.5804 55.9259L78 54.6894ZM68.8124 66.127L66.1269 68.8124L60.5089 64.7995C59.9583 65.0955 57.7575 66.8048 54.1054 67.6508L53.0332 67.899L51.8988 74.7059H48.1012L46.9667 67.899C46.3416 67.7107 43.6197 67.3755 40.4247 65.3821L39.491 64.7995L33.873 68.8124L31.1875 66.127L35.2004 60.509C34.8993 59.9492 33.1946 57.7558 32.3491 54.1055L32.1009 53.0333L25.2941 51.8988V48.1012L32.101 46.9667C32.2892 46.3416 32.6245 43.6197 34.6179 40.4247L35.2005 39.491L31.1876 33.873L33.8731 31.1875L39.4911 35.2004C40.0509 34.8993 42.2443 33.1946 45.8947 32.3491L46.9668 32.1009L48.1012 25.2941H51.8988L53.0332 32.101C53.658 32.2891 56.3804 32.6245 59.5752 34.6179L60.5089 35.2005L66.1269 31.1876L68.8124 33.8731L64.7995 39.4911C65.1005 40.0509 66.8053 42.2443 67.6508 45.8947L67.899 46.9668L74.7059 48.1012V51.8988L67.899 53.0333C67.7108 53.6584 67.3755 56.3803 65.3821 59.5753L64.7995 60.509L68.8124 66.127Z" fill="white"/>
                            <path d="M50 36C42.2803 36 36 42.2803 36 50C36 57.7197 42.2803 64 50 64C57.7197 64 64 57.7197 64 50C64 42.2803 57.7197 36 50 36ZM45.1934 59.5643C45.7102 57.3885 47.6684 55.7647 50 55.7647C52.3316 55.7647 54.2898 57.3885 54.8066 59.5643C51.7893 61.0868 48.2121 61.0876 45.1934 59.5643ZM47.5294 50C47.5294 48.6377 48.6377 47.5294 50 47.5294C51.3623 47.5294 52.4706 48.6377 52.4706 50C52.4706 51.3623 51.3623 52.4706 50 52.4706C48.6377 52.4706 47.5294 51.3623 47.5294 50ZM57.599 57.5335C56.9407 55.9626 55.8083 54.6388 54.3826 53.7387C55.2432 52.7313 55.7647 51.4258 55.7647 50C55.7647 46.8213 53.1787 44.2353 50 44.2353C46.8213 44.2353 44.2353 46.8213 44.2353 50C44.2353 51.4257 44.7566 52.7313 45.6174 53.7387C44.1917 54.6388 43.0593 55.9626 42.401 57.5335C40.4816 55.5976 39.2941 52.9349 39.2941 50C39.2941 44.0967 44.0967 39.2941 50 39.2941C55.9033 39.2941 60.7059 44.0967 60.7059 50C60.7059 52.9349 59.5184 55.5976 57.599 57.5335Z" fill="white"/>
                        </svg>
                        <span class="text-wc15">Мусор оседает в приемной камере и удаляется при обслуживании конструкции. </span>
                    </div>

                    <div class="flex flex-col items-center w-9/12 bmd:w-auto space-y-4">
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="50" fill="#798392"/>
                            <path d="M78 54.6894V45.3106L70.5805 44.074C70.1374 42.5321 69.5215 41.0475 68.7413 39.6399L73.1149 33.5169L66.4831 26.8851L60.3601 31.2587C58.9524 30.4784 57.4679 29.8625 55.926 29.4195L54.6894 22H45.3106L44.074 29.4195C42.5321 29.8626 41.0475 30.4785 39.6399 31.2587L33.5169 26.8851L26.8851 33.5169L31.2587 39.6399C30.4784 41.0476 29.8625 42.5321 29.4195 44.074L22 45.3106V54.6894L29.4195 55.926C29.8626 57.4679 30.4785 58.9525 31.2587 60.3601L26.8851 66.4831L33.5169 73.1149L39.6399 68.7413C41.0476 69.5216 42.5321 70.1375 44.074 70.5807L45.3106 78H54.6894L55.9259 70.5805C57.4678 70.1374 58.9524 69.5216 60.36 68.7412L66.483 73.1148L73.1148 66.483L68.7412 60.36C69.5215 58.9523 70.1374 57.4678 70.5804 55.9259L78 54.6894ZM68.8124 66.127L66.1269 68.8124L60.5089 64.7995C59.9583 65.0955 57.7575 66.8048 54.1054 67.6508L53.0332 67.899L51.8988 74.7059H48.1012L46.9667 67.899C46.3416 67.7107 43.6197 67.3755 40.4247 65.3821L39.491 64.7995L33.873 68.8124L31.1875 66.127L35.2004 60.509C34.8993 59.9492 33.1946 57.7558 32.3491 54.1055L32.1009 53.0333L25.2941 51.8988V48.1012L32.101 46.9667C32.2892 46.3416 32.6245 43.6197 34.6179 40.4247L35.2005 39.491L31.1876 33.873L33.8731 31.1875L39.4911 35.2004C40.0509 34.8993 42.2443 33.1946 45.8947 32.3491L46.9668 32.1009L48.1012 25.2941H51.8988L53.0332 32.101C53.658 32.2891 56.3804 32.6245 59.5752 34.6179L60.5089 35.2005L66.1269 31.1876L68.8124 33.8731L64.7995 39.4911C65.1005 40.0509 66.8053 42.2443 67.6508 45.8947L67.899 46.9668L74.7059 48.1012V51.8988L67.899 53.0333C67.7108 53.6584 67.3755 56.3803 65.3821 59.5753L64.7995 60.509L68.8124 66.127Z" fill="white"/>
                            <path d="M50 36C42.2803 36 36 42.2803 36 50C36 57.7197 42.2803 64 50 64C57.7197 64 64 57.7197 64 50C64 42.2803 57.7197 36 50 36ZM45.1934 59.5643C45.7102 57.3885 47.6684 55.7647 50 55.7647C52.3316 55.7647 54.2898 57.3885 54.8066 59.5643C51.7893 61.0868 48.2121 61.0876 45.1934 59.5643ZM47.5294 50C47.5294 48.6377 48.6377 47.5294 50 47.5294C51.3623 47.5294 52.4706 48.6377 52.4706 50C52.4706 51.3623 51.3623 52.4706 50 52.4706C48.6377 52.4706 47.5294 51.3623 47.5294 50ZM57.599 57.5335C56.9407 55.9626 55.8083 54.6388 54.3826 53.7387C55.2432 52.7313 55.7647 51.4258 55.7647 50C55.7647 46.8213 53.1787 44.2353 50 44.2353C46.8213 44.2353 44.2353 46.8213 44.2353 50C44.2353 51.4257 44.7566 52.7313 45.6174 53.7387C44.1917 54.6388 43.0593 55.9626 42.401 57.5335C40.4816 55.5976 39.2941 52.9349 39.2941 50C39.2941 44.0967 44.0967 39.2941 50 39.2941C55.9033 39.2941 60.7059 44.0967 60.7059 50C60.7059 52.9349 59.5184 55.5976 57.599 57.5335Z" fill="white"/>
                        </svg>
                        <span class="text-wc15">Большой объем приемной камеры позволяет не контролировать попадание в канализацию крупных предметов.  </span>
                    </div>

                    <div class="flex flex-col items-center w-9/12 bmd:w-auto space-y-4">
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="50" cy="50" r="50" fill="#798392"/>
                            <path d="M78 54.6894V45.3106L70.5805 44.074C70.1374 42.5321 69.5215 41.0475 68.7413 39.6399L73.1149 33.5169L66.4831 26.8851L60.3601 31.2587C58.9524 30.4784 57.4679 29.8625 55.926 29.4195L54.6894 22H45.3106L44.074 29.4195C42.5321 29.8626 41.0475 30.4785 39.6399 31.2587L33.5169 26.8851L26.8851 33.5169L31.2587 39.6399C30.4784 41.0476 29.8625 42.5321 29.4195 44.074L22 45.3106V54.6894L29.4195 55.926C29.8626 57.4679 30.4785 58.9525 31.2587 60.3601L26.8851 66.4831L33.5169 73.1149L39.6399 68.7413C41.0476 69.5216 42.5321 70.1375 44.074 70.5807L45.3106 78H54.6894L55.9259 70.5805C57.4678 70.1374 58.9524 69.5216 60.36 68.7412L66.483 73.1148L73.1148 66.483L68.7412 60.36C69.5215 58.9523 70.1374 57.4678 70.5804 55.9259L78 54.6894ZM68.8124 66.127L66.1269 68.8124L60.5089 64.7995C59.9583 65.0955 57.7575 66.8048 54.1054 67.6508L53.0332 67.899L51.8988 74.7059H48.1012L46.9667 67.899C46.3416 67.7107 43.6197 67.3755 40.4247 65.3821L39.491 64.7995L33.873 68.8124L31.1875 66.127L35.2004 60.509C34.8993 59.9492 33.1946 57.7558 32.3491 54.1055L32.1009 53.0333L25.2941 51.8988V48.1012L32.101 46.9667C32.2892 46.3416 32.6245 43.6197 34.6179 40.4247L35.2005 39.491L31.1876 33.873L33.8731 31.1875L39.4911 35.2004C40.0509 34.8993 42.2443 33.1946 45.8947 32.3491L46.9668 32.1009L48.1012 25.2941H51.8988L53.0332 32.101C53.658 32.2891 56.3804 32.6245 59.5752 34.6179L60.5089 35.2005L66.1269 31.1876L68.8124 33.8731L64.7995 39.4911C65.1005 40.0509 66.8053 42.2443 67.6508 45.8947L67.899 46.9668L74.7059 48.1012V51.8988L67.899 53.0333C67.7108 53.6584 67.3755 56.3803 65.3821 59.5753L64.7995 60.509L68.8124 66.127Z" fill="white"/>
                            <path d="M50 36C42.2803 36 36 42.2803 36 50C36 57.7197 42.2803 64 50 64C57.7197 64 64 57.7197 64 50C64 42.2803 57.7197 36 50 36ZM45.1934 59.5643C45.7102 57.3885 47.6684 55.7647 50 55.7647C52.3316 55.7647 54.2898 57.3885 54.8066 59.5643C51.7893 61.0868 48.2121 61.0876 45.1934 59.5643ZM47.5294 50C47.5294 48.6377 48.6377 47.5294 50 47.5294C51.3623 47.5294 52.4706 48.6377 52.4706 50C52.4706 51.3623 51.3623 52.4706 50 52.4706C48.6377 52.4706 47.5294 51.3623 47.5294 50ZM57.599 57.5335C56.9407 55.9626 55.8083 54.6388 54.3826 53.7387C55.2432 52.7313 55.7647 51.4258 55.7647 50C55.7647 46.8213 53.1787 44.2353 50 44.2353C46.8213 44.2353 44.2353 46.8213 44.2353 50C44.2353 51.4257 44.7566 52.7313 45.6174 53.7387C44.1917 54.6388 43.0593 55.9626 42.401 57.5335C40.4816 55.5976 39.2941 52.9349 39.2941 50C39.2941 44.0967 44.0967 39.2941 50 39.2941C55.9033 39.2941 60.7059 44.0967 60.7059 50C60.7059 52.9349 59.5184 55.5976 57.599 57.5335Z" fill="white"/>
                        </svg>
                        <span class="text-wc15">Бытовая химия и агрессивные жидкости в составе сточных вод не наносят вреда конструкции. </span>
                    </div>
                </div>

                <div class="flex items-center justify-center mt-8 ml-4 bmd:ml-0">
                    <div class="banner-btn ">
                        <a href="#" class="tracking-widest mx-auto bmd:mx-0 bg-bluelight">Купить септик «Спарта»</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="prich">
            <div>
                <div>
                    <span class="">Еще 5 причин выбрать <span class="text-bluelight text-xl3">септик «Спарта»</span></span>
                </div>
            </div>

            {{#each sparta_prich }}
                {{> blocks/sparta_prich_item}}
            {{/each}}

        </div>

        <div class="wc-block-7" style="background-image: url('custom/wc/images/Rectangle 101.jpg');">
            <div class="b1">
                <h3>Автономная канализация для домов и дач</h3>
                <p>Установить <span class="font-semibold">септик «Спарта»</span> следует владельцам загородных домов и дач, не подключенных к центральной канализационной системе.
                </p>
            </div>

            <div class="b2">
                <div class="b2_1">
                    <div class="b2_1_1">
                        <p>Характеристики полноценного водоочистного сооружения:</p>
                    </div>
                    <ul class="b2_1_2 li-minus">
                        <li>Быстрая и простая <span class="font-semibold">установка.</span>                    </li>
                        <li>10-летняя <span class="font-semibold">гарантия</span>  на корпус.                    </li>
                        <li><span class="font-semibold">Отсутствие контроля</span>  за работой устройства.                    </li>
                        <li><span class="font-semibold">Большой объем</span>  приемной камеры.
                        </li>
                    </ul>
                    <div class="b2_1_3">
                        <p>Водоочистная система «Спарта» — выбор тех, кто заботится об экологии и здоровье.
                        </p>
                    </div>

                    <div class="b2_1_4">
                        <div class="banner-btn ">
                            <a href="#" class="tracking-widest mx-auto bmd:mx-0 bg-bluelight">Купить септик «Спарта»</a>
                        </div>
                    </div>
                </div>

                <div class="b2_2">
                    <img src="custom/wc/images/Rectangle 94.jpg">
                </div>
            </div>



        </div>

        <div class="wc-block-8">
            <div class="b1">
                <h3>Профессиональный монтаж септика «Спарта» для сохранения высоких эксплуатационных характеристик станции </h3>
                <p>«Название компании» оказывает услугу шеф-монтажа очистительных сооружений «Спарта»:
                </p>
            </div>

            <div class="b2">
                <div class="b2_1">
                    <div class="b2_1_1">
                        <svg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_430:4966)">
                                <path d="M53.3249 35.5131V11.964C55.8405 11.2071 57.6786 8.87039 57.6786 6.11145C57.6786 2.7416 54.937 0 51.5672 0C50.1974 0 48.9315 0.453047 47.9112 1.21699L28.8202 14.4531V24.5911L24.7631 18.0469H14.3186V28.9017H0.495117V44.4436H18.1729V47.7771H6.60645C3.2366 47.7771 0.495117 50.5187 0.495117 53.8886C0.495117 57.2584 3.2366 60 6.60645 60H33.3272L33.3275 59.9981C36.6636 59.9586 39.3659 57.2339 39.3659 53.8886C39.3659 50.5187 36.6243 47.7771 33.2544 47.7771H21.688V44.4436H39.3659V19.8145L49.8095 12.5104V35.5131L43.6296 40.6004V47.3578L46.8007 50.5288L49.2864 48.0431L47.145 45.9016V42.2598L51.5672 38.6194L55.9894 42.2598V45.9016L53.5991 48.292L56.0848 50.7777L59.5048 47.3578V40.6004L53.3249 35.5131ZM14.3186 40.9283H4.01039V32.417H14.3187V40.9283H14.3186ZM27.7236 51.2925C27.352 52.0811 27.1432 52.9607 27.1432 53.8886C27.1432 54.8164 27.352 55.6962 27.7236 56.4847H12.1373C12.5089 55.6962 12.7178 54.8164 12.7178 53.8886C12.7178 52.9607 12.5089 52.0809 12.1373 51.2925H27.7236ZM4.01039 53.8886C4.01039 52.4571 5.175 51.2925 6.60645 51.2925C8.03789 51.2925 9.20262 52.4571 9.20262 53.8886C9.20262 55.3201 8.03801 56.4847 6.60645 56.4847C5.17488 56.4847 4.01039 55.3201 4.01039 53.8886ZM35.8507 53.8886C35.8507 55.3201 34.6861 56.4847 33.2545 56.4847C31.8231 56.4847 30.6585 55.3201 30.6585 53.8886C30.6585 52.4571 31.823 51.2925 33.2545 51.2925C34.686 51.2925 35.8507 52.4571 35.8507 53.8886ZM51.5672 3.51527C52.9987 3.51527 54.1634 4.67988 54.1634 6.11145C54.1634 7.54289 52.9987 8.7075 51.5672 8.7075C50.1356 8.7075 48.971 7.54289 48.971 6.11145C48.971 4.67988 50.1356 3.51527 51.5672 3.51527ZM17.8338 21.5621H22.8063L27.3565 28.9017H17.8338V21.5621ZM17.8338 32.417H29.7861L35.8506 38.4816V40.9283H17.8338V32.417ZM32.3354 29.995V16.2934L35.8507 13.8562V33.5102L32.3354 29.995ZM39.366 11.4191L45.5434 7.13625C45.7396 8.29254 46.2608 9.33914 47.0106 10.1783L39.366 15.5249V11.4191Z" fill="white"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_430:4966">
                                    <rect width="60" height="60" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="b2_1_2">
                        Установка станции в котлован
                    </div>
                </div>

                <div class="b2_1">
                    <div class="b2_1_1">
                        <svg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.2734 17.6953V21.2109H31.7578V10.5469H35.2734V0H14.1797V10.5469H17.6953V49.4531H14.1797V60H35.2734V49.4531H31.7578V38.7891H35.2734V42.3047H45.8203V17.6953H35.2734ZM17.6953 3.51562H31.7578V7.03125H17.6953V3.51562ZM31.7578 56.4844H17.6953V52.9688H31.7578V56.4844ZM28.2422 35.2734V49.4531H21.2109V10.5469H28.2422V24.7266H35.2734V35.2734H28.2422ZM42.3047 38.7891H38.7891V21.2109H42.3047V38.7891Z" fill="white"/>
                        </svg>
                    </div>
                    <div class="b2_1_2">
                        Подсоединение трубопроводов к установке.
                    </div>
                </div>

                <div class="b2_1">
                    <div class="b2_1_1">
                        <svg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                            <path d="M52.6319 18.9613H32.0729L43.0008 0H18.2849L7.36914 31.1955H24.918L17.1392 60L52.6319 18.9613ZM12.2846 27.7079L20.7597 3.48773H36.9654L26.0376 22.449H45.0047L24.4854 46.1745L29.4725 27.7079H12.2846Z" fill="white"/>
                        </svg>
                    </div>
                    <div class="b2_1_2">
                        Подключение электропитания
                    </div>
                </div>

                <div class="b2_1">
                    <div class="b2_1_1">
                        <svg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_430:4997)">
                                <path d="M54.5338 12.7169C55.7278 10.6876 55.4547 8.02706 53.7142 6.28661C51.9739 4.54616 49.3133 4.27305 47.2838 5.46704C35.4504 -2.89302 19.1362 -1.56982 8.78368 8.78273C-1.56888 19.1353 -2.89195 35.4495 5.46787 47.283C4.27388 49.3123 4.54699 51.9728 6.28744 53.7133C8.02765 55.4535 10.6884 55.7274 12.7187 54.5324C24.5683 62.9034 40.8784 61.5568 51.2181 51.2172C61.5707 40.8646 62.8937 24.5506 54.5338 12.7169ZM51.2181 8.78273C51.9064 9.47098 51.9064 10.5907 51.2181 11.2789C50.5299 11.9672 49.4101 11.9671 48.722 11.279C48.0337 10.5907 48.0337 9.47098 48.7219 8.78273C49.41 8.0946 50.5299 8.09449 51.2181 8.78273ZM8.78356 51.2173C8.09531 50.529 8.09531 49.4093 8.78356 48.7212C9.47169 48.033 10.5914 48.0328 11.2797 48.7212C11.9679 49.4094 11.9679 50.5291 11.2797 51.2174C10.5916 51.9054 9.47181 51.9054 8.78356 51.2173ZM48.722 48.721C39.6566 57.7865 25.4125 59.0045 14.9931 51.8142C15.6892 49.9333 15.2846 47.7336 13.7759 46.2249C12.2672 44.7163 10.0676 44.3116 8.18663 45.0077C0.9962 34.5884 2.21431 20.3443 11.2797 11.2789C20.3451 2.2136 34.5891 0.99537 45.0086 8.18568C43.7288 11.6435 46.2734 15.3234 49.97 15.3234C50.5958 15.3234 51.221 15.2121 51.815 14.9923C59.0055 25.4115 57.7872 39.6557 48.722 48.721Z" fill="white"/>
                                <path d="M44.2556 22.9847L46.5758 19.1179L40.8826 13.4247L37.0158 15.7449C36.4014 15.4421 35.7681 15.1797 35.1197 14.9592L34.0261 10.5847H25.9747L24.881 14.9592C24.2326 15.1798 23.5993 15.4421 22.985 15.7449L19.1181 13.4247L13.4249 19.1179L15.7451 22.9847C15.4424 23.5991 15.18 24.2325 14.9594 24.8807L10.585 25.9743V34.0256L14.9594 35.1193C15.18 35.7676 15.4425 36.4009 15.7451 37.0153L13.4249 40.8821L19.1181 46.5753L22.985 44.2551C23.5993 44.5579 24.2327 44.8203 24.881 45.0408L25.9747 49.4153H34.026L35.1196 45.0408C35.768 44.8202 36.4013 44.5578 37.0156 44.2551L40.8825 46.5753L46.5757 40.8821L44.2555 37.0153C44.5582 36.4009 44.8207 35.7676 45.0412 35.1193L49.4156 34.0256V25.9745L45.0412 24.8808C44.8208 24.2325 44.5584 23.5991 44.2556 22.9847ZM45.8858 31.2696L42.2064 32.1894C42.0059 32.8253 41.78 34.3175 40.7003 36.1816L40.1788 37.082L42.1306 40.3351L40.3353 42.1304L37.0822 40.1786C36.4887 40.4877 35.2759 41.3827 33.1946 41.938L32.1895 42.2061L31.2697 45.8856H28.7308L27.8109 42.2061C27.1751 42.0056 25.6829 41.7797 23.8188 40.7001L22.9184 40.1786L19.6653 42.1304L17.87 40.3351L19.8218 37.082C19.5127 36.4886 18.6177 35.2756 18.0624 33.1943L17.7942 32.1893L14.1148 31.2695V28.7305L17.7942 27.8107C17.9947 27.1748 18.2206 25.6826 19.3003 23.8185L19.8218 22.9181L17.87 19.665L19.6653 17.8698L22.9184 19.8215C23.5119 19.5124 24.7247 18.6174 26.806 18.0621L27.8111 17.794L28.7309 14.1146H31.2698L32.1897 17.794C32.8255 17.9945 34.3177 18.2204 36.1818 19.3L37.0822 19.8215L40.3353 17.8698L42.1306 19.665L40.1788 22.9181C40.4879 23.5115 41.3829 24.7245 41.9382 26.8058L42.2064 27.8108L45.8858 28.7306V31.2696Z" fill="white"/>
                                <path d="M30 21.1749C25.1338 21.1749 21.1748 25.1339 21.1748 30.0001C21.1748 34.8664 25.1338 38.8253 30 38.8253C34.8662 38.8253 38.8252 34.8664 38.8252 30.0001C38.8252 25.1339 34.8662 21.1749 30 21.1749ZM30 35.2953C27.0803 35.2953 24.7049 32.9199 24.7049 30.0001C24.7049 27.0804 27.0803 24.705 30 24.705C32.9198 24.705 35.2952 27.0804 35.2952 30.0001C35.2952 32.9199 32.9198 35.2953 30 35.2953Z" fill="white"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_430:4997">
                                    <rect width="60" height="60" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="b2_1_2">
                        Настройка очистительной системы.
                    </div>
                </div>

                <div class="b2_1">
                    <div class="b2_1_1">
                        <svg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_430:4983)">
                                <path d="M43.3513 32.8704L39.3527 36.869L35.3498 32.8662L44.9539 23.2621C46.0096 23.5594 47.0875 23.7048 48.1592 23.7046C51.243 23.7044 54.2708 22.4995 56.5328 20.2375C59.86 16.9103 60.9002 11.9275 59.1829 7.54343L58.2035 5.04298L51.9176 11.329L49.3795 10.6488L48.6994 8.11068L54.9852 1.82477L52.4851 0.845465C48.1013 -0.871632 43.1185 0.168465 39.791 3.49572C36.7429 6.54374 35.6142 10.9809 36.7665 15.0745L27.1625 24.6786L14.2656 11.7817L17.6873 8.36016L7.08191 0.000854492L0 7.08265L8.35919 17.6881L11.781 14.2665L24.6778 27.1633L16.1996 35.6415C11.7966 34.2622 6.99278 35.4145 3.67864 38.7286C1.32519 41.0821 0.0290477 44.2112 0.0290477 47.5394C0.0290477 50.8676 1.32519 53.9966 3.67864 56.3501C6.10776 58.7792 9.29844 59.9937 12.4894 59.9937C15.6802 59.9937 18.871 58.7792 21.3001 56.3501C24.6142 53.0359 25.7665 48.2321 24.3872 43.8291L32.8654 35.3509L36.8683 39.3538L32.8696 43.3524L47.3458 57.8286C48.7458 59.2285 50.607 59.9995 52.5869 59.9995C54.5666 59.9995 56.4278 59.2285 57.8277 57.8286C60.7175 54.9387 60.7175 50.2367 57.8277 47.3468L43.3513 32.8704ZM4.6925 7.35966L7.35892 4.69324L12.4063 8.67173L8.67099 12.4071L4.6925 7.35966ZM40.8319 15.9784L40.4126 14.908C39.2046 11.8245 39.9359 8.32011 42.2756 5.98024C43.8989 4.35708 46.0819 3.50849 48.2974 3.54339L44.7803 7.06063L46.5105 13.5178L52.9678 15.2481L56.4848 11.731C56.5202 13.9459 55.6712 16.1296 54.048 17.7528C51.7082 20.0924 48.2039 20.8239 45.1203 19.6157L44.05 19.1965L32.8652 30.3813L29.647 27.1631L40.8319 15.9784ZM20.275 42.9717L20.7339 44.0608C22.1542 47.431 21.401 51.2796 18.8153 53.8653C17.0709 55.6096 14.7805 56.4816 12.4892 56.4814C10.1986 56.4813 7.90708 55.6093 6.16316 53.8653C4.47347 52.1755 3.54277 49.929 3.54277 47.5392C3.54277 45.1495 4.47335 42.903 6.16316 41.2132C7.88143 39.495 10.1565 38.5861 12.4791 38.5861C13.6517 38.5861 14.8368 38.818 15.9676 39.2946L17.0567 39.7535L27.1623 29.6478L30.3806 32.866L20.275 42.9717ZM43.3513 37.8395L46.5696 41.0579L41.0571 46.5704L37.8389 43.3522L43.3513 37.8395ZM55.3431 55.344C54.6068 56.0801 53.628 56.4856 52.5869 56.4856C51.5457 56.4856 50.5667 56.0801 49.8306 55.344L43.5418 49.0551L49.0543 43.5426L55.3431 49.8314C56.8628 51.3512 56.8628 53.8241 55.3431 55.344Z" fill="white"/>
                                <path d="M12.4897 41.75C10.9433 41.75 9.48936 42.3523 8.39597 43.4458C7.30247 44.5393 6.7002 45.9931 6.7002 47.5395C6.7002 49.086 7.30247 50.5398 8.39586 51.6333C9.48936 52.7268 10.9433 53.329 12.4897 53.329C14.0362 53.329 15.4899 52.7268 16.5836 51.6333C18.8407 49.376 18.8407 45.703 16.5836 43.4458C15.4901 42.3523 14.0362 41.75 12.4897 41.75ZM14.0989 49.1486C13.6691 49.5784 13.0976 49.8151 12.4898 49.8151C11.8819 49.8151 11.3106 49.5784 10.8807 49.1486C10.451 48.7188 10.2143 48.1473 10.2143 47.5395C10.2143 46.9317 10.451 46.3603 10.8808 45.9304C11.3106 45.5006 11.8821 45.264 12.4899 45.264C13.0977 45.264 13.6692 45.5007 14.0991 45.9304C14.9861 46.8177 14.9861 48.2614 14.0989 49.1486Z" fill="white"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_430:4983">
                                    <rect width="60" height="60" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="b2_1_2">
                        Отладка запуска станции.
                    </div>
                </div>
            </div>
        </div>

        <div class="wc-block-9 " style="background-image: url('custom/wc/images/bg12.jpg');">
            <div class="b1">
                <h3>Фиксируем процесс, чтобы поделиться
                    с вами результатом </h3>
                <div class="b1_1">
                    <div>
                        <span>5 лет</span>
                        <span>Работы командой «Название компании»</span>
                    </div>

                    <div>
                        <span>360+</span>
                        <span>Очистных комплексов установлено</span>
                    </div>

                    <div>
                        <span>30+</span>
                        <span>Квалифицированных сотрудников</span>
                    </div>
                </div>
            </div>

            <div class="b2">
                <div class="b2_1">
                    <p>За 5 лет работы командой «Название компании» установлено 360 очистных комплексов «Спарта» на территориях коттеджных поселков и дач. Оценить объем работ и внешний вид участка, оснащенного станцией биологической очистки «Спарта», помогут фотографии процесса монтажа и установленных конструкций.
                    </p>
                </div>

                <div class="flex flex-wrap bmd:flex-nowrap">
                    <div class="order-1 bmd:order-2">
                        <div class=""><img src="custom/wc/images/b9_i1.jpg"></div>
                        <div class="flex">
                            <div class=""><img src="custom/wc/images/b9_i2.jpg"></div>
                            <div class=""><img src="custom/wc/images/b9_i3.jpg"></div>
                        </div>
                    </div>
                    <div class="order-2 bmd:order-1 w-1/2 bmd:w-auto"><img src="custom/wc/images/b9_i4.jpg"></div>
                    <div class="order-3 w-1/2 bmd:w-auto"><img src="custom/wc/images/b9_i5.jpg"></div>

                </div>
            </div>



        </div>
    </div>

</div>
