<div class="content flex flex-col px-5 bmd:px-12 md:px-5 xl:px-4375 pt-2 items-center ">
        <div class="work-slider-wrapper relative -mx-20">
            {{> blocks/work_banner }}
        </div>

        <div class="flex items-stretch flex-wrap my-12  bmd:divide-x bmd:divide-white xl:w-full sticky -top-8">
        <div class="bg-blue text-white px-5 py-3 shrink-0 w-full bmd:w-1/2 xl:w-1/4">
            <a href="#block1" class="flex hover:text-bluelight justify-between items-center">
                <span class="line-clamp-2 w-3/4 leading-4 ">Фильтры для очистки воды</span>
                <span class="rounded-full w-6 h-6 ml-4 bg-white text-bluelight hover:text-white hover:bg-bluelight  flex items-center justify-center">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                        <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
            </a>
        </div>

        <div class="bg-blue text-white px-5 py-3 shrink-0 w-full bmd:w-1/2 xl:w-1/4">
            <a href="#block2" class="flex hover:text-bluelight justify-between items-center">
                <span class="line-clamp-2 w-3/4 leading-4 ">Монтаж системы</span>
                <span class="rounded-full w-6 h-6 ml-4 bg-white text-bluelight hover:text-white hover:bg-bluelight  flex items-center justify-center">
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                            <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </span>
            </a>
        </div>

        <div class="bg-blue text-white px-5 py-3 shrink-0 w-full bmd:w-1/2 xl:w-1/4">
            <a href="#block3" class="flex hover:text-bluelight justify-between items-center">
                <span class="line-clamp-2 w-3/4 leading-4 ">Информация</span>
                <span class="rounded-full w-6 h-6 ml-4 bg-white text-bluelight hover:text-white hover:bg-bluelight  flex items-center justify-center">
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                            <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </span>
            </a>
        </div>

        <div class="bg-blue text-white px-5 py-3 shrink-0 w-full bmd:w-1/2 xl:w-1/4">
            <a href="#block4" class="flex hover:text-bluelight justify-between items-center">
                <span class="line-clamp-2 w-3/4 leading-4 ">Цены на услуги</span>
                <span class="rounded-full w-6 h-6 ml-4 bg-white text-bluelight hover:text-white hover:bg-bluelight  flex items-center justify-center">
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                            <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </span>
            </a>
        </div>
    </div>

    <div>
        <a name="block1" href="#"></a>
        <h3>Водоподготовка питьевой воды: создание системы очистки</h3>
        <p>
            Любые действия по очистке воды должны предваряться подробным ее химическим анализом. Он покажет, какие загрязнения преобладают в конкретном источнике, и обеспечит основу для выбора фильтров.
            Разумная водоподготовка воды – это индивидуально созданная система из фильтрующих элементов.
        </p>
        <div class="images-row flex flex-wrap divide-x-4 divide-white">
            <img src="custom/wc/images/Rectangle 86.png">
            <img src="custom/wc/images/Rectangle 84.png">
            <img src="custom/wc/images/Rectangle 85.png">
        </div>

        <a href="#" class="btn btn-blue btn-border-blue my-4">заказать систему очистки</a>

        <h3>Среди ее задач выделяют:</h3>
        <ul>
            <li>осветление - устранение мутности;</li>
            <li>умягчение - вывод всевозможных солей жесткости, сероводорода;</li>
            <li>механическая очистка – отделение различных примесей;</li>
            <li>обезжелезивание - вывод ионов железа и марганца;</li>
            <li>стерилизация (обеззараживание) ультрафиолетом – избавление от бактерий и вирусов.</li>
        </ul>

        <div class="bg-lightgray p-5 my-4 rounded-2xl">
            <h4>Для максимальной чистоты воду также можно подвергать озонированию или очищению методом обратного осмоса.</h4>
            <p>В большинстве случаев вовсе необязательно применять все методики сразу: по результатам анализа воды водоподготовка
                для загородного дома разрабатывается с применением только действительно необходимых фильтров и очистных устройств,
                которые объединяются в автономную установку.
            </p>
            <p>
                Водоподготовка для коттеджа, цена которой может разниться в зависимости от выбранной конфигурации и требуемой
                производительности (рассчитывается по количеству проживающих людей), должна эффективно и экономично удовлетворять
                все потребности его обитателей в чистой воде.
            </p>
        </div>
        <span class="sparta-conteiner border-red-500 border bg-red-300 consult lg:px-24 md:px-8 w-full wc-inp-wrapper-contacts hover:bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 table_over privacy_policy"></span>
        <span class="tar wcGrid cat-menu hover:rounded-2xl pre-footer-block w-max"></span>
        <!--{{> blocks/home_form }}-->

        {{> blocks/work_price }}

    </div>

</div>
