<div class="content flex flex-col px-5 bmd:px-12 md:px-5 xl:px-4375 pt-2 items-center ">
        <div class="work-slider-wrapper relative -mx-20">
            {{> blocks/work_banner }}
        </div>

    <div class="">
        <div class="flex flex-col">
            <div class="flex  justify-between bmd:mr-2 bmd:border-2 bmd:border-white">
                <h3 class="mb-2 element-d element-d_postcard element-d_photo element-d_photo_item">
                    <span class="text-gray">Шаг №1:</span> Копка котлована. Грунт очень тяжелый, последствия ледникового периода. </h3>
                <div class="element-d__images _images flex justify-center">
                    <a class="w-full" data-caption="Копка котлована. Грунт очень тяжелый, последствия ледникового периода."
                       href="http://vodouslugi/userfls/photo/large/177_dsc_2866.jpg" data-fancybox="galleryphoto">
                        <img class="object-center object-cover w-full" src="/custom/wc/images/workslide1.jpg" alt="Копка котлована. Грунт очень тяжелый, последствия ледникового периода." title="Копка котлована. Грунт очень тяжелый, последствия ледникового периода."></a>
                </div>
            </div>


        </div>

        <div class="w-full my-2 prices">
            <a name="block" href="#"></a>
            <div class="flex px-0 bmd:pl-6 bmd:pb-4 justify-between">
                <span class="text-xl font-bold">Цены на услуги:</span>
                <span>
                <a href="#" class="hover:text-bluelight justify-between items-center hidden bmd:flex">
                    <span class="line-clamp-2 leading-4 ">Отправить заявку</span>
                    <span class="rounded-full w-6 h-6 ml-4 bg-bluelight text-white hover:text-bluelight hover:bg-blue  flex items-center justify-center">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </span>
                </a>
            </span>
            </div>
            <div class="flex flex-col px-0 bmd:pl-6 bmd:pb-4">
                <h3>Копка колодцев</h3>
                <table class="table table-bordered table-striped text-center" border="1" cellpadding="2">
                    <tbody>
                    <tr>
                        <td><strong>Количество колец</strong></td>
                        <td><strong>Глубина, м.</strong></td>
                        <td><strong>Стоимость колец, руб.</strong></td>
                        <td><strong>Стоимость работ, руб.</strong></td>
                        <td><b>Кольцо + работа</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">1</td>
                        <td style="text-align: center;">0.8</td>
                        <td align="right">2.500</td>
                        <td align="right">3.000</td>
                        <td align="right">5.500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">2</td>
                        <td style="text-align: center;">1.6</td>
                        <td align="right">5.000</td>
                        <td align="right">6.000</td>
                        <td align="right">11.000</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">3</td>
                        <td style="text-align: center;">2.4</td>
                        <td align="right">7.500</td>
                        <td align="right">9.000</td>
                        <td align="right">16.500</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">4</td>
                        <td style="text-align: center;">3.2</td>
                        <td align="right">10.000</td>
                        <td align="right">12.000</td>
                        <td align="right">22.000</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">5</td>
                        <td style="text-align: center;">4.0</td>
                        <td align="right">12.500</td>
                        <td align="right">15.000</td>
                        <td align="right">27.500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">6</td>
                        <td style="text-align: center;">4.8</td>
                        <td align="right">15.000</td>
                        <td align="right">18.000</td>
                        <td align="right">33.000</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">7</td>
                        <td style="text-align: center;">5.6</td>
                        <td align="right">17.500</td>
                        <td align="right">21.000</td>
                        <td align="right">38.500</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">8</td>
                        <td style="text-align: center;">6.4</td>
                        <td align="right">20.000</td>
                        <td align="right">24.000</td>
                        <td align="right">44.000</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">9</td>
                        <td style="text-align: center;">7.2</td>
                        <td align="right">22.500</td>
                        <td align="right">27.000</td>
                        <td align="right">49.500</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">10</td>
                        <td style="text-align: center;">8.0</td>
                        <td align="right">25.000</td>
                        <td align="right">30.000</td>
                        <td align="right">55.000</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">11</td>
                        <td style="text-align: center;">8.8</td>
                        <td align="right">27.500</td>
                        <td align="right">34.000</td>
                        <td align="right">61.500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">12</td>
                        <td style="text-align: center;">9.6</td>
                        <td align="right">30.000</td>
                        <td align="right">38.000</td>
                        <td align="right">68.000</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">13</td>
                        <td style="text-align: center;">10.4</td>
                        <td align="right">32.500</td>
                        <td align="right">42.000</td>
                        <td align="right">74.500</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">14</td>
                        <td style="text-align: center;">11.2</td>
                        <td align="right">35.000</td>
                        <td align="right">46.000</td>
                        <td align="right">81.000</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">15</td>
                        <td style="text-align: center;">12.0</td>
                        <td align="right">37.500</td>
                        <td align="right">50.000</td>
                        <td align="right">87.500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">16</td>
                        <td style="text-align: center;">12.8</td>
                        <td align="right">40.000</td>
                        <td align="right">55.000</td>
                        <td align="right">95.000</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">17</td>
                        <td style="text-align: center;">13.6</td>
                        <td align="right">42.500</td>
                        <td align="right">60.000</td>
                        <td align="right">102.500</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">18</td>
                        <td style="text-align: center;">14.4</td>
                        <td align="right">45.000</td>
                        <td align="right">65.000</td>
                        <td align="right">110.000</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">19</td>
                        <td style="text-align: center;">15.2</td>
                        <td align="right">47.500</td>
                        <td align="right">70.000</td>
                        <td align="right">117.500</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td style="text-align: center;">20</td>
                        <td style="text-align: center;">16.0</td>
                        <td align="right">50.000</td>
                        <td align="right">75.000</td>
                        <td align="right">125.000</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span lang="en-us">21</span></td>
                        <td style="text-align: center;">16.8</td>
                        <td align="right">52.500</td>
                        <td align="right">81.000</td>
                        <td align="right">&nbsp;133.500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span lang="en-us">22</span></td>
                        <td style="text-align: center;">&nbsp;17.6</td>
                        <td align="right">55.000</td>
                        <td align="right">&nbsp;87.000</td>
                        <td align="right">&nbsp;142.000</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span lang="en-us">23</span></td>
                        <td style="text-align: center;">&nbsp;18.4</td>
                        <td align="right">&nbsp;57.500</td>
                        <td align="right">&nbsp;93.000</td>
                        <td align="right">&nbsp;150.500</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span lang="en-us">24</span></td>
                        <td style="text-align: center;">&nbsp;19.2</td>
                        <td align="right">&nbsp;60.000</td>
                        <td align="right">&nbsp;99.000</td>
                        <td align="right">&nbsp;159.000</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><span lang="en-us">25</span></td>
                        <td style="text-align: center;">&nbsp;20.0</td>
                        <td align="right">&nbsp;62.500</td>
                        <td align="right">&nbsp;105.000</td>
                        <td align="right">&nbsp;167.500</td>
                    </tr>
                    </tbody>
                </table>
                <p>* Копка колодца более 25 колец рассчитывается индивидуально.</p>
                <p>* Глубина колодца считается вместе с верхним кольцом.</p>
                <p>* В стоимость верхнего кольца входит: установка колец, проходка по водоносному горизонту, заделка швов, засыпка зазора между кольцами и шахтой.</p>
                <h3>Очистка колодцев</h3>
                <table class="table table-bordered table-striped text-center" border="1" cellpadding="2">
                    <tbody>
                    <tr>
                        <td>Глубина</td>
                        <td>Услуга</td>
                        <td>Стоимость, руб.</td>
                    </tr>
                    <tr>
                        <td>ДО 10 КОЛЕЦ</td>
                        <td>Откачка воды из колодца, очистка дна от ила, промазка швов ( при необходимости ) цементом с жидким стеклом.</td>
                        <td align="right">от 9.000</td>
                    </tr>
                    <tr>
                        <td>ОТ 11 ДО 15 КОЛЕЦ</td>
                        <td>Откачка воды из колодца, очистка дна от ила, промазка швов ( при необходимости ) цементом с жидким стеклом.</td>
                        <td align="right">от 13.000</td>
                    </tr>
                    <tr>
                        <td>ОТ 16 ДО 20 КОЛЕЦ</td>
                        <td>Откачка воды из колодца, очистка дна от ила, промазка швов ( при необходимости ) цементом с жидким стеклом.</td>
                        <td align="right">от 16.000</td>
                    </tr>
                    <tr>
                        <td>ОТ 21 ДО 25 КОЛЕЦ&nbsp;</td>
                        <td>Откачка воды из колодца, очистка дна от ила, промазка швов ( при необходимости ) цементом с жидким стеклом.</td>
                        <td align="right">от 21.000</td>
                    </tr>
                    </tbody>
                </table>
                <h3>Чистка колодца с применением керхера и дезинфекции марганцем</h3>
                <table class="table table-bordered table-striped text-center" border="1" cellpadding="2">
                    <tbody>
                    <tr>
                        <td>Глубина</td>
                        <td>Услуга</td>
                        <td>Стоимость, руб.</td>
                    </tr>
                    <tr>
                        <td>ДО 10 КОЛЕЦ</td>
                        <td>Откачка воды из колодца, очистка дна от ила, очистка стенок колодца высоким давлением, дезинфекция колодца, промазка швов цементом с жидким стеклом.</td>
                        <td>&nbsp;от 18.000</td>
                    </tr>
                    <tr>
                        <td>ОТ 11 ДО 15 КОЛЕЦ&nbsp;</td>
                        <td>Откачка воды из колодца, очистка дна от ила, очистка стенок колодца высоким давлением, дезинфекция колодца, промазка швов цементом с жидким стеклом.</td>
                        <td>&nbsp;от 21.000</td>
                    </tr>
                    <tr>
                        <td>ОТ 16 ДО 20 КОЛЕЦ</td>
                        <td>Откачка воды из колодца, очистка дна от ила, очистка стенок колодца высоким давлением, дезинфекция колодца, промазка швов цементом с жидким стеклом.</td>
                        <td>&nbsp;от 25.000</td>
                    </tr>
                    <tr>
                        <td>ОТ 21 ДО 25 КОЛЕЦ</td>
                        <td>Откачка воды из колодца, очистка дна от ила, очистка стенок колодца высоким давлением, дезинфекция колодца, промазка швов цементом с жидким стеклом.</td>
                        <td>&nbsp;от 30.000</td>
                    </tr>
                    </tbody>
                </table>
                <p><span style="font-size: 1.17em;">&nbsp;</span></p>
                <p><span style="font-size: medium;">Бесплатно:</span></p>
                <ul>
                    <li>Доставка материалов до объекта в пределах 80км от МКАД, далее 50 рублей/км.</li>
                    <li>Перенос грунта на расстояние до 5 м;</li>
                    <li>Перекатка колец на расстояние до 20 метров от их выгрузки, далее по 300 руб. за кольцо;</li>
                    <li>Промазка швов с применением цемента и жидкого стекла.</li>
                </ul>
                <h3>Поднятие грунта и установка колец:</h3>
                <ul>
                    <li>Проходка грунта, которая требует применение лома учитывается с коэф. 1.5.</li>
                    <li>Валуны от 50 кг- договорная</li>
                    <li>Проходка скальных пород, известняка - от 12.000 руб.</li>
                    <li>марена, юра ( прессованная глина с песком и мелким щебнем) увеличивает стоимость работ на 50% руб.</li>
                    <li>скобирование швов (3 скобы) - 1.200 руб</li>
                    <li>установка колец на раствор - 1.200 руб. единица</li>
                </ul>
                <h3>Цены на материалы:</h3>
                <ul>
                    <li>Стоимость кольца &ndash; 2500 рублей.&nbsp;</li>
                    <li>Колодезный домик КЛАССИЧЕСКИЙ - 9.500 рублей;</li>
                    <li>Плита перекрытия с люком ППЛ 10 - 4.300 (с доставкой и установкой) ;</li>
                    <li>Фильтр из гравия&ndash; 3.500 рублей;</li>
                </ul>
                <p>Цены действительны до 31 декабря 2021 г.</p>
            </div>

            <a href="#" class="hover:text-bluelight items-center flex bmd:hidden mt-3">
                <span class="line-clamp-2 leading-4 ">Отправить заявку</span>
                <span class="rounded-full w-6 h-6 ml-4 bg-bluelight text-white hover:text-bluelight hover:bg-white  flex items-center justify-center">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </span>
            </a>
        </div>


        <!--123-->
        <div class="_text"><p><img src="/userfls/images/vodoochistka.jpg" alt="Заказать, купить систему водоочистки в Москве и Московской области (Подмосковье). Недорогой заказ оборудования для очистки питьевой воды по низкой цене." title="Заказать систему водоочистки дома." align="left" hspace="30" vspace="10" width="300" height="200">Важность качественной и чистой воды для нормальной, комфортной жизни сложно переоценить. Загрязненная или слишком жесткая вода со временем выводит из строя инженерные системы, отопительные и водонагревательные приборы, стиральные машинки, а здоровью людей может и вовсе непоправимо навредить. Поэтому грамотная водоподготовка для коттеджа становится жизненно важным моментом.</p>
            <p>Под словами водоподготовка для дома подразумевается целый комплекс мероприятий, призванных обеспечить дачу либо коттедж адекватно очищенной водой на годы вперед. Профессиональный подход к этой задаче крайне важен: разновидностей фильтрующих элементов на рынке существует громадное количество, но выбирать нужные следует индивидуально.</p>
            <h3>Водоподготовка питьевой воды: создание системы очистки</h3>
            <p>Любые действия по очистке воды должны предваряться подробным ее химическим анализом. Он покажет, какие загрязнения преобладают в конкретном источнике, и обеспечит основу для выбора фильтров.</p>
            <p>Разумная водоподготовка воды – это индивидуально созданная система из фильтрующих элементов.</p>
            <p><strong> Среди ее задач выделяют:</strong></p>
            <ul>
                <li>осветление - устранение мутности;</li>
                <li>умягчение - вывод всевозможных солей жесткости, сероводорода;</li>
                <li>механическая очистка – отделение различных примесей;</li>
                <li>обезжелезивание - вывод ионов железа и марганца;</li>
                <li>стерилизация (обеззараживание) ультрафиолетом – избавление от бактерий и вирусов.</li>
            </ul>
            <p class="gr">Для максимальной чистоты воду также можно подвергать озонированию или очищению методом обратного осмоса.</p>
            <p>В большинстве случаев вовсе необязательно применять все методики сразу: по результатам анализа воды водоподготовка для загородного дома разрабатывается с применением только действительно необходимых фильтров и очистных устройств, которые объединяются в автономную установку.</p>
            <p>Водоподготовка для коттеджа, цена которой может разниться в зависимости от выбранной конфигурации и требуемой производительности (рассчитывается по количеству проживающих людей), должна эффективно и экономично удовлетворять все потребности его обитателей в чистой воде.</p>
            <p>Чтобы водоподготовка для дачи или загородной усадьбы оправдала все ожидания и не требовала дополнительных затрат, доверять создание этой сложной инженерной системы следует опытным мастерам.</p>
            <p>Правильно очищенная вода должна соответствовать нормативам СанПиН. Владельцу дома следует соблюдать все правила пользования системой водоподготовки согласно инструктажу, полученному от специалистов подрядчика. А также – регулярно (каждые полгода-год) проверять качество воды, ведь если изменится ее состав в источнике, потребуется и корректировка очистной системы.</p></div>


        <div class="reviews flex flex-col">
            <div class="review flex flex-wrap bmd:flex-nowrap justify-between">
                <div class="mr-4 w-full bmd:w-1/4 "><img src="/images/cat1.jpg" class="object-cover"></div>
                <div class="flex flex-col">
                    <div>123</div>
                    <div>123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 </div>
                    <div>1515115</div>
                </div>
            </div>

            <div class="review flex flex-wrap bmd:flex-nowrap justify-between">
                <div class="mr-4 w-full bmd:w-1/4 "><img src="/images/cat1.jpg" class="object-cover" width="250"></div>
                <div class="flex flex-col w-full bmd:w-3/4">
                    <div>123</div>
                    <div>123 123 123 123 123 123 123 123 123 1123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 </div>
                    <div>1515115</div>
                </div>
            </div>

            <div class="review flex flex-wrap bmd:flex-nowrap justify-between">
                <div class="mr-4 w-full bmd:w-1/4 "><img src="/images/cat1.jpg" class="object-cover" width="350"></div>
                <div class="flex flex-col">
                    <div>123</div>
                    <div>123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 </div>
                    <div>1515115</div>
                </div>
            </div>

        </div>

        <div class="video border-red-500">
            <div class="_text">
                <blockquote>
                    <iframe class="wcframe"></iframe>
                </blockquote>
                <div class="gr">
                    <iframe class="wcframe"></iframe>
                </div>
            </div>
        </div>
        <!--{{> blocks/home_form }}-->

        {{> blocks/work_price }}

    </div>

</div>
