<div class="content flex flex-col px-5 bmd:px-12 md:px-5 xl:px-4375 pt-2 items-center">
        <div class="works-wrapper">
            {{#each works }}
                {{> blocks/work i=@index}}
            {{/each}}
        </div>
    <div class="flex justify-center items-center flex-col my-12">
        <div class="text-center mb-4 font-bold text-xl bmd:text-2xl w-full bmd:w-3/4">
            Хотите так же? Компания “Водоуслуги” готова вам помочь в осуществлении!
        </div>
        <div class="flex justify-center">
            <div class="banner-btn">
                <a href="#" class="tracking-widest mx-auto bmd:mx-0">заказать консультацию эксперта</a>
            </div>
        </div>
    </div>

    {{> blocks/paging }}


</div>

