<div class="flex flex-col px-5 bmd:px-12 md:px-5 xl:px-4375 pt-4 bmd:pt-8 items-left">
    <h1 class="text-2xl bmd:text-2625 font-bold"></h1>
    <div>
        <ul class="flex flex-wrap breadcrumbs">
            <li><a href="#">Главная</a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
</div>
