<div class="cat-block flex w-80 mbd:w-80
bmd:w-80 md:w-80 xl:w-90 mb-2 lg:mx-2 xl:mx-0" >

    <div class="flex flex-col w-full h-full">
        <div class="bg-cover bg-center w-full h-56 bmd:h-60 md:h-56 xl:h-158125" style="background-image:url()">

        </div>
        <div class="w-full flex mt-2">
            <div class="text-black font-semibold text-125 h-16">
                <a href="#" class="">
                
                </a>
            </div>
        </div>

        <div class="flex flex-col">
            <div class="w-full mx-4">
                <ul class="text-black text-base pl-2 mt-4 ml-4">
                </ul>
            </div>
        </div>

        <div class="w-auto flex">
            <a href="#" class="cat-link z-20 rounded-full border border-white border-opacity-20 p-1 text-bluelight hover:text-black flex items-center justify-center" >
                Подробнее
                <span class="rounded-full w-6 h-6 ml-4 bg-bluelight text-white hover:bg-black flex items-center justify-center">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                        <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
            </a>
        </div>

    </div>

</div>

