<div>
    <div class="flex flex-wrap flex-col bmd:flex-row mt-8 items-center justify-between lg:justify-center xl:justify-between w-auto overflow-x-hidden">
            <div class="cat-block flex w-80 mbd:w-80 h-56
            bmd:w-80 bmd:h-60 md:w-80 md:h-56 xl:w-90 xl:h-158125 mb-2 lg:mx-2 xl:mx-0
            relative bg-cover bg-center" style="background-image:url(custom/wc/images/cat1.jpg)">
            
                <div class="cat w-full absolute bottom-0 h-16 flex left-5 transition transition-all duration-500 z-30 transform translate-y-0">
                    <div class="text-white font-semibold text-lg w-3/5 h-16">
                        <a href="#" class="absolute z-20">
                        Строительство колодцев
                        </a>
                    </div>
                    <div class="w-auto flex absolute right-10 bottom-10">
                        <a href="#" class="cat-link z-20 rounded-full border border-white border-opacity-20 p-1">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div class="subcats absolute inset-0 z-10 bg-blue bg-opacity-20 flex flex-col transition transition-all duration-500">
                    <div class="text-white font-semibold text-lg w-full h-16">
            
                    </div>
                    <div class="w-full mx-4">
                        <ul class="text-white text-base pl-2 mt-4 ml-4">
                            <li class="list-disc">
                                <a href="#">
                                    cat1
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat2
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat3
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
            
            <div class="cat-block flex w-80 mbd:w-80 h-56
            bmd:w-80 bmd:h-60 md:w-80 md:h-56 xl:w-90 xl:h-158125 mb-2 lg:mx-2 xl:mx-0
            relative bg-cover bg-center" style="background-image:url(custom/wc/images/cat2.jpg)">
            
                <div class="cat w-full absolute bottom-0 h-16 flex left-5 transition transition-all duration-500 z-30 transform translate-y-0">
                    <div class="text-white font-semibold text-lg w-3/5 h-16">
                        <a href="#" class="absolute z-20">
                        Продажа и монтаж водоочистных систем
                        </a>
                    </div>
                    <div class="w-auto flex absolute right-10 bottom-10">
                        <a href="#" class="cat-link z-20 rounded-full border border-white border-opacity-20 p-1">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div class="subcats absolute inset-0 z-10 bg-blue bg-opacity-20 flex flex-col transition transition-all duration-500">
                    <div class="text-white font-semibold text-lg w-full h-16">
            
                    </div>
                    <div class="w-full mx-4">
                        <ul class="text-white text-base pl-2 mt-4 ml-4">
                            <li class="list-disc">
                                <a href="#">
                                    cat1
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat2
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat3
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
            
            <div class="cat-block flex w-80 mbd:w-80 h-56
            bmd:w-80 bmd:h-60 md:w-80 md:h-56 xl:w-90 xl:h-158125 mb-2 lg:mx-2 xl:mx-0
            relative bg-cover bg-center" style="background-image:url(custom/wc/images/cat3.jpg)">
            
                <div class="cat w-full absolute bottom-0 h-16 flex left-5 transition transition-all duration-500 z-30 transform translate-y-0">
                    <div class="text-white font-semibold text-lg w-3/5 h-16">
                        <a href="#" class="absolute z-20">
                        Водоснабжение “под ключ”
                        </a>
                    </div>
                    <div class="w-auto flex absolute right-10 bottom-10">
                        <a href="#" class="cat-link z-20 rounded-full border border-white border-opacity-20 p-1">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div class="subcats absolute inset-0 z-10 bg-blue bg-opacity-20 flex flex-col transition transition-all duration-500">
                    <div class="text-white font-semibold text-lg w-full h-16">
            
                    </div>
                    <div class="w-full mx-4">
                        <ul class="text-white text-base pl-2 mt-4 ml-4">
                            <li class="list-disc">
                                <a href="#">
                                    cat1
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat2
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat3
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
            
            <div class="cat-block flex w-80 mbd:w-80 h-56
            bmd:w-80 bmd:h-60 md:w-80 md:h-56 xl:w-90 xl:h-158125 mb-2 lg:mx-2 xl:mx-0
            relative bg-cover bg-center" style="background-image:url(custom/wc/images/cat4.jpg)">
            
                <div class="cat w-full absolute bottom-0 h-16 flex left-5 transition transition-all duration-500 z-30 transform translate-y-0">
                    <div class="text-white font-semibold text-lg w-3/5 h-16">
                        <a href="#" class="absolute z-20">
                        Проектирование и монтаж систем отопления
                        </a>
                    </div>
                    <div class="w-auto flex absolute right-10 bottom-10">
                        <a href="#" class="cat-link z-20 rounded-full border border-white border-opacity-20 p-1">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div class="subcats absolute inset-0 z-10 bg-blue bg-opacity-20 flex flex-col transition transition-all duration-500">
                    <div class="text-white font-semibold text-lg w-full h-16">
            
                    </div>
                    <div class="w-full mx-4">
                        <ul class="text-white text-base pl-2 mt-4 ml-4">
                            <li class="list-disc">
                                <a href="#">
                                    cat1
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat2
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat3
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
            
            <div class="cat-block flex w-80 mbd:w-80 h-56
            bmd:w-80 bmd:h-60 md:w-80 md:h-56 xl:w-90 xl:h-158125 mb-2 lg:mx-2 xl:mx-0
            relative bg-cover bg-center" style="background-image:url(custom/wc/images/cat5.jpg)">
            
                <div class="cat w-full absolute bottom-0 h-16 flex left-5 transition transition-all duration-500 z-30 transform translate-y-0">
                    <div class="text-white font-semibold text-lg w-3/5 h-16">
                        <a href="#" class="absolute z-20">
                        Септики для канализации
                        </a>
                    </div>
                    <div class="w-auto flex absolute right-10 bottom-10">
                        <a href="#" class="cat-link z-20 rounded-full border border-white border-opacity-20 p-1">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div class="subcats absolute inset-0 z-10 bg-blue bg-opacity-20 flex flex-col transition transition-all duration-500">
                    <div class="text-white font-semibold text-lg w-full h-16">
            
                    </div>
                    <div class="w-full mx-4">
                        <ul class="text-white text-base pl-2 mt-4 ml-4">
                            <li class="list-disc">
                                <a href="#">
                                    cat1
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat2
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat3
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
            
            <div class="cat-block flex w-80 mbd:w-80 h-56
            bmd:w-80 bmd:h-60 md:w-80 md:h-56 xl:w-90 xl:h-158125 mb-2 lg:mx-2 xl:mx-0
            relative bg-cover bg-center" style="background-image:url(custom/wc/images/cat6.jpg)">
            
                <div class="cat w-full absolute bottom-0 h-16 flex left-5 transition transition-all duration-500 z-30 transform translate-y-0">
                    <div class="text-white font-semibold text-lg w-3/5 h-16">
                        <a href="#" class="absolute z-20">
                        Погреба Kellari
                        </a>
                    </div>
                    <div class="w-auto flex absolute right-10 bottom-10">
                        <a href="#" class="cat-link z-20 rounded-full border border-white border-opacity-20 p-1">
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div class="subcats absolute inset-0 z-10 bg-blue bg-opacity-20 flex flex-col transition transition-all duration-500">
                    <div class="text-white font-semibold text-lg w-full h-16">
            
                    </div>
                    <div class="w-full mx-4">
                        <ul class="text-white text-base pl-2 mt-4 ml-4">
                            <li class="list-disc">
                                <a href="#">
                                    cat1
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat2
                                </a>
                            </li>
                            <li class="list-disc">
                                <a href="#">
                                    cat3
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
            
    </div>
</div>
