<div class="h-auto w-full bmd:w-max lg:w-screen lg:ml-64 xl:w-auto xl:-ml-20 xl:-mr-20 full bg-cover relative flex" style="background-image:url(custom/wc/images/popup_bg.jpg)">
    <div class="form-content bg-graybg bg-opacity-40 flex-col text-white p-4 lg:pl-16">
        <div class="form-title text-125 text-left pb-4">
            Остались вопросы?<br>
            Задайте их нашему эксперту!
        </div>
        <div class="form-title-divider"></div>
        <form class="w-full bmd:w-auto wc-form">

            <div class="wc-inp-wrapper">
                <input type="text" class="wc-inp">
                <span class="wc-placeholder">Введите ваше имя</span>
            </div>
            <div class="wc-inp-wrapper">
                <input type="tel" class="wc-inp error">
                <span class="wc-placeholder">Введите ваш телефон</span>
            </div>
            <div class="break hidden lg:flex"></div>

            <div class="wc-inp-wrapper wc-textarea-wrapper">
                <textarea class="wc-inp"></textarea>
                <span class="wc-placeholder">Введите ваше сообщение</span>
            </div>

            <div class="break hidden lg:flex"></div>

            <div class="wc-inp-wrapper wc-check">
                <input type="checkbox" class="">
                <span><span>Отправляя заявку, вы принимаете <a href="#">условия обработки персональных данных</a></span></span>
            </div>

            <div class="wc-inp-wrapper">
                <input type="submit" class="btn btn-blue btn-border-blue form-submit">
            </div>
        </form>

    </div>

</div>
