<div class="lg:hidden max-w-screen flex flex-col z-20 overflow-x-hidden sticky top-0">
    <div class="flex flex-row w-full bg-blue bg-opacity-40 pt-2 h-13 pl-5 justify-between">
        <div class="logo flex mb-6 order-1 lg:order-none ">
            <div>
                <img src="custom/wc/images/logo.svg" class="w-10 h-10">
            </div>
            <div class="flex flex-col text-white pl-3">
                <span class="uppercase font-bold text-xl lg:text-wc13">Водоуслуги</span>
                <span class="font-exo2 text-xs -mt-1">Широкий спектр услуг</span>
            </div>
        </div>

        <div class="phones h-10 text-center text-white font-bold text-base pt-2 items-center hidden bmd:flex md:hidden order-2 lg:order-none">
            <a href="#" class="bmd:pr-2">+7 (495) 975 75 13</a>
            <a href="#">+7 (903) 233 80 85</a>
        </div>

        <div class="lg:hidden w-28 flex items-center justify-center order-3 lg:order-none">
            <a href="#" class="menu-btn-mob w-28 h-10 bg-white rounded-full -mt-2 -ml-6 flex items-center justify-center text-bluelight text-wc10">
                <svg width="14" height="14" viewBox="0 0 14 14" class="fill-current" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.91699 7.81663L2.91699 6.18329L11.0837 6.18329L11.0837 7.81663L2.91699 7.81663ZM5.36699 11.0833L5.36699 9.33325L11.0837 9.33325L11.0837 11.0833L5.36699 11.0833ZM7.58366 2.91657L7.58366 4.5499L11.0837 4.5499L11.0837 2.91657L7.58366 2.91657Z" fill="#4788E8"/>
                </svg>
                <span class="text-bluelight font-bold uppercase">
                                меню
                            </span>
            </a>
        </div>
    </div>

    <div class="phones h-wc325 text-center w-full order-5 hidden bmd:flex text-white justify-around
                font-bold pt-2 items-center text-base mx-auto bmd:hidden border-b border-white border-opacity-20">
        <a href="#" class="bmd:pr-2">+7 (495) 975 75 13</a>
        <a href="#">+7 (903) 233 80 85</a>
    </div>

</div>
