<div class="home_form pt-7 pb-7 bmd:-ml-12 bmd:-mr-12 xl:-mx-4375 px-5 bmd:px-12 bg-cover bg-center my-5 md:my-16
w-screen md:w-full xl:w-auto bmd:box-content flex flex-col md:flex-row items-center order-first md:order-2 overflow-x-hidden" style="background-image:url(custom/wc/images/home_form_bg.jpg)">

    <div class="font-semibold text-base bmd:text-2xl text-white text-center md:w-2/5 lg:w-2/5 xl:mx-14 px-0 bmd:px-4 md:px-28 lg:px-8 xl:px-0">Есть вопросы? Закажите бесплатную консультацию менеджера!</div>
    <form class="py-4 md:w-full max-w-xl flex justify-center items-center bmd:ml-12">
        <div class="inp_wrapper rounded-full bg-none md:bg-white w-full flex flex-col md:flex-row justify-end relative">
            <input type="text" class="h-14 bmd:h-16 rounded-full w-full outline-none border-none shadow-none focus:outline-none focus:shadow-none focus:border-none pl-8" maxlength="15">
            <button class="bg-bluelight text-white uppercase text-wc10 rounded-full justify-self-end h-14 mt-1 w-74 bmd:w-64 md:absolute md:right-1">Заказать консультацию</button>
        </div>
    </form>
</div>
