<div class="flex flex-nowrap pt-2 items-center justify-between my-4 w-auto paging max-w-full">

        <a href="#" class="text-bluelight flex items-center justify-center h-8 w-8 transform -scale-x-1  ring-darkgray ring-1 ring-opacity-30 rounded-full flex-shrink-0">
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>

        <ul class="flex flex-nowrap items-center justify-between w-auto overflow-x-hidden">


            <li>
                <a href="#" class="text-bluelight flex items-center justify-center h-8 w-8 ">
                    <span>1</span>
                </a>
            </li>

            <li class="active">
                <a href="#" class="text-bluelight flex items-center justify-center h-8 w-8">
                    <span>2</span>
                </a>
            </li>

            <li>
                <a href="#" class="text-bluelight flex items-center justify-center h-8 w-8 ">
                    <span>3</span>
                </a>
            </li>

            <li>
                <a href="#" class="text-bluelight flex items-center justify-center h-8 w-8 ">
                    <span>1</span>
                </a>
            </li>

            <li class="active">
                <a href="#" class="text-bluelight flex items-center justify-center h-8 w-8">
                    <span>2</span>
                </a>
            </li>

            <li>
                <a href="#" class="text-bluelight flex items-center justify-center h-8 w-8 ">
                    <span>3</span>
                </a>
            </li>

            <li>
                <a href="#" class="text-bluelight flex items-center justify-center h-8 w-8 ">
                    <span>1</span>
                </a>
            </li>

            <li class="active">
                <a href="#" class="text-bluelight flex items-center justify-center h-8 w-8">
                    <span>2</span>
                </a>
            </li>

            <li>
                <a href="#" class="text-bluelight flex items-center justify-center h-8 w-8 ">
                    <span>3</span>
                </a>
            </li>


        </ul>

        <a href="#" class="text-bluelight flex items-center justify-center h-8 w-8 ring-darkgray ring-1 ring-opacity-30 rounded-full flex-shrink-0">
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>

</div>
