<div class="popup fixed" data-form="p1">
    <div class="absolute popup-wrapper">
        <span class="close-btn">
            <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" class="fill-current w-full h-full pointer-events-none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.6875 9C1.6875 4.96278 4.96278 1.6875 9 1.6875C13.0372 1.6875 16.3125 4.96278 16.3125 9C16.3125 13.0372 13.0372 16.3125 9 16.3125C4.96278 16.3125 1.6875 13.0372 1.6875 9ZM9 2.8125C5.5841 2.8125 2.8125 5.5841 2.8125 9C2.8125 12.4159 5.5841 15.1875 9 15.1875C12.4159 15.1875 15.1875 12.4159 15.1875 9C15.1875 5.5841 12.4159 2.8125 9 2.8125Z" fill=""/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.35225 6.35225C6.57192 6.13258 6.92808 6.13258 7.14775 6.35225L11.6477 10.8523C11.8674 11.0719 11.8674 11.4281 11.6477 11.6477C11.4281 11.8674 11.0719 11.8674 10.8523 11.6477L6.35225 7.14775C6.13258 6.92808 6.13258 6.57192 6.35225 6.35225Z" fill=""/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6477 6.35225C11.8674 6.57192 11.8674 6.92808 11.6477 7.14775L7.14775 11.6477C6.92808 11.8674 6.57192 11.8674 6.35225 11.6477C6.13258 11.4281 6.13258 11.0719 6.35225 10.8523L10.8523 6.35225C11.0719 6.13258 11.4281 6.13258 11.6477 6.35225Z" fill=""/>
                </svg>
        </span>
        <div class="h-auto w-full bmd:w-max lg:w-screen lg:ml-64 xl:w-auto xl:-ml-20 xl:-mr-20 full bg-cover relative flex" style="background-image:url(custom/wc/images/popup_bg.jpg)">
            <div class="form-content bg-graybg bg-opacity-40 flex-col text-white p-4 lg:pl-16">
                <div class="form-title text-125 text-left pb-4">
                    Остались вопросы?<br>
                    Задайте их нашему эксперту!
                </div>
                <div class="form-title-divider"></div>
                <form class="w-full bmd:w-auto wc-form">
        
                    <div class="wc-inp-wrapper">
                        <input type="text" class="wc-inp">
                        <span class="wc-placeholder">Введите ваше имя</span>
                    </div>
                    <div class="wc-inp-wrapper">
                        <input type="tel" class="wc-inp error">
                        <span class="wc-placeholder">Введите ваш телефон</span>
                    </div>
                    <div class="break hidden lg:flex"></div>
        
                    <div class="wc-inp-wrapper wc-textarea-wrapper">
                        <textarea class="wc-inp"></textarea>
                        <span class="wc-placeholder">Введите ваше сообщение</span>
                    </div>
        
                    <div class="break hidden lg:flex"></div>
        
                    <div class="wc-inp-wrapper wc-check">
                        <input type="checkbox" class="">
                        <span><span>Отправляя заявку, вы принимаете <a href="#">условия обработки персональных данных</a></span></span>
                    </div>
        
                    <div class="wc-inp-wrapper">
                        <input type="submit" class="btn btn-blue btn-border-blue form-submit">
                    </div>
                </form>
        
            </div>
        
        </div>
    </div>
</div>
