<div class="pt-7 pb-7 bmd:px-5 flex bmd:w-7/12 flex-col">
    <p class="text-wc15">Комфорт, уют и здоровье – все это можно обеспечить быстро и надежно благодаря комплексной работе мастеров бригады «ВодоУслуги»! Сотрудничество с одним подрядчиком, создающим сразу системы водоснабжения и водоочистки, канализации и отопления – это оптимальный по стоимости и практичности выбор.</p>
    <div class="flex py-5">
        <img src="custom/wc/images/Ellipse 20.jpg" class="object-contain rounded-full">
        <div class="flex flex-col pl-4">
            <span class="font-bold">Виталий Константинович Иванов</span>
            <span class="text-gray text-wc13p">Директор компании “Водоуслуги”</span>
        </div>
    </div>
</div>
