<div class="review-slider-wrapper relative bg-lightgray">
    <div class="absolute top-4 left-5">
        <span class="text-4xl font-bold">Что говорят наши клиенты:</span>
    </div>

    <div class="review-slider">
            <div class="select-none">
                <div class="flex flex-col">
                    <p class="text-wc15">Комфорт, уют и здоровье – все это можно обеспечить быстро и надежно благодаря комплексной работе мастеров бригады «ВодоУслуги»! Сотрудничество с одним подрядчиком, создающим сразу системы водоснабжения и водоочистки, канализации и отопления – это оптимальный по стоимости и практичности выбор.</p>
                    <div class="flex py-5">
                        <img src="custom/wc/images/Ellipse 20.jpg" class="object-contain rounded-full">
                        <div class="flex flex-col pl-4">
                            <span class="font-bold">Виталий Константинович Иванов</span>
                            <span class="text-gray text-wc13p">Директор компании “Водоуслуги”</span>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="select-none">
                <div class="flex flex-col">
                    <p class="text-wc15">Комфорт, уют и здоровье – все это можно обеспечить быстро и надежно благодаря комплексной работе мастеров бригады «ВодоУслуги»! Сотрудничество с одним подрядчиком, создающим сразу системы водоснабжения и водоочистки, канализации и отопления – это оптимальный по стоимости и практичности выбор.</p>
                    <div class="flex py-5">
                        <img src="custom/wc/images/Ellipse 20.jpg" class="object-contain rounded-full">
                        <div class="flex flex-col pl-4">
                            <span class="font-bold">Виталий Константинович Иванов</span>
                            <span class="text-gray text-wc13p">Директор компании “Водоуслуги”</span>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="select-none">
                <div class="flex flex-col">
                    <p class="text-wc15">Комфорт, уют и здоровье – все это можно обеспечить быстро и надежно благодаря комплексной работе мастеров бригады «ВодоУслуги»! Сотрудничество с одним подрядчиком, создающим сразу системы водоснабжения и водоочистки, канализации и отопления – это оптимальный по стоимости и практичности выбор.</p>
                    <div class="flex py-5">
                        <img src="custom/wc/images/Ellipse 20.jpg" class="object-contain rounded-full">
                        <div class="flex flex-col pl-4">
                            <span class="font-bold">Виталий Константинович Иванов</span>
                            <span class="text-gray text-wc13p">Директор компании “Водоуслуги”</span>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="select-none">
                <div class="flex flex-col">
                    <p class="text-wc15">Комфорт, уют и здоровье – все это можно обеспечить быстро и надежно благодаря комплексной работе мастеров бригады «ВодоУслуги»! Сотрудничество с одним подрядчиком, создающим сразу системы водоснабжения и водоочистки, канализации и отопления – это оптимальный по стоимости и практичности выбор.</p>
                    <div class="flex py-5">
                        <img src="custom/wc/images/Ellipse 20.jpg" class="object-contain rounded-full">
                        <div class="flex flex-col pl-4">
                            <span class="font-bold">Виталий Константинович Иванов</span>
                            <span class="text-gray text-wc13p">Директор компании “Водоуслуги”</span>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="select-none">
                <div class="flex flex-col">
                    <p class="text-wc15">Комфорт, уют и здоровье – все это можно обеспечить быстро и надежно благодаря комплексной работе мастеров бригады «ВодоУслуги»! Сотрудничество с одним подрядчиком, создающим сразу системы водоснабжения и водоочистки, канализации и отопления – это оптимальный по стоимости и практичности выбор.</p>
                    <div class="flex py-5">
                        <img src="custom/wc/images/Ellipse 20.jpg" class="object-contain rounded-full">
                        <div class="flex flex-col pl-4">
                            <span class="font-bold">Виталий Константинович Иванов</span>
                            <span class="text-gray text-wc13p">Директор компании “Водоуслуги”</span>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="select-none">
                <div class="flex flex-col">
                    <p class="text-wc15">Комфорт, уют и здоровье – все это можно обеспечить быстро и надежно благодаря комплексной работе мастеров бригады «ВодоУслуги»! Сотрудничество с одним подрядчиком, создающим сразу системы водоснабжения и водоочистки, канализации и отопления – это оптимальный по стоимости и практичности выбор.</p>
                    <div class="flex py-5">
                        <img src="custom/wc/images/Ellipse 20.jpg" class="object-contain rounded-full">
                        <div class="flex flex-col pl-4">
                            <span class="font-bold">Виталий Константинович Иванов</span>
                            <span class="text-gray text-wc13p">Директор компании “Водоуслуги”</span>
                        </div>
                    </div>
                </div>
            
            </div>
    </div>


    <div class="review-slider-nav-wrapper w-auto h-8 z-20 absolute top-4 right-2 flex justify-end items-center inset-x-8">
        <span class="review-slider-prev block mr-2 hover:text-bluelight justify-center flex cursor-pointer outline-none">
            <span class="block rounded-full w-6 h-6 bg-blue flex justify-center items-center bg-opacity-60 hover:bg-opacity-80">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="transform -scale-x-1">
                    <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </span>
        <div class="review-slider-nav w-auto h-8 z-20 flex justify-center overflow-x-hidden hidden">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        </div>
        <span class="review-slider-next block hover:text-bluelight justify-center flex cursor-pointer outline-none">
             <span class="block rounded-full w-6 h-6 bg-blue flex justify-center items-center bg-opacity-60 hover:bg-opacity-80">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </span>
    </div>

</div>
