<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body>
<div class="w-full max-w-screen-xl mx-auto landing sparta">
    <div class="flex flex-col lg:flex-row">

        <div class="lg:hidden max-w-screen flex flex-col z-20 overflow-x-hidden sticky top-0">
            <div class="flex flex-row w-full bg-blue bg-opacity-40 pt-2 h-13 pl-5 justify-between">
                <div class="logo flex mb-6 order-1 lg:order-none ">
                    <div>
                        <img src="custom/wc/images/logo.svg" class="w-10 h-10">
                    </div>
                    <div class="flex flex-col text-white pl-3">
                        <span class="uppercase font-bold text-xl lg:text-wc13">Водоуслуги</span>
                        <span class="font-exo2 text-xs -mt-1">Широкий спектр услуг</span>
                    </div>
                </div>
        
                <div class="phones h-10 text-center text-white font-bold text-base pt-2 items-center hidden bmd:flex md:hidden order-2 lg:order-none">
                    <a href="#" class="bmd:pr-2">+7 (495) 975 75 13</a>
                    <a href="#">+7 (903) 233 80 85</a>
                </div>
        
                <div class="lg:hidden w-28 flex items-center justify-center order-3 lg:order-none">
                    <a href="#" class="menu-btn-mob w-28 h-10 bg-white rounded-full -mt-2 -ml-6 flex items-center justify-center text-bluelight text-wc10">
                        <svg width="14" height="14" viewBox="0 0 14 14" class="fill-current" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.91699 7.81663L2.91699 6.18329L11.0837 6.18329L11.0837 7.81663L2.91699 7.81663ZM5.36699 11.0833L5.36699 9.33325L11.0837 9.33325L11.0837 11.0833L5.36699 11.0833ZM7.58366 2.91657L7.58366 4.5499L11.0837 4.5499L11.0837 2.91657L7.58366 2.91657Z" fill="#4788E8"/>
                        </svg>
                        <span class="text-bluelight font-bold uppercase">
                                        меню
                                    </span>
                    </a>
                </div>
            </div>
        
            <div class="phones h-wc325 text-center w-full order-5 hidden bmd:flex text-white justify-around
                        font-bold pt-2 items-center text-base mx-auto bmd:hidden border-b border-white border-opacity-20">
                <a href="#" class="bmd:pr-2">+7 (495) 975 75 13</a>
                <a href="#">+7 (903) 233 80 85</a>
            </div>
        
        </div>

        <div id="sidebar" class="overflow-x-hidden lg:flex-wrap bg-blue max-w-screen h-13 flex-shrink-0 lg:h-auto lg:w-60
                    lg:overflow-y-visible hidden lg:flex lg:flex-row z-40 justify2-between lg:justify-start lg:flex-col pl-5 pt-2 lg:pt-4 lg:h-screen lg:sticky lg:top-0 scrollbar-hide ">
            <div class="">
                <div class="logo hidden lg:flex mb-6 order-1 lg:order-none">
                    <div>
                        <img src="custom/wc/images/logo.svg" class="w-10 h-10">
                    </div>
                    <div class="flex flex-col text-white pl-3">
                        <span class="uppercase font-bold text-xl lg:text-wc13">Водоуслуги</span>
                        <span class="font-exo2 text-xs -mt-1">Широкий спектр услуг</span>
                    </div>
                </div>
        
                <div class="lg:hidden w-40 flex items-center justify-center order-first lg:order-none self-end mt-5 mb-6">
                    <a href="#" class="menu-btn-mob-close w-40 h-10 bg-white rounded-full -mt-2 -ml-6 flex items-center justify-center text-blue text-wc10">
                        <svg width="14" height="14" viewBox="0 0 14 14" class="fill-current mr-4" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.91699 7.81663L2.91699 6.18329L11.0837 6.18329L11.0837 7.81663L2.91699 7.81663ZM5.36699 11.0833L5.36699 9.33325L11.0837 9.33325L11.0837 11.0833L5.36699 11.0833ZM7.58366 2.91657L7.58366 4.5499L11.0837 4.5499L11.0837 2.91657L7.58366 2.91657Z" fill="#4788E8"/>
                        </svg>
                        <span class="text-blue font-bold uppercase">
                                            закрыть меню
                                        </span>
                    </a>
                </div>
        
        
                <div class="left-menu mt-1 lg:mt-0 flex flex-col text-white -ml-5">
                    <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10">Главная</a>
                    <span class="lg:font-bold h-9 lg:h-12 text-base lg:uppercase pl-5 w-full flex shadow-md border border-blue items-center justify-between">
                                    <span>Каталог услуг</span>
                                    <a href="#" class="menu_mob_catalog_toggler mr-4"></a>
                                </span>
                    <ul class="left-menu hidden lg:flex lg:flex-col">
                        <li class="active">
                            <a href="#" class="line-clamp-1">Колодцы</a>
                        </li>
                        <li>
                            <a href="#" class="line-clamp-1">Водоочистка</a>
                        </li>
                        <li>
                            <a href="#" class="line-clamp-1">Водоснабжение</a>
                        </li>
                        <li>
                            <a href="#" class="line-clamp-1">Отопление</a>
                        </li>
                        <li>
                            <a href="#" class="line-clamp-1">Септики</a>
                        </li>
                        <li>
                            <a href="#" class="line-clamp-1">Погреба</a>
                        </li>
                    </ul>
        
                    <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Новости</a>
                    <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Наши работы</a>
                    <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Отзывы</a>
                    <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Вакансии</a>
                </div>
        
                <div class="phones w-full flex flex-col text-white font-bold text-base items-start lg:text-wc22 mx-auto mt-9 ml-1">
                    <a href="#" class="bmd:pr-2">+7 (495) 975 75 13</a>
                    <a href="#">+7 (903) 233 80 85</a>
                </div>
        
                <div class="mails flex mt-3 pl-1">
                    <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.3898 5.55095L10.8353 8.41284C10.1626 8.94023 9.21964 8.94023 8.54696 8.41284L4.96191 5.55095" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.74022 0.916672H13.5968C14.7296 0.929377 15.8078 1.40828 16.5803 2.24184C17.3528 3.0754 17.7521 4.19086 17.6853 5.32844V10.7683C17.7521 11.9059 17.3528 13.0214 16.5803 13.8549C15.8078 14.6885 14.7296 15.1674 13.5968 15.1801H5.74022C3.30696 15.1801 1.66699 13.2006 1.66699 10.7683V5.32844C1.66699 2.89621 3.30696 0.916672 5.74022 0.916672Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <a href="" class="text-white ml-3 -mt-1 text-wc15 border-b border-opacity-10 border-gray">info@vodouslugi.ru</a>
                </div>
        
                <div class="feedback_btn flex mt-5 ml-1">
                    <a href="#" class="menu-btn">
                        перезвоните мне
                    </a>
                </div>
        
                <div class="social flex justify-around items-center ml-6 mr-12 mt-8 mb-8">
                    <a href="#" class="text-white hover:text-bluelight">
                        <svg width="32" height="33" viewBox="0 0 32 33" fill="mlns="http://www.w3.org/2000/svg" class="fill-current">
                            <g opacity="0.7">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 16.0012C0 7.16466 7.16344 0.0012207 16 0.0012207C24.8366 0.0012207 32 7.16466 32 16.0012C32 24.8378 24.8366 32.0012 16 32.0012C7.16344 32.0012 0 24.8378 0 16.0012ZM24.1767 12.05C23.9804 11.296 23.4021 10.7023 22.6677 10.5008C21.3369 10.1346 16 10.1346 16 10.1346C16 10.1346 10.6631 10.1346 9.33217 10.5008C8.59782 10.7023 8.01949 11.296 7.82322 12.05C7.46667 13.4166 7.46667 16.2679 7.46667 16.2679C7.46667 16.2679 7.46667 19.1191 7.82322 20.4857C8.01949 21.2397 8.59782 21.8335 9.33217 22.0351C10.6631 22.4012 16 22.4012 16 22.4012C16 22.4012 21.3369 22.4012 22.6677 22.0351C23.4021 21.8335 23.9804 21.2397 24.1767 20.4857C24.5333 19.1191 24.5333 16.2679 24.5333 16.2679C24.5333 16.2679 24.5333 13.4166 24.1767 12.05Z" fill=""/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4004 19.2012V13.8679L18.6671 16.5347L14.4004 19.2012Z" fill=""/>
                            </g>
                        </svg>
                    </a>
                    <a href="#" class="text-white hover:text-bluelight">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="mlns="http://www.w3.org/2000/svg" class="fill-current">
                            <g opacity="0.7">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16ZM16.0008 7.46667C13.6833 7.46667 13.3924 7.4768 12.4822 7.51822C11.5737 7.55982 10.9536 7.70365 10.4111 7.91467C9.8498 8.13263 9.37371 8.42419 8.89939 8.89868C8.42472 9.373 8.13316 9.84909 7.91449 10.4102C7.70294 10.9529 7.55893 11.5732 7.51804 12.4813C7.47733 13.3915 7.46667 13.6826 7.46667 16.0001C7.46667 18.3176 7.47698 18.6076 7.51822 19.5178C7.56 20.4263 7.70382 21.0464 7.91467 21.5889C8.13281 22.1502 8.42437 22.6263 8.89886 23.1006C9.373 23.5753 9.84909 23.8675 10.41 24.0855C10.9529 24.2965 11.5732 24.4404 12.4815 24.482C13.3917 24.5234 13.6824 24.5335 15.9997 24.5335C18.3174 24.5335 18.6074 24.5234 19.5176 24.482C20.4261 24.4404 21.0469 24.2965 21.5898 24.0855C22.1509 23.8675 22.6263 23.5753 23.1004 23.1006C23.5751 22.6263 23.8667 22.1502 24.0853 21.5891C24.2951 21.0464 24.4391 20.4261 24.4818 19.518C24.5227 18.6078 24.5333 18.3176 24.5333 16.0001C24.5333 13.6826 24.5227 13.3917 24.4818 12.4815C24.4391 11.573 24.2951 10.9529 24.0853 10.4103C23.8667 9.84909 23.5751 9.373 23.1004 8.89868C22.6258 8.42401 22.1511 8.13245 21.5893 7.91467C21.0453 7.70365 20.4248 7.55982 19.5164 7.51822C18.6062 7.4768 18.3164 7.46667 15.9981 7.46667H16.0008Z" fill=""/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2353 9.00446C15.4625 9.00411 15.716 9.00446 16.0008 9.00446C18.2792 9.00446 18.5493 9.01264 19.449 9.05353C20.281 9.09157 20.7326 9.2306 21.0334 9.3474C21.4316 9.50207 21.7155 9.68696 22.014 9.98563C22.3127 10.2843 22.4976 10.5687 22.6526 10.967C22.7694 11.2674 22.9086 11.719 22.9465 12.551C22.9874 13.4506 22.9963 13.7208 22.9963 15.9981C22.9963 18.2755 22.9874 18.5457 22.9465 19.4453C22.9084 20.2773 22.7694 20.7288 22.6526 21.0293C22.4979 21.4275 22.3127 21.7111 22.014 22.0096C21.7153 22.3082 21.4318 22.4931 21.0334 22.6478C20.7329 22.7651 20.281 22.9038 19.449 22.9418C18.5494 22.9827 18.2792 22.9916 16.0008 22.9916C13.7222 22.9916 13.4522 22.9827 12.5526 22.9418C11.7206 22.9035 11.269 22.7644 10.968 22.6476C10.5698 22.493 10.2854 22.3081 9.98669 22.0094C9.68802 21.7107 9.50313 21.427 9.34811 21.0286C9.23131 20.7281 9.09211 20.2766 9.05424 19.4446C9.01335 18.545 9.00517 18.2748 9.00517 15.996C9.00517 13.7172 9.01335 13.4484 9.05424 12.5489C9.09228 11.7168 9.23131 11.2653 9.34811 10.9645C9.50278 10.5663 9.68802 10.2818 9.98669 9.98314C10.2854 9.68447 10.5698 9.49958 10.968 9.34455C11.2688 9.22722 11.7206 9.08855 12.5526 9.05033C13.3398 9.01477 13.6449 9.0041 15.2353 9.00233V9.00446ZM20.5559 10.4214C19.9905 10.4214 19.5319 10.8795 19.5319 11.445C19.5319 12.0104 19.9905 12.469 20.5559 12.469C21.1212 12.469 21.5799 12.0104 21.5799 11.445C21.5799 10.8797 21.1212 10.4214 20.5559 10.4214ZM16.0008 11.6178C13.5807 11.6178 11.6185 13.58 11.6185 16.0001C11.6185 18.4202 13.5807 20.3815 16.0008 20.3815C18.4209 20.3815 20.3824 18.4202 20.3824 16.0001C20.3824 13.58 18.4209 11.6178 16.0008 11.6178Z" fill=""/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0008 13.1556C17.5717 13.1556 18.8453 14.4291 18.8453 16.0001C18.8453 17.5709 17.5717 18.8446 16.0008 18.8446C14.4298 18.8446 13.1563 17.5709 13.1563 16.0001C13.1563 14.4291 14.4298 13.1556 16.0008 13.1556Z" fill=""/>
                            </g>
                        </svg>
                    </a>
                    <a href="#" class="text-white hover:text-bluelight">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="mlns="http://www.w3.org/2000/svg" class="fill-current">
                            <g opacity="0.7">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C7.16344 32 0 24.8366 0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32ZM16.5274 24.9017C21.773 24.8995 26.0393 20.6322 26.0414 15.3877C26.0424 12.8456 25.0537 10.4552 23.2575 8.65694C21.4612 6.85858 19.0724 5.86777 16.5273 5.86667C11.2832 5.86667 7.01519 10.1345 7.0131 15.3802C7.01239 17.057 7.45049 18.6937 8.28308 20.1366L6.93333 25.0667L11.9769 23.7436C13.3665 24.5016 14.9311 24.9011 16.5234 24.9017H16.5274Z" fill=""/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2103 22.0213L9.21734 22.8064L10.0162 19.8883L9.82818 19.5891C9.0366 18.3301 8.61853 16.8749 8.61914 15.3807C8.62087 11.0207 12.1683 7.47363 16.5302 7.47363C18.6423 7.47437 20.6278 8.29794 22.1208 9.79267C23.6138 11.2874 24.4355 13.2741 24.4347 15.3871C24.433 19.7474 20.8856 23.2949 16.5271 23.2949H16.5239C15.1049 23.2944 13.7131 22.9131 12.499 22.1926L12.2103 22.0213ZM21.3202 17.6501C21.2608 17.5509 21.1023 17.4914 20.8646 17.3724C20.6269 17.2534 19.4581 16.6784 19.2402 16.599C19.0223 16.5197 18.8638 16.4801 18.7053 16.718C18.5469 16.9559 18.0913 17.4914 17.9526 17.6501C17.8139 17.8087 17.6752 17.8286 17.4376 17.7096C17.1999 17.5906 16.4339 17.3396 15.5259 16.5297C14.8191 15.8993 14.342 15.1208 14.2034 14.8828C14.0647 14.6448 14.1886 14.5162 14.3076 14.3977C14.4145 14.2911 14.5453 14.12 14.6642 13.9812C14.783 13.8424 14.8227 13.7432 14.9019 13.5846C14.9811 13.4259 14.9415 13.2871 14.8821 13.1681C14.8227 13.0491 14.3472 11.879 14.1491 11.403C13.9562 10.9395 13.7602 11.0023 13.6143 10.9949C13.4758 10.988 13.3171 10.9865 13.1586 10.9865C13.0002 10.9865 12.7426 11.046 12.5247 11.284C12.3068 11.522 11.6927 12.0971 11.6927 13.2672C11.6927 14.4373 12.5445 15.5677 12.6634 15.7264C12.7822 15.8851 14.3397 18.2862 16.7244 19.3159C17.2916 19.5609 17.7344 19.7071 18.0797 19.8167C18.6491 19.9977 19.1674 19.9721 19.5769 19.9109C20.0337 19.8427 20.9834 19.3359 21.1816 18.7806C21.3796 18.2252 21.3796 17.7492 21.3202 17.6501Z" fill=""/>
                            </g>
                        </svg>
                    </a>
                </div>
        
            </div>
        
        
        </div>

        <div id="content-wrapper" class="min-w-0 w-auto pt-7 overflow-x-hidden scrollbar-hide lg:h-screen">

            <div class="search-block hidden relative w-full h-auto z-40 top-13">
                <div class="search-d absolute inset-0 flex flex-col w-full h-auto p-4">
                    <form class="search-d__form m-0 js_search_form search_form">
                        <div class="inp_wrapper bg-none md:bg-white w-full flex flex-col md:flex-row justify-end relative">
                            <input placeholder="Что ищем?" type="text" name="searchword" class="h-14 bmd:h-16 w-full outline-none shadow-none focus:outline-none focus:shadow-none pl-8">
                            <button type="submit" class="bg-bluelight text-white uppercase text-wc10 justify-self-end h-14 mt-1 w-74 bmd:w-64 md:absolute md:right-1">Найти</button>
                        </div>
            
                    </form>
                    <section class="search-d__result search_result js_search_result _scroll h-auto max-h-60 ">
                        <div class="section-d_search w-full bg-bluelight bg-opacity-90 p-4 h-full overflow-y-auto scrollbar-hide">
                            <div class="section-d_list">
                                <div class="element-d_search_item">
                                    123
                                </div>
                                <div class="element-d_search_item">
                                    123
                                </div>
                                <div class="element-d_search_item">
                                    123
                                </div>
                                <div class="element-d_search_item">
                                    123
                                </div>
                                <div class="element-d_search_item">
                                    123
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            
            <div class="top-menu hidden relative lg:flex h-13 z-10 justify-between border-b border-white border-opacity-10 white">
                <div class="top-search lg:w-20 xl:w-40 flex justify-center items-center -mt-7">
                    <a href="#" class="icn search-btn relative w-5 h-5">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current search absolute inset-0">
                            <circle cx="11.7669" cy="12.5777" r="8.98856" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.0186 19.2962L21.5426 22.8111" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
            
                        <svg width="24" height="25" viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg" class="stroke-current close absolute inset-0">
                            <line x1="1" y1="24"
                                  x2="24" y2="1"
                                  stroke=""
                                  stroke-width="1.5"/>
                            <line x1="1" y1="1"
                                  x2="24" y2="24"
                                  stroke=""
                                  stroke-width="1.5"/>
                        </svg>
                    </a>
                </div>
                <div class="menu text-white flex -mt-7 w-auto">
                    <ul class="flex justify-between h-full">
                        <li class="active">
                            <a href="#">Главная</a>
                        </li>
                        <li class="sep"></li>
                        <li>
                            <a href="#">Новости</a>
                        </li>
                        <li class="sep"></li>
                        <li>
                            <a href="#">Наши работы</a>
                        </li>
                        <li class="sep"></li>
                        <li>
                            <a href="#">Отзывы</a>
                        </li>
                        <li class="sep"></li>
                        <li>
                            <a href="#">Вакансии</a>
                        </li>
                    </ul>
                </div>
            
                <div class="relative lg:w-40 xl:w-60 lg:-mt-1.5 ">
                    <a href="#" class="menu-btn">
                        связаться с нами
                    </a>
                </div>
            </div>

            <div class="home-slider -mt-24 bmd:-mt-8 xl:-mt-21 z-0 overflow-hidden h-wc101 bmd:h-auto">
                <div class="my-slider z-10 h-full">
                        <div class="swiper-slide relative h-full">
                            <img class="object-right bmd:object-left-top object-cover h-full" src="custom/wc/images/sparta-banner1.jpg">
                            <div class="banner-content absolute inset-0 mt-16 lg:mt2-0">
                                <div class="absolute left-0 bmd:left-18 top-wc65 bmd:top-12 w-full bmd:w-3/5 md:w-1/2 lg:w-5/12 xl:w-2/5 flex flex-col text-base">
                                    <span class="text-1625 text-center bmd:text-left bmd:text-2xl md:text-2lg lg:text-2xl xl:text-2lg font-semibold
                                    leading-2dot15 lg:leading-8 xl:leading-10 text-white pb-4 lg:pb-10 xl:pb-14">Шеф-монтаж септика «Спарта» за 6 часов от «Название компании» </span>
                                    <span class="text-center bmd:text-left sm:text-base lg:text-base xl:text-base leading-4 px-8 bmd:px-0 sm:leading-7 text-white pb-12">Продаем и монтируем очистные станции «Спарта». Профессиональная бригада установщиков «Название компании» прошла обучение на производстве и предоставляет 10-летнюю гарантию на выполненные работы. Разово обслуживаем станции и заключаем договоры на любой срок. 
                        </span>
                                    <div class="banner-btn ">
                                        <a href="#" class="tracking-widest mx-auto bmd:mx-0 bg-bluelight">Купить септик «Спарта»</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="slider-nav w-full h-8 z-20 absolute bottom-10 flex justify-center">
                    <span></span>
                </div>
            </div>


            <div class="content flex flex-col px-5 bmd:px-12 md:px-5 xl:px-4375 pt-2 items-center ">
            
                <div class="flex flex-col">
                    <div class="inline xl:w-5/6">
                        <h1 class="grayed text-2xl xl:text-4xl"><span><span class="text-bluelight">Септик для дома «Спарта»</span>: бесшумная работа и прозрачная вода без примесей и запаха</span></h1>
                    </div>
                    <div class="pt-7">
                        <p>Индивидуальная очистная станция «Спарта» предназначена для очистки сточных вод на постоянной основе или в качестве сезонного септика. При использовании в средней полосе России можно обойтись без консервации установки на зиму, достаточно отключить компрессор на время вашего отсутствия.
                        </p>
            
                    </div>
            
                    <div class="flex flex-col bmd:flex-row bmd:-mr-18">
                        <div class="flex flex-col bmd:w-1/2 bmd:pr-4">
                            <p class="font-semibold">Корпус повышенной прочности упрощает монтаж конструкции и улучшает эксплуатационные характеристики станции:
                            </p>
                            <div class="flex bmd:hidden h-96 -mx-6">
                                <div style="background-image: url('custom/wc/images/Rectangle 94.jpg')" class="bg-cover bg-no-repeat w-full h-full"></div>
                            </div>
                            <ul class="pt-7 bmd:pt-0 li-minus">
                                <li>Котлован не нуждается в укреплении железобетонными кольцами или обсыпке пескобетоном для снижения давления грунта на корпус.</li>
                                <li>Наличие грунтозацепов исключает всплытие конструкции при высоком уровне грунтовых вод.</li>
                                <li>Крепление станции к железобетонной плите не требуется.</li>
                                <li>Допускается устанавливать септик «Спарта» ниже уровня грунта.</li>
                            </ul>
                        </div>
            
                        <div class="hidden bmd:flex bmd:w-1/2">
                            <img src="custom/wc/images/Rectangle 94.jpg">
                        </div>
            
                    </div>
            
                    <div class="flex flex-col bmd:flex-row -mx-6 bmd:-mx-18 md:-mx-6 xl:-mx-18 bg-cover" style="background-image:url('custom/wc/images/Rectangle 95.jpg');">
            
                        <div class="hidden bmd:flex bmd:w-5/12 md:w-1/2">
                            <img src="custom/wc/images/sparta_text_desc.png">
                        </div>
            
                        <div class="flex flex-col bmd:w-7/12 md:w-1/2 bmd:pr-4 px-6 pt-6 pr-8">
                            <p class="font-semibold whited pb-2 text-2xl bmd:text-2xl md:text-4xl"><span>
                                <span class="text-bluelight">Станция очистки «Спарта»</span>: продолжает работать при отключениях электричества</span>
                            </p>
                            <p class="text-base bmd:text-base md:text-125 xl:text-2xl">При отсутствии электроснабжения на короткое время включается анаэробный режим, в котором станция продолжает работать как полнообъемный септик.
                                <span class="font-semibold">После возобновления подачи электричества устройство автоматически переходит в аэробный режим.</span>
                            </p>
                            <p class="text-base bmd:text-base md:text-125 xl:text-125">Для работы в условиях длительных отключений электричества рекомендуется купить септик «Спарта» с системой бесперебойного питания. Обеспечивает работу в аэробном режиме в течение 5 дней. </p>
            
                            <div class="flex bmd:hidden h-96 -mx-6">
                                <div style="background-image: url('custom/wc/images/sparta_text.png')" class="bg-cover bg-no-repeat w-full h-full"></div>
                            </div>
                        </div>
            
            
            
                    </div>
            
            
                    <div class="flex flex-col bg-cover -mx-6 bmd:-mx-18" style="background-image:url('custom/wc/images/Rectangle 37.jpg');">
                        <div class="flex flex-col px-4 bmd:px-16 py-12 text-white text-center">
                            <h3 class="pb-4">Очистная станция «Спарта»: засоры исключены </h3>
                            <p class="font-light">Допускается наличие пищевых остатков, мелкого мусора и средств личной гигиены в составе сточных вод.  </p>
                            <div class="sparta-advantages flex flex-col bmd:flex-row space-y-8 bmd:space-y-0 items-center bmd:items-start">
                                <div class="flex flex-col items-center w-9/12 bmd:w-auto space-y-4">
                                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="50" cy="50" r="50" fill="#798392"/>
                                        <path d="M78 54.6894V45.3106L70.5805 44.074C70.1374 42.5321 69.5215 41.0475 68.7413 39.6399L73.1149 33.5169L66.4831 26.8851L60.3601 31.2587C58.9524 30.4784 57.4679 29.8625 55.926 29.4195L54.6894 22H45.3106L44.074 29.4195C42.5321 29.8626 41.0475 30.4785 39.6399 31.2587L33.5169 26.8851L26.8851 33.5169L31.2587 39.6399C30.4784 41.0476 29.8625 42.5321 29.4195 44.074L22 45.3106V54.6894L29.4195 55.926C29.8626 57.4679 30.4785 58.9525 31.2587 60.3601L26.8851 66.4831L33.5169 73.1149L39.6399 68.7413C41.0476 69.5216 42.5321 70.1375 44.074 70.5807L45.3106 78H54.6894L55.9259 70.5805C57.4678 70.1374 58.9524 69.5216 60.36 68.7412L66.483 73.1148L73.1148 66.483L68.7412 60.36C69.5215 58.9523 70.1374 57.4678 70.5804 55.9259L78 54.6894ZM68.8124 66.127L66.1269 68.8124L60.5089 64.7995C59.9583 65.0955 57.7575 66.8048 54.1054 67.6508L53.0332 67.899L51.8988 74.7059H48.1012L46.9667 67.899C46.3416 67.7107 43.6197 67.3755 40.4247 65.3821L39.491 64.7995L33.873 68.8124L31.1875 66.127L35.2004 60.509C34.8993 59.9492 33.1946 57.7558 32.3491 54.1055L32.1009 53.0333L25.2941 51.8988V48.1012L32.101 46.9667C32.2892 46.3416 32.6245 43.6197 34.6179 40.4247L35.2005 39.491L31.1876 33.873L33.8731 31.1875L39.4911 35.2004C40.0509 34.8993 42.2443 33.1946 45.8947 32.3491L46.9668 32.1009L48.1012 25.2941H51.8988L53.0332 32.101C53.658 32.2891 56.3804 32.6245 59.5752 34.6179L60.5089 35.2005L66.1269 31.1876L68.8124 33.8731L64.7995 39.4911C65.1005 40.0509 66.8053 42.2443 67.6508 45.8947L67.899 46.9668L74.7059 48.1012V51.8988L67.899 53.0333C67.7108 53.6584 67.3755 56.3803 65.3821 59.5753L64.7995 60.509L68.8124 66.127Z" fill="white"/>
                                        <path d="M50 36C42.2803 36 36 42.2803 36 50C36 57.7197 42.2803 64 50 64C57.7197 64 64 57.7197 64 50C64 42.2803 57.7197 36 50 36ZM45.1934 59.5643C45.7102 57.3885 47.6684 55.7647 50 55.7647C52.3316 55.7647 54.2898 57.3885 54.8066 59.5643C51.7893 61.0868 48.2121 61.0876 45.1934 59.5643ZM47.5294 50C47.5294 48.6377 48.6377 47.5294 50 47.5294C51.3623 47.5294 52.4706 48.6377 52.4706 50C52.4706 51.3623 51.3623 52.4706 50 52.4706C48.6377 52.4706 47.5294 51.3623 47.5294 50ZM57.599 57.5335C56.9407 55.9626 55.8083 54.6388 54.3826 53.7387C55.2432 52.7313 55.7647 51.4258 55.7647 50C55.7647 46.8213 53.1787 44.2353 50 44.2353C46.8213 44.2353 44.2353 46.8213 44.2353 50C44.2353 51.4257 44.7566 52.7313 45.6174 53.7387C44.1917 54.6388 43.0593 55.9626 42.401 57.5335C40.4816 55.5976 39.2941 52.9349 39.2941 50C39.2941 44.0967 44.0967 39.2941 50 39.2941C55.9033 39.2941 60.7059 44.0967 60.7059 50C60.7059 52.9349 59.5184 55.5976 57.599 57.5335Z" fill="white"/>
                                    </svg>
                                    <span class="text-wc15">Мусор оседает в приемной камере и удаляется при обслуживании конструкции. </span>
                                </div>
            
                                <div class="flex flex-col items-center w-9/12 bmd:w-auto space-y-4">
                                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="50" cy="50" r="50" fill="#798392"/>
                                        <path d="M78 54.6894V45.3106L70.5805 44.074C70.1374 42.5321 69.5215 41.0475 68.7413 39.6399L73.1149 33.5169L66.4831 26.8851L60.3601 31.2587C58.9524 30.4784 57.4679 29.8625 55.926 29.4195L54.6894 22H45.3106L44.074 29.4195C42.5321 29.8626 41.0475 30.4785 39.6399 31.2587L33.5169 26.8851L26.8851 33.5169L31.2587 39.6399C30.4784 41.0476 29.8625 42.5321 29.4195 44.074L22 45.3106V54.6894L29.4195 55.926C29.8626 57.4679 30.4785 58.9525 31.2587 60.3601L26.8851 66.4831L33.5169 73.1149L39.6399 68.7413C41.0476 69.5216 42.5321 70.1375 44.074 70.5807L45.3106 78H54.6894L55.9259 70.5805C57.4678 70.1374 58.9524 69.5216 60.36 68.7412L66.483 73.1148L73.1148 66.483L68.7412 60.36C69.5215 58.9523 70.1374 57.4678 70.5804 55.9259L78 54.6894ZM68.8124 66.127L66.1269 68.8124L60.5089 64.7995C59.9583 65.0955 57.7575 66.8048 54.1054 67.6508L53.0332 67.899L51.8988 74.7059H48.1012L46.9667 67.899C46.3416 67.7107 43.6197 67.3755 40.4247 65.3821L39.491 64.7995L33.873 68.8124L31.1875 66.127L35.2004 60.509C34.8993 59.9492 33.1946 57.7558 32.3491 54.1055L32.1009 53.0333L25.2941 51.8988V48.1012L32.101 46.9667C32.2892 46.3416 32.6245 43.6197 34.6179 40.4247L35.2005 39.491L31.1876 33.873L33.8731 31.1875L39.4911 35.2004C40.0509 34.8993 42.2443 33.1946 45.8947 32.3491L46.9668 32.1009L48.1012 25.2941H51.8988L53.0332 32.101C53.658 32.2891 56.3804 32.6245 59.5752 34.6179L60.5089 35.2005L66.1269 31.1876L68.8124 33.8731L64.7995 39.4911C65.1005 40.0509 66.8053 42.2443 67.6508 45.8947L67.899 46.9668L74.7059 48.1012V51.8988L67.899 53.0333C67.7108 53.6584 67.3755 56.3803 65.3821 59.5753L64.7995 60.509L68.8124 66.127Z" fill="white"/>
                                        <path d="M50 36C42.2803 36 36 42.2803 36 50C36 57.7197 42.2803 64 50 64C57.7197 64 64 57.7197 64 50C64 42.2803 57.7197 36 50 36ZM45.1934 59.5643C45.7102 57.3885 47.6684 55.7647 50 55.7647C52.3316 55.7647 54.2898 57.3885 54.8066 59.5643C51.7893 61.0868 48.2121 61.0876 45.1934 59.5643ZM47.5294 50C47.5294 48.6377 48.6377 47.5294 50 47.5294C51.3623 47.5294 52.4706 48.6377 52.4706 50C52.4706 51.3623 51.3623 52.4706 50 52.4706C48.6377 52.4706 47.5294 51.3623 47.5294 50ZM57.599 57.5335C56.9407 55.9626 55.8083 54.6388 54.3826 53.7387C55.2432 52.7313 55.7647 51.4258 55.7647 50C55.7647 46.8213 53.1787 44.2353 50 44.2353C46.8213 44.2353 44.2353 46.8213 44.2353 50C44.2353 51.4257 44.7566 52.7313 45.6174 53.7387C44.1917 54.6388 43.0593 55.9626 42.401 57.5335C40.4816 55.5976 39.2941 52.9349 39.2941 50C39.2941 44.0967 44.0967 39.2941 50 39.2941C55.9033 39.2941 60.7059 44.0967 60.7059 50C60.7059 52.9349 59.5184 55.5976 57.599 57.5335Z" fill="white"/>
                                    </svg>
                                    <span class="text-wc15">Большой объем приемной камеры позволяет не контролировать попадание в канализацию крупных предметов.  </span>
                                </div>
            
                                <div class="flex flex-col items-center w-9/12 bmd:w-auto space-y-4">
                                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="50" cy="50" r="50" fill="#798392"/>
                                        <path d="M78 54.6894V45.3106L70.5805 44.074C70.1374 42.5321 69.5215 41.0475 68.7413 39.6399L73.1149 33.5169L66.4831 26.8851L60.3601 31.2587C58.9524 30.4784 57.4679 29.8625 55.926 29.4195L54.6894 22H45.3106L44.074 29.4195C42.5321 29.8626 41.0475 30.4785 39.6399 31.2587L33.5169 26.8851L26.8851 33.5169L31.2587 39.6399C30.4784 41.0476 29.8625 42.5321 29.4195 44.074L22 45.3106V54.6894L29.4195 55.926C29.8626 57.4679 30.4785 58.9525 31.2587 60.3601L26.8851 66.4831L33.5169 73.1149L39.6399 68.7413C41.0476 69.5216 42.5321 70.1375 44.074 70.5807L45.3106 78H54.6894L55.9259 70.5805C57.4678 70.1374 58.9524 69.5216 60.36 68.7412L66.483 73.1148L73.1148 66.483L68.7412 60.36C69.5215 58.9523 70.1374 57.4678 70.5804 55.9259L78 54.6894ZM68.8124 66.127L66.1269 68.8124L60.5089 64.7995C59.9583 65.0955 57.7575 66.8048 54.1054 67.6508L53.0332 67.899L51.8988 74.7059H48.1012L46.9667 67.899C46.3416 67.7107 43.6197 67.3755 40.4247 65.3821L39.491 64.7995L33.873 68.8124L31.1875 66.127L35.2004 60.509C34.8993 59.9492 33.1946 57.7558 32.3491 54.1055L32.1009 53.0333L25.2941 51.8988V48.1012L32.101 46.9667C32.2892 46.3416 32.6245 43.6197 34.6179 40.4247L35.2005 39.491L31.1876 33.873L33.8731 31.1875L39.4911 35.2004C40.0509 34.8993 42.2443 33.1946 45.8947 32.3491L46.9668 32.1009L48.1012 25.2941H51.8988L53.0332 32.101C53.658 32.2891 56.3804 32.6245 59.5752 34.6179L60.5089 35.2005L66.1269 31.1876L68.8124 33.8731L64.7995 39.4911C65.1005 40.0509 66.8053 42.2443 67.6508 45.8947L67.899 46.9668L74.7059 48.1012V51.8988L67.899 53.0333C67.7108 53.6584 67.3755 56.3803 65.3821 59.5753L64.7995 60.509L68.8124 66.127Z" fill="white"/>
                                        <path d="M50 36C42.2803 36 36 42.2803 36 50C36 57.7197 42.2803 64 50 64C57.7197 64 64 57.7197 64 50C64 42.2803 57.7197 36 50 36ZM45.1934 59.5643C45.7102 57.3885 47.6684 55.7647 50 55.7647C52.3316 55.7647 54.2898 57.3885 54.8066 59.5643C51.7893 61.0868 48.2121 61.0876 45.1934 59.5643ZM47.5294 50C47.5294 48.6377 48.6377 47.5294 50 47.5294C51.3623 47.5294 52.4706 48.6377 52.4706 50C52.4706 51.3623 51.3623 52.4706 50 52.4706C48.6377 52.4706 47.5294 51.3623 47.5294 50ZM57.599 57.5335C56.9407 55.9626 55.8083 54.6388 54.3826 53.7387C55.2432 52.7313 55.7647 51.4258 55.7647 50C55.7647 46.8213 53.1787 44.2353 50 44.2353C46.8213 44.2353 44.2353 46.8213 44.2353 50C44.2353 51.4257 44.7566 52.7313 45.6174 53.7387C44.1917 54.6388 43.0593 55.9626 42.401 57.5335C40.4816 55.5976 39.2941 52.9349 39.2941 50C39.2941 44.0967 44.0967 39.2941 50 39.2941C55.9033 39.2941 60.7059 44.0967 60.7059 50C60.7059 52.9349 59.5184 55.5976 57.599 57.5335Z" fill="white"/>
                                    </svg>
                                    <span class="text-wc15">Бытовая химия и агрессивные жидкости в составе сточных вод не наносят вреда конструкции. </span>
                                </div>
                            </div>
            
                            <div class="flex items-center justify-center mt-8 ml-4 bmd:ml-0">
                                <div class="banner-btn ">
                                    <a href="#" class="tracking-widest mx-auto bmd:mx-0 bg-bluelight">Купить септик «Спарта»</a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="prich">
                        <div>
                            <div>
                                <span class="">Еще 5 причин выбрать <span class="text-bluelight text-xl3">септик «Спарта»</span></span>
                            </div>
                        </div>
            
                            <div>
                                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M56 32.6894V23.3106L48.5805 22.074C48.1374 20.5321 47.5215 19.0475 46.7413 17.6399L51.1149 11.5169L44.4831 4.88507L38.3601 9.25867C36.9524 8.4784 35.4679 7.86251 33.926 7.41945L32.6894 0H23.3106L22.074 7.41945C20.5321 7.86262 19.0475 8.47851 17.6399 9.25867L11.5169 4.88507L4.88507 11.5169L9.25867 17.6399C8.4784 19.0476 7.86251 20.5321 7.41945 22.074L0 23.3106V32.6894L7.41945 33.926C7.86262 35.4679 8.47851 36.9525 9.25867 38.3601L4.88507 44.4831L11.5169 51.1149L17.6399 46.7413C19.0476 47.5216 20.5321 48.1375 22.074 48.5807L23.3106 56H32.6894L33.9259 48.5805C35.4678 48.1374 36.9524 47.5216 38.36 46.7412L44.483 51.1148L51.1148 44.483L46.7412 38.36C47.5215 36.9523 48.1374 35.4678 48.5804 33.9259L56 32.6894ZM46.8124 44.127L44.1269 46.8124L38.5089 42.7995C37.9583 43.0955 35.7575 44.8048 32.1054 45.6508L31.0332 45.899L29.8988 52.7059H26.1012L24.9667 45.899C24.3416 45.7107 21.6197 45.3755 18.4247 43.3821L17.491 42.7995L11.873 46.8124L9.18751 44.127L13.2004 38.509C12.8993 37.9492 11.1946 35.7558 10.3491 32.1055L10.1009 31.0333L3.29412 29.8988V26.1012L10.101 24.9667C10.2892 24.3416 10.6245 21.6197 12.6179 18.4247L13.2005 17.491L9.18762 11.873L11.8731 9.18751L17.4911 13.2004C18.0509 12.8993 20.2443 11.1946 23.8947 10.3491L24.9668 10.1009L26.1012 3.29412H29.8988L31.0332 10.101C31.658 10.2891 34.3804 10.6245 37.5752 12.6179L38.5089 13.2005L44.1269 9.18762L46.8124 11.8731L42.7995 17.4911C43.1005 18.0509 44.8053 20.2443 45.6508 23.8947L45.899 24.9668L52.7059 26.1012V29.8988L45.899 31.0333C45.7108 31.6584 45.3755 34.3803 43.3821 37.5753L42.7995 38.509L46.8124 44.127Z" fill="#4788E8"/>
                                    <path d="M28 14C20.2803 14 14 20.2803 14 28C14 35.7197 20.2803 42 28 42C35.7197 42 42 35.7197 42 28C42 20.2803 35.7197 14 28 14ZM23.1934 37.5643C23.7102 35.3885 25.6684 33.7647 28 33.7647C30.3316 33.7647 32.2898 35.3885 32.8066 37.5643C29.7893 39.0868 26.2121 39.0876 23.1934 37.5643ZM25.5294 28C25.5294 26.6377 26.6377 25.5294 28 25.5294C29.3623 25.5294 30.4706 26.6377 30.4706 28C30.4706 29.3623 29.3623 30.4706 28 30.4706C26.6377 30.4706 25.5294 29.3623 25.5294 28ZM35.599 35.5335C34.9407 33.9626 33.8083 32.6388 32.3826 31.7387C33.2432 30.7313 33.7647 29.4258 33.7647 28C33.7647 24.8213 31.1787 22.2353 28 22.2353C24.8213 22.2353 22.2353 24.8213 22.2353 28C22.2353 29.4257 22.7566 30.7313 23.6174 31.7387C22.1917 32.6388 21.0593 33.9626 20.401 35.5335C18.4816 33.5976 17.2941 30.9349 17.2941 28C17.2941 22.0967 22.0967 17.2941 28 17.2941C33.9033 17.2941 38.7059 22.0967 38.7059 28C38.7059 30.9349 37.5184 33.5976 35.599 35.5335Z" fill="#4788E8"/>
                                </svg>
                                <div>
                                    <span>Редкое обслуживание. </span>
                                    <span>Откачка осадка, в зависимости от активности использования, проводится 1 раз в 2-5 лет. Дополнительно возможно оснащение системой самоочистки с ручным запуском.</span>
                                </div>
                            
                            </div>
                            <div>
                                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M56 32.6894V23.3106L48.5805 22.074C48.1374 20.5321 47.5215 19.0475 46.7413 17.6399L51.1149 11.5169L44.4831 4.88507L38.3601 9.25867C36.9524 8.4784 35.4679 7.86251 33.926 7.41945L32.6894 0H23.3106L22.074 7.41945C20.5321 7.86262 19.0475 8.47851 17.6399 9.25867L11.5169 4.88507L4.88507 11.5169L9.25867 17.6399C8.4784 19.0476 7.86251 20.5321 7.41945 22.074L0 23.3106V32.6894L7.41945 33.926C7.86262 35.4679 8.47851 36.9525 9.25867 38.3601L4.88507 44.4831L11.5169 51.1149L17.6399 46.7413C19.0476 47.5216 20.5321 48.1375 22.074 48.5807L23.3106 56H32.6894L33.9259 48.5805C35.4678 48.1374 36.9524 47.5216 38.36 46.7412L44.483 51.1148L51.1148 44.483L46.7412 38.36C47.5215 36.9523 48.1374 35.4678 48.5804 33.9259L56 32.6894ZM46.8124 44.127L44.1269 46.8124L38.5089 42.7995C37.9583 43.0955 35.7575 44.8048 32.1054 45.6508L31.0332 45.899L29.8988 52.7059H26.1012L24.9667 45.899C24.3416 45.7107 21.6197 45.3755 18.4247 43.3821L17.491 42.7995L11.873 46.8124L9.18751 44.127L13.2004 38.509C12.8993 37.9492 11.1946 35.7558 10.3491 32.1055L10.1009 31.0333L3.29412 29.8988V26.1012L10.101 24.9667C10.2892 24.3416 10.6245 21.6197 12.6179 18.4247L13.2005 17.491L9.18762 11.873L11.8731 9.18751L17.4911 13.2004C18.0509 12.8993 20.2443 11.1946 23.8947 10.3491L24.9668 10.1009L26.1012 3.29412H29.8988L31.0332 10.101C31.658 10.2891 34.3804 10.6245 37.5752 12.6179L38.5089 13.2005L44.1269 9.18762L46.8124 11.8731L42.7995 17.4911C43.1005 18.0509 44.8053 20.2443 45.6508 23.8947L45.899 24.9668L52.7059 26.1012V29.8988L45.899 31.0333C45.7108 31.6584 45.3755 34.3803 43.3821 37.5753L42.7995 38.509L46.8124 44.127Z" fill="#4788E8"/>
                                    <path d="M28 14C20.2803 14 14 20.2803 14 28C14 35.7197 20.2803 42 28 42C35.7197 42 42 35.7197 42 28C42 20.2803 35.7197 14 28 14ZM23.1934 37.5643C23.7102 35.3885 25.6684 33.7647 28 33.7647C30.3316 33.7647 32.2898 35.3885 32.8066 37.5643C29.7893 39.0868 26.2121 39.0876 23.1934 37.5643ZM25.5294 28C25.5294 26.6377 26.6377 25.5294 28 25.5294C29.3623 25.5294 30.4706 26.6377 30.4706 28C30.4706 29.3623 29.3623 30.4706 28 30.4706C26.6377 30.4706 25.5294 29.3623 25.5294 28ZM35.599 35.5335C34.9407 33.9626 33.8083 32.6388 32.3826 31.7387C33.2432 30.7313 33.7647 29.4258 33.7647 28C33.7647 24.8213 31.1787 22.2353 28 22.2353C24.8213 22.2353 22.2353 24.8213 22.2353 28C22.2353 29.4257 22.7566 30.7313 23.6174 31.7387C22.1917 32.6388 21.0593 33.9626 20.401 35.5335C18.4816 33.5976 17.2941 30.9349 17.2941 28C17.2941 22.0967 22.0967 17.2941 28 17.2941C33.9033 17.2941 38.7059 22.0967 38.7059 28C38.7059 30.9349 37.5184 33.5976 35.599 35.5335Z" fill="#4788E8"/>
                                </svg>
                                <div>
                                    <span>Скрытое размещение. </span>
                                    <span>Обслуживание станции в таком случае происходит через выведенные на поверхность патрубки или с помощью системы самоочищения.</span>
                                </div>
                            
                            </div>
                            <div>
                                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M56 32.6894V23.3106L48.5805 22.074C48.1374 20.5321 47.5215 19.0475 46.7413 17.6399L51.1149 11.5169L44.4831 4.88507L38.3601 9.25867C36.9524 8.4784 35.4679 7.86251 33.926 7.41945L32.6894 0H23.3106L22.074 7.41945C20.5321 7.86262 19.0475 8.47851 17.6399 9.25867L11.5169 4.88507L4.88507 11.5169L9.25867 17.6399C8.4784 19.0476 7.86251 20.5321 7.41945 22.074L0 23.3106V32.6894L7.41945 33.926C7.86262 35.4679 8.47851 36.9525 9.25867 38.3601L4.88507 44.4831L11.5169 51.1149L17.6399 46.7413C19.0476 47.5216 20.5321 48.1375 22.074 48.5807L23.3106 56H32.6894L33.9259 48.5805C35.4678 48.1374 36.9524 47.5216 38.36 46.7412L44.483 51.1148L51.1148 44.483L46.7412 38.36C47.5215 36.9523 48.1374 35.4678 48.5804 33.9259L56 32.6894ZM46.8124 44.127L44.1269 46.8124L38.5089 42.7995C37.9583 43.0955 35.7575 44.8048 32.1054 45.6508L31.0332 45.899L29.8988 52.7059H26.1012L24.9667 45.899C24.3416 45.7107 21.6197 45.3755 18.4247 43.3821L17.491 42.7995L11.873 46.8124L9.18751 44.127L13.2004 38.509C12.8993 37.9492 11.1946 35.7558 10.3491 32.1055L10.1009 31.0333L3.29412 29.8988V26.1012L10.101 24.9667C10.2892 24.3416 10.6245 21.6197 12.6179 18.4247L13.2005 17.491L9.18762 11.873L11.8731 9.18751L17.4911 13.2004C18.0509 12.8993 20.2443 11.1946 23.8947 10.3491L24.9668 10.1009L26.1012 3.29412H29.8988L31.0332 10.101C31.658 10.2891 34.3804 10.6245 37.5752 12.6179L38.5089 13.2005L44.1269 9.18762L46.8124 11.8731L42.7995 17.4911C43.1005 18.0509 44.8053 20.2443 45.6508 23.8947L45.899 24.9668L52.7059 26.1012V29.8988L45.899 31.0333C45.7108 31.6584 45.3755 34.3803 43.3821 37.5753L42.7995 38.509L46.8124 44.127Z" fill="#4788E8"/>
                                    <path d="M28 14C20.2803 14 14 20.2803 14 28C14 35.7197 20.2803 42 28 42C35.7197 42 42 35.7197 42 28C42 20.2803 35.7197 14 28 14ZM23.1934 37.5643C23.7102 35.3885 25.6684 33.7647 28 33.7647C30.3316 33.7647 32.2898 35.3885 32.8066 37.5643C29.7893 39.0868 26.2121 39.0876 23.1934 37.5643ZM25.5294 28C25.5294 26.6377 26.6377 25.5294 28 25.5294C29.3623 25.5294 30.4706 26.6377 30.4706 28C30.4706 29.3623 29.3623 30.4706 28 30.4706C26.6377 30.4706 25.5294 29.3623 25.5294 28ZM35.599 35.5335C34.9407 33.9626 33.8083 32.6388 32.3826 31.7387C33.2432 30.7313 33.7647 29.4258 33.7647 28C33.7647 24.8213 31.1787 22.2353 28 22.2353C24.8213 22.2353 22.2353 24.8213 22.2353 28C22.2353 29.4257 22.7566 30.7313 23.6174 31.7387C22.1917 32.6388 21.0593 33.9626 20.401 35.5335C18.4816 33.5976 17.2941 30.9349 17.2941 28C17.2941 22.0967 22.0967 17.2941 28 17.2941C33.9033 17.2941 38.7059 22.0967 38.7059 28C38.7059 30.9349 37.5184 33.5976 35.599 35.5335Z" fill="#4788E8"/>
                                </svg>
                                <div>
                                    <span>Удаление из воды яиц паразитов. </span>
                                    <span>Остаются в септической камере и вымываются при плановом обслуживании станции очистки «Спарта». </span>
                                </div>
                            
                            </div>
                            <div>
                                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M56 32.6894V23.3106L48.5805 22.074C48.1374 20.5321 47.5215 19.0475 46.7413 17.6399L51.1149 11.5169L44.4831 4.88507L38.3601 9.25867C36.9524 8.4784 35.4679 7.86251 33.926 7.41945L32.6894 0H23.3106L22.074 7.41945C20.5321 7.86262 19.0475 8.47851 17.6399 9.25867L11.5169 4.88507L4.88507 11.5169L9.25867 17.6399C8.4784 19.0476 7.86251 20.5321 7.41945 22.074L0 23.3106V32.6894L7.41945 33.926C7.86262 35.4679 8.47851 36.9525 9.25867 38.3601L4.88507 44.4831L11.5169 51.1149L17.6399 46.7413C19.0476 47.5216 20.5321 48.1375 22.074 48.5807L23.3106 56H32.6894L33.9259 48.5805C35.4678 48.1374 36.9524 47.5216 38.36 46.7412L44.483 51.1148L51.1148 44.483L46.7412 38.36C47.5215 36.9523 48.1374 35.4678 48.5804 33.9259L56 32.6894ZM46.8124 44.127L44.1269 46.8124L38.5089 42.7995C37.9583 43.0955 35.7575 44.8048 32.1054 45.6508L31.0332 45.899L29.8988 52.7059H26.1012L24.9667 45.899C24.3416 45.7107 21.6197 45.3755 18.4247 43.3821L17.491 42.7995L11.873 46.8124L9.18751 44.127L13.2004 38.509C12.8993 37.9492 11.1946 35.7558 10.3491 32.1055L10.1009 31.0333L3.29412 29.8988V26.1012L10.101 24.9667C10.2892 24.3416 10.6245 21.6197 12.6179 18.4247L13.2005 17.491L9.18762 11.873L11.8731 9.18751L17.4911 13.2004C18.0509 12.8993 20.2443 11.1946 23.8947 10.3491L24.9668 10.1009L26.1012 3.29412H29.8988L31.0332 10.101C31.658 10.2891 34.3804 10.6245 37.5752 12.6179L38.5089 13.2005L44.1269 9.18762L46.8124 11.8731L42.7995 17.4911C43.1005 18.0509 44.8053 20.2443 45.6508 23.8947L45.899 24.9668L52.7059 26.1012V29.8988L45.899 31.0333C45.7108 31.6584 45.3755 34.3803 43.3821 37.5753L42.7995 38.509L46.8124 44.127Z" fill="#4788E8"/>
                                    <path d="M28 14C20.2803 14 14 20.2803 14 28C14 35.7197 20.2803 42 28 42C35.7197 42 42 35.7197 42 28C42 20.2803 35.7197 14 28 14ZM23.1934 37.5643C23.7102 35.3885 25.6684 33.7647 28 33.7647C30.3316 33.7647 32.2898 35.3885 32.8066 37.5643C29.7893 39.0868 26.2121 39.0876 23.1934 37.5643ZM25.5294 28C25.5294 26.6377 26.6377 25.5294 28 25.5294C29.3623 25.5294 30.4706 26.6377 30.4706 28C30.4706 29.3623 29.3623 30.4706 28 30.4706C26.6377 30.4706 25.5294 29.3623 25.5294 28ZM35.599 35.5335C34.9407 33.9626 33.8083 32.6388 32.3826 31.7387C33.2432 30.7313 33.7647 29.4258 33.7647 28C33.7647 24.8213 31.1787 22.2353 28 22.2353C24.8213 22.2353 22.2353 24.8213 22.2353 28C22.2353 29.4257 22.7566 30.7313 23.6174 31.7387C22.1917 32.6388 21.0593 33.9626 20.401 35.5335C18.4816 33.5976 17.2941 30.9349 17.2941 28C17.2941 22.0967 22.0967 17.2941 28 17.2941C33.9033 17.2941 38.7059 22.0967 38.7059 28C38.7059 30.9349 37.5184 33.5976 35.599 35.5335Z" fill="#4788E8"/>
                                </svg>
                                <div>
                                    <span>Безграничный залповый сброс.</span>
                                    <span>Объем рабочей части в 2 раза превышает суточную производительность устройства.</span>
                                </div>
                            
                            </div>
                            <div>
                                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M56 32.6894V23.3106L48.5805 22.074C48.1374 20.5321 47.5215 19.0475 46.7413 17.6399L51.1149 11.5169L44.4831 4.88507L38.3601 9.25867C36.9524 8.4784 35.4679 7.86251 33.926 7.41945L32.6894 0H23.3106L22.074 7.41945C20.5321 7.86262 19.0475 8.47851 17.6399 9.25867L11.5169 4.88507L4.88507 11.5169L9.25867 17.6399C8.4784 19.0476 7.86251 20.5321 7.41945 22.074L0 23.3106V32.6894L7.41945 33.926C7.86262 35.4679 8.47851 36.9525 9.25867 38.3601L4.88507 44.4831L11.5169 51.1149L17.6399 46.7413C19.0476 47.5216 20.5321 48.1375 22.074 48.5807L23.3106 56H32.6894L33.9259 48.5805C35.4678 48.1374 36.9524 47.5216 38.36 46.7412L44.483 51.1148L51.1148 44.483L46.7412 38.36C47.5215 36.9523 48.1374 35.4678 48.5804 33.9259L56 32.6894ZM46.8124 44.127L44.1269 46.8124L38.5089 42.7995C37.9583 43.0955 35.7575 44.8048 32.1054 45.6508L31.0332 45.899L29.8988 52.7059H26.1012L24.9667 45.899C24.3416 45.7107 21.6197 45.3755 18.4247 43.3821L17.491 42.7995L11.873 46.8124L9.18751 44.127L13.2004 38.509C12.8993 37.9492 11.1946 35.7558 10.3491 32.1055L10.1009 31.0333L3.29412 29.8988V26.1012L10.101 24.9667C10.2892 24.3416 10.6245 21.6197 12.6179 18.4247L13.2005 17.491L9.18762 11.873L11.8731 9.18751L17.4911 13.2004C18.0509 12.8993 20.2443 11.1946 23.8947 10.3491L24.9668 10.1009L26.1012 3.29412H29.8988L31.0332 10.101C31.658 10.2891 34.3804 10.6245 37.5752 12.6179L38.5089 13.2005L44.1269 9.18762L46.8124 11.8731L42.7995 17.4911C43.1005 18.0509 44.8053 20.2443 45.6508 23.8947L45.899 24.9668L52.7059 26.1012V29.8988L45.899 31.0333C45.7108 31.6584 45.3755 34.3803 43.3821 37.5753L42.7995 38.509L46.8124 44.127Z" fill="#4788E8"/>
                                    <path d="M28 14C20.2803 14 14 20.2803 14 28C14 35.7197 20.2803 42 28 42C35.7197 42 42 35.7197 42 28C42 20.2803 35.7197 14 28 14ZM23.1934 37.5643C23.7102 35.3885 25.6684 33.7647 28 33.7647C30.3316 33.7647 32.2898 35.3885 32.8066 37.5643C29.7893 39.0868 26.2121 39.0876 23.1934 37.5643ZM25.5294 28C25.5294 26.6377 26.6377 25.5294 28 25.5294C29.3623 25.5294 30.4706 26.6377 30.4706 28C30.4706 29.3623 29.3623 30.4706 28 30.4706C26.6377 30.4706 25.5294 29.3623 25.5294 28ZM35.599 35.5335C34.9407 33.9626 33.8083 32.6388 32.3826 31.7387C33.2432 30.7313 33.7647 29.4258 33.7647 28C33.7647 24.8213 31.1787 22.2353 28 22.2353C24.8213 22.2353 22.2353 24.8213 22.2353 28C22.2353 29.4257 22.7566 30.7313 23.6174 31.7387C22.1917 32.6388 21.0593 33.9626 20.401 35.5335C18.4816 33.5976 17.2941 30.9349 17.2941 28C17.2941 22.0967 22.0967 17.2941 28 17.2941C33.9033 17.2941 38.7059 22.0967 38.7059 28C38.7059 30.9349 37.5184 33.5976 35.599 35.5335Z" fill="#4788E8"/>
                                </svg>
                                <div>
                                    <span>Встроенная УФ-обеззараживание воды</span>
                                    <span>100% защита от размножения вирусов и бактерий.</span>
                                </div>
                            
                            </div>
            
                    </div>
            
                    <div class="wc-block-7" style="background-image: url('custom/wc/images/Rectangle 101.jpg');">
                        <div class="b1">
                            <h3>Автономная канализация для домов и дач</h3>
                            <p>Установить <span class="font-semibold">септик «Спарта»</span> следует владельцам загородных домов и дач, не подключенных к центральной канализационной системе.
                            </p>
                        </div>
            
                        <div class="b2">
                            <div class="b2_1">
                                <div class="b2_1_1">
                                    <p>Характеристики полноценного водоочистного сооружения:</p>
                                </div>
                                <ul class="b2_1_2 li-minus">
                                    <li>Быстрая и простая установка.                    </li>
                                    <li>10-летняя гарантия на корпус.                    </li>
                                    <li>Отсутствие контроля за работой устройства.                    </li>
                                    <li>Большой объем приемной камеры.
                                    </li>
                                </ul>
                                <div class="flex bmd:hidden h-96 -mx-6">
                                    <p>Водоочистная система «Спарта» — выбор тех, кто заботится об экологии и здоровье.
                                    </p>
                                </div>
            
                                <div class="flex items-center justify-center mt-8 ml-4 bmd:ml-0">
                                    <div class="banner-btn ">
                                        <a href="#" class="tracking-widest mx-auto bmd:mx-0 bg-bluelight">Купить септик «Спарта»</a>
                                    </div>
                                </div>
                            </div>
            
                            <div class="hidden bmd:flex bmd:w-1/2">
                                <img src="custom/wc/images/Rectangle 94.jpg">
                            </div>
                        </div>
            
            
            
                    </div>
                </div>
            
            </div>

            <div class="footer flex flex-col px-5">
            
                <div class="flex flex-col bmd:flex-row bg-cover bg-center -mx-5 pt-12 px-2 md:px-0 pb-4" style="background-image:url(custom/wc/images/footer_bg_desctop.jpg)">
                    <div class="footer-menu flex flex-row w-full justify-around">
                        <div>
                            <span class="font-bold pb-4">Навигация</span>
                            <ul>
                                <li><a href="#">Главная</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Наши работы</a></li>
                                <li><a href="#">Отзывы</a></li>
                                <li><a href="#">Контакты</a></li>
                                <li><a href="#">Оставить заявку</a></li>
                            </ul>
                        </div>
                        <div>
                            <span class="font-bold pb-4">Услуги</span>
                            <ul>
                                <li><a href="#">Колодцы</a></li>
                                <li><a href="#">Водоочистка</a></li>
                                <li><a href="#">Водоснабжение</a></li>
                                <li><a href="#">Отопление</a></li>
                                <li><a href="#">Септики</a></li>
                                <li><a href="#">Погреба</a></li>
                            </ul>
                        </div>
                    </div>
            
                    <div class="px-8 bmd:px-4 pt-4 bmd:pt-0 hidden md:flex md:flex-col">
                        <div class="font-bold pb-4">Новые работы</div>
                        <div class="flex flex-wrap justify-between items-center w-full mb-2">
                            <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                            <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                            <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                            <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                            <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                            <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                            <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                            <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                            <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                            <a href="#" class="w-wc13 h-wc13 mx-1 my-1 bg-center bg-cover" style="background-image:url(custom/wc/images/work1.jpg);"></a>
                        </div>
                    </div>
            
                    <div class="flex px-2 bmd:px-4 lg:flex-col">
                        <div class="font-bold pb-4 hidden xl:flex">Наши контакты</div>
                        <div class="flex flex-wrap justify-between bmd:justify-center xl:justify-start">
                            <div class="flex flex-col xl:flex-row order-1">
                                <a href="#" class="text-base sm:text-lg font-bold hover:text-bluelight">+7 (495) 975 75 13, </a>
                                <a href="#" class="text-base sm:text-lg font-bold hover:text-bluelight"> +7 (903) 233 80 85</a>
                            </div>
                            <div class="flex order-2 bmd:order-4 social-footer">
                                <a href="#" class="mr-2">
                                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.7">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 18C0 8.05887 8.05887 0 18 0C27.9411 0 36 8.05887 36 18C36 27.9411 27.9411 36 18 36C8.05887 36 0 27.9411 0 18ZM18.0009 8.4C15.3937 8.4 15.0665 8.4114 14.0425 8.458C13.0204 8.5048 12.3228 8.6666 11.7124 8.90401C11.081 9.14921 10.5454 9.47721 10.0118 10.011C9.47781 10.5446 9.14981 11.0802 8.9038 11.7114C8.6658 12.322 8.5038 13.0198 8.4578 14.0415C8.412 15.0655 8.4 15.3929 8.4 18.0001C8.4 20.6073 8.4116 20.9335 8.458 21.9575C8.505 22.9796 8.6668 23.6772 8.90401 24.2876C9.14941 24.919 9.47741 25.4546 10.0112 25.9882C10.5446 26.5222 11.0802 26.851 11.7112 27.0962C12.322 27.3336 13.0198 27.4954 14.0417 27.5422C15.0657 27.5888 15.3927 27.6002 17.9997 27.6002C20.6071 27.6002 20.9333 27.5888 21.9573 27.5422C22.9794 27.4954 23.6778 27.3336 24.2886 27.0962C24.9198 26.851 25.4546 26.5222 25.988 25.9882C26.522 25.4546 26.85 24.919 27.096 24.2878C27.332 23.6772 27.494 22.9794 27.542 21.9577C27.588 20.9337 27.6 20.6073 27.6 18.0001C27.6 15.3929 27.588 15.0657 27.542 14.0417C27.494 13.0196 27.332 12.322 27.096 11.7116C26.85 11.0802 26.522 10.5446 25.988 10.011C25.454 9.47701 24.92 9.14901 24.288 8.90401C23.676 8.6666 22.978 8.5048 21.9559 8.458C20.9319 8.4114 20.6059 8.4 17.9979 8.4H18.0009Z" fill="#4788E8"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1397 10.13C17.3953 10.1296 17.6805 10.13 18.0009 10.13C20.5641 10.13 20.8679 10.1392 21.8801 10.1852C22.8161 10.228 23.3242 10.3844 23.6626 10.5158C24.1106 10.6898 24.43 10.8978 24.7658 11.2338C25.1018 11.5698 25.3098 11.8898 25.4842 12.3378C25.6156 12.6758 25.7722 13.1838 25.8148 14.1199C25.8608 15.1319 25.8708 15.4359 25.8708 17.9979C25.8708 20.5599 25.8608 20.8639 25.8148 21.8759C25.772 22.8119 25.6156 23.32 25.4842 23.658C25.3102 24.106 25.1018 24.425 24.7658 24.7608C24.4298 25.0968 24.1108 25.3048 23.6626 25.4788C23.3246 25.6108 22.8161 25.7668 21.8801 25.8096C20.8681 25.8556 20.5641 25.8656 18.0009 25.8656C15.4375 25.8656 15.1337 25.8556 14.1217 25.8096C13.1857 25.7664 12.6776 25.61 12.339 25.4786C11.891 25.3046 11.571 25.0966 11.235 24.7606C10.899 24.4246 10.691 24.1054 10.5166 23.6572C10.3852 23.3192 10.2286 22.8112 10.186 21.8751C10.14 20.8631 10.1308 20.5591 10.1308 17.9955C10.1308 15.4319 10.14 15.1295 10.186 14.1175C10.2288 13.1815 10.3852 12.6734 10.5166 12.335C10.6906 11.887 10.899 11.567 11.235 11.231C11.571 10.895 11.891 10.687 12.339 10.5126C12.6774 10.3806 13.1857 10.2246 14.1217 10.1816C15.0073 10.1416 15.3505 10.1296 17.1397 10.1276V10.13ZM23.1254 11.724C22.4893 11.724 21.9733 12.2394 21.9733 12.8756C21.9733 13.5117 22.4893 14.0277 23.1254 14.0277C23.7614 14.0277 24.2774 13.5117 24.2774 12.8756C24.2774 12.2396 23.7614 11.724 23.1254 11.724ZM18.0009 13.07C15.2783 13.07 13.0708 15.2775 13.0708 18.0001C13.0708 20.7227 15.2783 22.9292 18.0009 22.9292C20.7235 22.9292 22.9302 20.7227 22.9302 18.0001C22.9302 15.2775 20.7235 13.07 18.0009 13.07Z" fill="#4788E8"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0009 14.8001C19.7681 14.8001 21.2009 16.2327 21.2009 18.0001C21.2009 19.7673 19.7681 21.2001 18.0009 21.2001C16.2335 21.2001 14.8009 19.7673 14.8009 18.0001C14.8009 16.2327 16.2335 14.8001 18.0009 14.8001Z" fill="#4788E8"/>
                                        </g>
                                    </svg>
                                </a>
                                <a href="#" class="mr-2">
                                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.7">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 18.001C0 8.05985 8.05887 0.000976562 18 0.000976562C27.9411 0.000976562 36 8.05985 36 18.001C36 27.9421 27.9411 36.001 18 36.001C8.05887 36.001 0 27.9421 0 18.001ZM27.1988 13.5559C26.978 12.7076 26.3273 12.0397 25.5012 11.813C24.004 11.401 18 11.401 18 11.401C18 11.401 11.996 11.401 10.4987 11.813C9.67255 12.0397 9.02193 12.7076 8.80113 13.5559C8.4 15.0933 8.4 18.301 8.4 18.301C8.4 18.301 8.4 21.5086 8.80113 23.0461C9.02193 23.8943 9.67255 24.5623 10.4987 24.7891C11.996 25.201 18 25.201 18 25.201C18 25.201 24.004 25.201 25.5012 24.7891C26.3273 24.5623 26.978 23.8943 27.1988 23.0461C27.6 21.5086 27.6 18.301 27.6 18.301C27.6 18.301 27.6 15.0933 27.1988 13.5559Z" fill="#4788E8"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2002 21.6011V15.6011L21.0002 18.6012L16.2002 21.6011Z" fill="#4788E8"/>
                                        </g>
                                    </svg>
                                </a>
                                <a href="#" class="mr-2">
                                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.7">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18 36C8.05887 36 0 27.9411 0 18C0 8.05887 8.05887 0 18 0C27.9411 0 36 8.05887 36 18C36 27.9411 27.9411 36 18 36ZM18.5933 28.0144C24.4946 28.012 29.2942 23.2112 29.2966 17.3111C29.2977 14.4513 28.1854 11.7621 26.1647 9.73906C24.1439 7.7159 21.4565 6.60124 18.5932 6.6C12.6936 6.6 7.89209 11.4013 7.88974 17.3027C7.88893 19.1891 8.3818 21.0304 9.31846 22.6536L7.8 28.2L13.474 26.7116C15.0374 27.5643 16.7975 28.0138 18.5889 28.0144H18.5933Z" fill="#4788E8"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7373 24.7738L10.3702 25.657L11.269 22.3742L11.0574 22.0376C10.1669 20.6212 9.69658 18.9842 9.69727 17.3032C9.69921 12.3982 13.6901 8.40771 18.5972 8.40771C20.9734 8.40854 23.207 9.33506 24.8866 11.0166C26.5662 12.6982 27.4907 14.9333 27.4898 17.3104C27.4878 22.2157 23.497 26.2066 18.5937 26.2066H18.5901C16.9937 26.206 15.428 25.7771 14.0621 24.9666L13.7373 24.7738ZM23.986 19.8562C23.9191 19.7447 23.7409 19.6778 23.4734 19.5438C23.206 19.41 21.8911 18.7631 21.6459 18.6737C21.4008 18.5845 21.2225 18.5399 21.0442 18.8076C20.866 19.0753 20.3534 19.6778 20.1974 19.8562C20.0414 20.0347 19.8854 20.0571 19.618 19.9232C19.3506 19.7893 18.4889 19.5069 17.4673 18.5958C16.6723 17.8866 16.1355 17.0108 15.9795 16.7431C15.8235 16.4753 15.9629 16.3306 16.0968 16.1973C16.2171 16.0774 16.3642 15.8848 16.4979 15.7287C16.6317 15.5726 16.6762 15.461 16.7654 15.2826C16.8545 15.104 16.81 14.9479 16.7431 14.814C16.6762 14.6802 16.1414 13.3638 15.9185 12.8283C15.7014 12.3068 15.4809 12.3774 15.3168 12.3692C15.161 12.3614 14.9825 12.3597 14.8042 12.3597C14.6259 12.3597 14.3362 12.4266 14.091 12.6944C13.8459 12.9621 13.155 13.6092 13.155 14.9255C13.155 16.2419 14.1133 17.5136 14.247 17.692C14.3808 17.8706 16.1329 20.5719 18.8157 21.7303C19.4538 22.0059 19.9519 22.1704 20.3403 22.2937C20.981 22.4973 21.5641 22.4685 22.0248 22.3996C22.5387 22.3229 23.6071 21.7527 23.8301 21.128C24.0528 20.5032 24.0528 19.9677 23.986 19.8562Z" fill="#4788E8"/>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                            <div class="w-full bmd:w-auto order-3 md:order-2">
                                <a href="#" class="flex">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.5">
                                            <path d="M14.3898 7.55103L10.8353 10.4129C10.1626 10.9403 9.21964 10.9403 8.54696 10.4129L4.96191 7.55103" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.74022 2.91675H13.5968C14.7296 2.92945 15.8078 3.40835 16.5803 4.24192C17.3528 5.07548 17.7521 6.19094 17.6853 7.32851V12.7684C17.7521 13.906 17.3528 15.0214 16.5803 15.855C15.8078 16.6886 14.7296 17.1675 13.5968 17.1802H5.74022C3.30696 17.1802 1.66699 15.2006 1.66699 12.7684V7.32851C1.66699 4.89629 3.30696 2.91675 5.74022 2.91675Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                    </svg>
                                    <span class="block text-bluelight text-wc15 border-b border-bluelight border-opacity-20 leading-4 mb-5 ml-2 hover:text-black">
                                    info@vodouslugi.ru
                                    </span>
                                </a>
                            </div>
                            <div class="flex flex-row bmd:flex-col xl:flex-row order-4 md:order-3 mb-5 justify-between w-full bmd:w-auto">
                                <a data-popup="p1" href="#" class="btn btn-blue btn-border-blue mb-2 xl:mr-4 xl:mb-0">Перезвоните мне</a>
                                <a data-popup="p1" href="#" class="btn btn-blue btn-border-blue">Написать</a>
                            </div>
                        </div>
                    </div>
            
                </div>
            
                <div class="flex flex-col md:flex-row justify-between py-3 text-wc14p text-center bmd:text-left">
                    <span class="text-gray">2009 - 2021 © “Водоуслуги”. Все права защищены</span>
                    <a href="#" class="py-4 bmd:py-0">Политика конфиденциальности</a>
                    <a href="https://web-craft.pro/"><span class="text-gray text-wc14p">Разработка сайта -</span> Web-Craft</a>
                </div>
            
            </div>

        </div>
    </div>


</div>
</body>
</html>
