<div class="search-block hidden relative w-full h-auto z-40 top-13">
    <div class="search-d absolute inset-0 flex flex-col w-full h-auto p-4">
        <form class="search-d__form m-0 js_search_form search_form">
            <div class="inp_wrapper bg-none md:bg-white w-full flex flex-col md:flex-row justify-end relative">
                <input placeholder="Что ищем?" type="text" name="searchword" class="h-14 bmd:h-16 w-full outline-none shadow-none focus:outline-none focus:shadow-none pl-8">
                <button type="submit" class="bg-bluelight text-white uppercase text-wc10 justify-self-end h-14 mt-1 w-74 bmd:w-64 md:absolute md:right-1">Найти</button>
            </div>

        </form>
        <section class="search-d__result search_result js_search_result _scroll h-auto max-h-60 ">
            <div class="section-d_search w-full bg-bluelight bg-opacity-90 p-4 h-full overflow-y-auto scrollbar-hide">
                <div class="section-d_list">
                    <div class="element-d_search_item">
                        123
                    </div>
                    <div class="element-d_search_item">
                        123
                    </div>
                    <div class="element-d_search_item">
                        123
                    </div>
                    <div class="element-d_search_item">
                        123
                    </div>
                    <div class="element-d_search_item">
                        123
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="top-menu hidden relative lg:flex h-13 z-10 justify-between border-b border- border-opacity-10 ">
    <div class="top-search lg:w-20 xl:w-40 flex justify-center items-center -mt-7">
        <a href="#" class="icn search-btn relative w-5 h-5">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="stroke-current search absolute inset-0">
                <circle cx="11.7669" cy="12.5777" r="8.98856" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.0186 19.2962L21.5426 22.8111" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <svg width="24" height="25" viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg" class="stroke-current close absolute inset-0">
                <line x1="1" y1="24"
                      x2="24" y2="1"
                      stroke=""
                      stroke-width="1.5"/>
                <line x1="1" y1="1"
                      x2="24" y2="24"
                      stroke=""
                      stroke-width="1.5"/>
            </svg>
        </a>
    </div>
    <div class="menu text- flex -mt-7 w-auto">
        <ul class="flex justify-between h-full">
            <li class="active">
                <a href="#">Главная</a>
            </li>
            <li class="sep"></li>
            <li>
                <a href="#">Новости</a>
            </li>
            <li class="sep"></li>
            <li>
                <a href="#">Наши работы</a>
            </li>
            <li class="sep"></li>
            <li>
                <a href="#">Отзывы</a>
            </li>
            <li class="sep"></li>
            <li>
                <a href="#">Вакансии</a>
            </li>
        </ul>
    </div>

    <div class="relative lg:w-40 xl:w-60 lg:-mt-1.5 ">
        <a href="#" class="menu-btn">
            связаться с нами
        </a>
    </div>
</div>
