<div class="work-slider z-10 h-full">
        <div class="relative h-full">
            <img class="object-cover h-full" src="custom/wc/images/workslide1.jpg">
        </div>
        <div class="relative h-full">
            <img class="object-cover h-full" src="custom/wc/images/workslide1.jpg">
        </div>
        <div class="relative h-full">
            <img class="object-cover h-full" src="custom/wc/images/workslide1.jpg">
        </div>
        <div class="relative h-full">
            <img class="object-cover h-full" src="custom/wc/images/workslide1.jpg">
        </div>
        <div class="relative h-full">
            <img class="object-cover h-full" src="custom/wc/images/workslide1.jpg">
        </div>
        <div class="relative h-full">
            <img class="object-cover h-full" src="custom/wc/images/workslide1.jpg">
        </div>
</div>


<div class="work-slider-nav-wrapper w-auto h-8 z-20 absolute bottom-10 flex justify-center items-center inset-x-8">
    <span class="work-slider-prev block w-1/12 hover:text-bluelight justify-center flex cursor-pointer outline-none">
        <span class="block rounded-full w-6 h-6 bg-gray flex justify-center items-center bg-opacity-60 hover:bg-opacity-80">
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="transform -scale-x-1">
                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
    </span>
    <div class="work-slider-nav w-auto h-8 z-20 flex justify-center overflow-x-hidden">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
    </div>
    <span class="work-slider-next block w-1/12 hover:text-bluelight justify-center flex cursor-pointer outline-none">
         <span class="block rounded-full w-6 h-6 bg-gray flex justify-center items-center bg-opacity-60 hover:bg-opacity-80">
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.17969 1.5755L5.18426 3.58008L3.17969 5.58466" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
    </span>
</div>
