<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body>
    <div class="w-full max-w-screen-xl mx-auto">
        <div class="flex flex-col lg:flex-row">

            <div class="lg:hidden max-w-screen flex flex-col z-20 overflow-x-hidden">
                <div class="flex flex-row w-full bg-blue bg-opacity-40 pt-2 h-13 pl-5 justify-between">
                    <div class="logo flex mb-5 order-1 lg:order-none ">
                        <div>
                            <img src="images/logo.svg" class="w-10 h-10">
                        </div>
                        <div class="flex flex-col text-white pl-3">
                            <span class="uppercase font-bold text-xl lg:text-wc13">Водоуслуги</span>
                            <span class="font-exo2 text-xs -mt-1">Широкий спектр услуг</span>
                        </div>
                    </div>

                    <div class="phones h-10 text-center text-white font-bold text-base pt-2 items-center hidden bmd:flex md:hidden">
                        <a href="#">+7 (495) 975 75 13</a>
                        <a href="#">+7 (903) 233 80 85</a>
                    </div>

                    <div class="lg:hidden w-28 flex items-center justify-center order-3 lg:order-none">
                        <a href="#" class="menu-btn-mob w-28 h-10 bg-white rounded-full -mt-2 -ml-6 flex items-center justify-center text-bluelight text-wc10">
                            <svg width="14" height="14" viewBox="0 0 14 14" class="fill-current" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.91699 7.81663L2.91699 6.18329L11.0837 6.18329L11.0837 7.81663L2.91699 7.81663ZM5.36699 11.0833L5.36699 9.33325L11.0837 9.33325L11.0837 11.0833L5.36699 11.0833ZM7.58366 2.91657L7.58366 4.5499L11.0837 4.5499L11.0837 2.91657L7.58366 2.91657Z" fill="#4788E8"/>
                            </svg>
                            <span class="text-bluelight font-bold uppercase">
                                меню
                            </span>
                        </a>
                    </div>
                </div>

                <div class="phones h-10 text-center w-full order-5 flex text-white justify-around
                font-bold pt-2 items-center text-base mx-auto bmd:hidden border-b border-white border-opacity-20">
                    <a href="#">+7 (495) 975 75 13</a>
                    <a href="#">+7 (903) 233 80 85</a>
                </div>

            </div>

            <div id="sidebar" class="box-content overflow-x-hidden lg:flex-wrap bg-blue max-w-screen h-13 lg:h-auto lg:w-56
            lg:overflow-y-visible hidden lg:flex lg:flex-row z-20 lg:z-0 justify2-between lg:justify-start lg:flex-col pl-5 pt-2 lg:pt-4">
                <div class="logo hidden lg:flex mb-5 order-1 lg:order-none ">
                    <div>
                        <img src="images/logo.svg" class="w-10 h-10">
                    </div>
                    <div class="flex flex-col text-white pl-3">
                        <span class="uppercase font-bold text-xl lg:text-wc13">Водоуслуги</span>
                        <span class="font-exo2 text-xs -mt-1">Широкий спектр услуг</span>
                    </div>
                </div>

                <div class="lg:hidden w-40 flex items-center justify-center order-first lg:order-none self-end mt-5 mb-6">
                    <a href="#" class="menu-btn-mob-close w-40 h-10 bg-white rounded-full -mt-2 -ml-6 flex items-center justify-center text-blue text-wc10">
                        <svg width="14" height="14" viewBox="0 0 14 14" class="fill-current mr-4" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.91699 7.81663L2.91699 6.18329L11.0837 6.18329L11.0837 7.81663L2.91699 7.81663ZM5.36699 11.0833L5.36699 9.33325L11.0837 9.33325L11.0837 11.0833L5.36699 11.0833ZM7.58366 2.91657L7.58366 4.5499L11.0837 4.5499L11.0837 2.91657L7.58366 2.91657Z" fill="#4788E8"/>
                        </svg>
                        <span class="text-blue font-bold uppercase">
                                закрыть меню
                            </span>
                    </a>
                </div>


                <div class="left-menu mt-1 lg:mt-0 flex flex-col text-white -ml-5">
                    <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10">Главная</a>
                    <span class="lg:font-bold h-9 lg:h-12 text-base lg:uppercase pl-5 w-full flex shadow-md border border-blue items-center justify-between">
                        <span>Каталог услуг</span>
                        <a href="#" class="menu_mob_catalog_toggler mr-4"></a>
                    </span>
                    <ul class="left-menu hidden lg:flex lg:flex-col">
                        <li class="active">
                            <a href="#">Колодцы</a>
                        </li>
                        <li>
                            <a href="#">Водоочистка</a>
                        </li>
                        <li>
                            <a href="#">Водоснабжение</a>
                        </li>
                        <li>
                            <a href="#">Отопление</a>
                        </li>
                        <li>
                            <a href="#">Септики</a>
                        </li>
                        <li>
                            <a href="#">Погреба</a>
                        </li>
                    </ul>

                    <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Новости</a>
                    <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Наши работы</a>
                    <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Отзывы</a>
                    <a href="#" class="menu-link pl-5 w-full h-12 shadow-md items-center leading-10 lg:hidden">Вакансии</a>
                </div>

                <div class="phones w-full flex flex-col text-white font-bold text-base items-start lg:text-wc22 mx-auto mt-9 ml-1">
                    <a href="#">+7 (495) 975 75 13</a>
                    <a href="#">+7 (903) 233 80 85</a>
                </div>

                <div class="mails flex mt-3 pl-1">
                    <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.3898 5.55095L10.8353 8.41284C10.1626 8.94023 9.21964 8.94023 8.54696 8.41284L4.96191 5.55095" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.74022 0.916672H13.5968C14.7296 0.929377 15.8078 1.40828 16.5803 2.24184C17.3528 3.0754 17.7521 4.19086 17.6853 5.32844V10.7683C17.7521 11.9059 17.3528 13.0214 16.5803 13.8549C15.8078 14.6885 14.7296 15.1674 13.5968 15.1801H5.74022C3.30696 15.1801 1.66699 13.2006 1.66699 10.7683V5.32844C1.66699 2.89621 3.30696 0.916672 5.74022 0.916672Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <a href="" class="text-white ml-3 -mt-1 text-wc15 border-b border-opacity-10 border-gray">info@vodouslugi.ru</a>
                </div>

                <div class="feedback_btn flex mt-5 ml-1">
                    <a href="#" class="menu-btn">
                        перезвоните мне
                    </a>
                </div>

                <div class="social flex justify-around items-center ml-6 mr-12 mt-8 mb-8">
                    <a href="#">
                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.7">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 16.0012C0 7.16466 7.16344 0.0012207 16 0.0012207C24.8366 0.0012207 32 7.16466 32 16.0012C32 24.8378 24.8366 32.0012 16 32.0012C7.16344 32.0012 0 24.8378 0 16.0012ZM24.1767 12.05C23.9804 11.296 23.4021 10.7023 22.6677 10.5008C21.3369 10.1346 16 10.1346 16 10.1346C16 10.1346 10.6631 10.1346 9.33217 10.5008C8.59782 10.7023 8.01949 11.296 7.82322 12.05C7.46667 13.4166 7.46667 16.2679 7.46667 16.2679C7.46667 16.2679 7.46667 19.1191 7.82322 20.4857C8.01949 21.2397 8.59782 21.8335 9.33217 22.0351C10.6631 22.4012 16 22.4012 16 22.4012C16 22.4012 21.3369 22.4012 22.6677 22.0351C23.4021 21.8335 23.9804 21.2397 24.1767 20.4857C24.5333 19.1191 24.5333 16.2679 24.5333 16.2679C24.5333 16.2679 24.5333 13.4166 24.1767 12.05Z" fill="#F2F2F2"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4004 19.2012V13.8679L18.6671 16.5347L14.4004 19.2012Z" fill="#F2F2F2"/>
                            </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.7">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16ZM16.0008 7.46667C13.6833 7.46667 13.3924 7.4768 12.4822 7.51822C11.5737 7.55982 10.9536 7.70365 10.4111 7.91467C9.8498 8.13263 9.37371 8.42419 8.89939 8.89868C8.42472 9.373 8.13316 9.84909 7.91449 10.4102C7.70294 10.9529 7.55893 11.5732 7.51804 12.4813C7.47733 13.3915 7.46667 13.6826 7.46667 16.0001C7.46667 18.3176 7.47698 18.6076 7.51822 19.5178C7.56 20.4263 7.70382 21.0464 7.91467 21.5889C8.13281 22.1502 8.42437 22.6263 8.89886 23.1006C9.373 23.5753 9.84909 23.8675 10.41 24.0855C10.9529 24.2965 11.5732 24.4404 12.4815 24.482C13.3917 24.5234 13.6824 24.5335 15.9997 24.5335C18.3174 24.5335 18.6074 24.5234 19.5176 24.482C20.4261 24.4404 21.0469 24.2965 21.5898 24.0855C22.1509 23.8675 22.6263 23.5753 23.1004 23.1006C23.5751 22.6263 23.8667 22.1502 24.0853 21.5891C24.2951 21.0464 24.4391 20.4261 24.4818 19.518C24.5227 18.6078 24.5333 18.3176 24.5333 16.0001C24.5333 13.6826 24.5227 13.3917 24.4818 12.4815C24.4391 11.573 24.2951 10.9529 24.0853 10.4103C23.8667 9.84909 23.5751 9.373 23.1004 8.89868C22.6258 8.42401 22.1511 8.13245 21.5893 7.91467C21.0453 7.70365 20.4248 7.55982 19.5164 7.51822C18.6062 7.4768 18.3164 7.46667 15.9981 7.46667H16.0008Z" fill="#F2F2F2"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2353 9.00446C15.4625 9.00411 15.716 9.00446 16.0008 9.00446C18.2792 9.00446 18.5493 9.01264 19.449 9.05353C20.281 9.09157 20.7326 9.2306 21.0334 9.3474C21.4316 9.50207 21.7155 9.68696 22.014 9.98563C22.3127 10.2843 22.4976 10.5687 22.6526 10.967C22.7694 11.2674 22.9086 11.719 22.9465 12.551C22.9874 13.4506 22.9963 13.7208 22.9963 15.9981C22.9963 18.2755 22.9874 18.5457 22.9465 19.4453C22.9084 20.2773 22.7694 20.7288 22.6526 21.0293C22.4979 21.4275 22.3127 21.7111 22.014 22.0096C21.7153 22.3082 21.4318 22.4931 21.0334 22.6478C20.7329 22.7651 20.281 22.9038 19.449 22.9418C18.5494 22.9827 18.2792 22.9916 16.0008 22.9916C13.7222 22.9916 13.4522 22.9827 12.5526 22.9418C11.7206 22.9035 11.269 22.7644 10.968 22.6476C10.5698 22.493 10.2854 22.3081 9.98669 22.0094C9.68802 21.7107 9.50313 21.427 9.34811 21.0286C9.23131 20.7281 9.09211 20.2766 9.05424 19.4446C9.01335 18.545 9.00517 18.2748 9.00517 15.996C9.00517 13.7172 9.01335 13.4484 9.05424 12.5489C9.09228 11.7168 9.23131 11.2653 9.34811 10.9645C9.50278 10.5663 9.68802 10.2818 9.98669 9.98314C10.2854 9.68447 10.5698 9.49958 10.968 9.34455C11.2688 9.22722 11.7206 9.08855 12.5526 9.05033C13.3398 9.01477 13.6449 9.0041 15.2353 9.00233V9.00446ZM20.5559 10.4214C19.9905 10.4214 19.5319 10.8795 19.5319 11.445C19.5319 12.0104 19.9905 12.469 20.5559 12.469C21.1212 12.469 21.5799 12.0104 21.5799 11.445C21.5799 10.8797 21.1212 10.4214 20.5559 10.4214ZM16.0008 11.6178C13.5807 11.6178 11.6185 13.58 11.6185 16.0001C11.6185 18.4202 13.5807 20.3815 16.0008 20.3815C18.4209 20.3815 20.3824 18.4202 20.3824 16.0001C20.3824 13.58 18.4209 11.6178 16.0008 11.6178Z" fill="#F2F2F2"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0008 13.1556C17.5717 13.1556 18.8453 14.4291 18.8453 16.0001C18.8453 17.5709 17.5717 18.8446 16.0008 18.8446C14.4298 18.8446 13.1563 17.5709 13.1563 16.0001C13.1563 14.4291 14.4298 13.1556 16.0008 13.1556Z" fill="#F2F2F2"/>
                            </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.7">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C7.16344 32 0 24.8366 0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32ZM16.5274 24.9017C21.773 24.8995 26.0393 20.6322 26.0414 15.3877C26.0424 12.8456 25.0537 10.4552 23.2575 8.65694C21.4612 6.85858 19.0724 5.86777 16.5273 5.86667C11.2832 5.86667 7.01519 10.1345 7.0131 15.3802C7.01239 17.057 7.45049 18.6937 8.28308 20.1366L6.93333 25.0667L11.9769 23.7436C13.3665 24.5016 14.9311 24.9011 16.5234 24.9017H16.5274Z" fill="#F2F2F2"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2103 22.0213L9.21734 22.8064L10.0162 19.8883L9.82818 19.5891C9.0366 18.3301 8.61853 16.8749 8.61914 15.3807C8.62087 11.0207 12.1683 7.47363 16.5302 7.47363C18.6423 7.47437 20.6278 8.29794 22.1208 9.79267C23.6138 11.2874 24.4355 13.2741 24.4347 15.3871C24.433 19.7474 20.8856 23.2949 16.5271 23.2949H16.5239C15.1049 23.2944 13.7131 22.9131 12.499 22.1926L12.2103 22.0213ZM21.3202 17.6501C21.2608 17.5509 21.1023 17.4914 20.8646 17.3724C20.6269 17.2534 19.4581 16.6784 19.2402 16.599C19.0223 16.5197 18.8638 16.4801 18.7053 16.718C18.5469 16.9559 18.0913 17.4914 17.9526 17.6501C17.8139 17.8087 17.6752 17.8286 17.4376 17.7096C17.1999 17.5906 16.4339 17.3396 15.5259 16.5297C14.8191 15.8993 14.342 15.1208 14.2034 14.8828C14.0647 14.6448 14.1886 14.5162 14.3076 14.3977C14.4145 14.2911 14.5453 14.12 14.6642 13.9812C14.783 13.8424 14.8227 13.7432 14.9019 13.5846C14.9811 13.4259 14.9415 13.2871 14.8821 13.1681C14.8227 13.0491 14.3472 11.879 14.1491 11.403C13.9562 10.9395 13.7602 11.0023 13.6143 10.9949C13.4758 10.988 13.3171 10.9865 13.1586 10.9865C13.0002 10.9865 12.7426 11.046 12.5247 11.284C12.3068 11.522 11.6927 12.0971 11.6927 13.2672C11.6927 14.4373 12.5445 15.5677 12.6634 15.7264C12.7822 15.8851 14.3397 18.2862 16.7244 19.3159C17.2916 19.5609 17.7344 19.7071 18.0797 19.8167C18.6491 19.9977 19.1674 19.9721 19.5769 19.9109C20.0337 19.8427 20.9834 19.3359 21.1816 18.7806C21.3796 18.2252 21.3796 17.7492 21.3202 17.6501Z" fill="#F2F2F2"/>
                            </g>
                        </svg>
                    </a>
                </div>


            </div>

            <div id="content-wrapper" class="min-w-0 w-auto flex-auto static pt-7">
                <div class="top-menu hidden relative lg:flex h-13 z-10 justify-between border-b border-white border-opacity-10">
                    <div class="top-search lg:w-20 xl:w-40 flex justify-center items-center -mt-7">
                        <div class="search-block hidden">

                        </div>
                        <a href="#" class="">
                            <img src="images/search.svg">
                        </a>
                    </div>
                    <div class="menu text-white flex -mt-7 w-auto">
                        <ul class="flex justify-between h-full">
                            <li class="active">
                                <a href="#">Главная</a>
                            </li>
                            <li class="sep"></li>
                            <li>
                                <a href="#">Новости</a>
                            </li>
                            <li class="sep"></li>
                            <li>
                                <a href="#">Наши работы</a>
                            </li>
                            <li class="sep"></li>
                            <li>
                                <a href="#">Отзывы</a>
                            </li>
                            <li class="sep"></li>
                            <li>
                                <a href="#">Вакансии</a>
                            </li>
                        </ul>
                    </div>

                    <div class="relative lg:w-40 xl:w-60 lg:-mt-1.5 ">
                        <a href="#" class="menu-btn">
                            связаться с нами
                        </a>
                    </div>
                </div>
                <div class="home-slider relative -mt-32 xl:-mt-24  z-0 min-h-screen">
                    <div class="slide absolute bottom-0 top-0 left-0 right-0" style="background:url(images/home-banner1.png) center center no-repeat; background-size: cover;">
                        <div class="banner-text">
                            Обустройство колодцев, водоснабжение и водоочистка. Системы отопления. Монтаж септиков.
                        </div>
                    </div>
                </div>

               <!-- <div class="my-slider">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                </div>-->

            </div>
        </div>
    </div>

</body>
</html>
