/*utils*/

.up:hover,
.up:focus {
    box-shadow: inset 0 -3.25em 0 0 #94e458;
}

button {
    color: #e4cb58;
    transition: 0.25s;
}

button:hover, button:focus {
    border-color: #94e458;
    color: #fff;
}

.bg-blur-white {
    background-color: rgba(255, 255, 255, .9);
}
.bg-blur-blue {
    background-color: rgba(71,136,232, .9);

}

p {
    @apply mb-4;
}

h1{
    @apply text-3xl font-bold py-2
}

h2 {
    @apply text-1625 font-bold py-2
}
h3 {
    @apply text-2xl font-bold py-2
}

h4 {
    @apply text-wc13 font-bold py-2
}
.table_over {
    @apply overflow-x-auto;
}
.privacy_policy {
    @apply p-4 bg-bluelight text-white fixed bottom-0 left-0 right-0 z-40;
}

.privacy_policy span.button {
    @apply w-36 lg:w-40 xl:w-48 flex h-9 justify-center items-center border-2 rounded-full border-white text-wc10 font-bold text-center text-white uppercase hover:bg-white hover:text-blue cursor-pointer mt-4 mx-auto md:inline-flex md:ml-4;
}

.wcGrid {
    @apply grid grid-cols-1 bmd:grid-cols-2 md:grid-cols-3 gap-3 place-items-center;
}
    /*.content ul {
        @apply ml-6;
    }*/
.content ul li {
    @apply flex items-baseline ml-2;
}

.content ul li:before {
    content: "";
    @apply inline-flex bg-bluelight bg-opacity-70 w-1 h-1 rounded-full mr-2 flex-shrink-0;
}

.paging ul, .subcats ul {
    @apply ml-0;
}

.paging ul li:before, .subcats ul li:before{
    content: none;
}

.video blockquote, .video .gr {
    @apply relative overflow-hidden;
    /*padding-top: 56.25%;*/
}
.video blockquote .wcframe, .video .gr .wcframe{
    /*@apply absolute left-0 top-0 w-full h-full border-0;*/
    @apply w-full border-0 h-80 md:h-auto;
    min-height: 20rem;
}
table.wcTable {
    border: 1px solid #04385B;
    background-color: #F3F3F3;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.wcTable td, table.wcTable th {
    border: 1px solid #798392;
    padding: 3px 2px;
}
table.wcTable tbody td {
    font-size: 13px;
    color: #515151;
}
table.wcTable thead {
    background: #04385B;
    background: -moz-linear-gradient(top, #436a84 0%, #1d4c6b 66%, #04385B 100%);
    background: -webkit-linear-gradient(top, #436a84 0%, #1d4c6b 66%, #04385B 100%);
    background: linear-gradient(to bottom, #436a84 0%, #1d4c6b 66%, #04385B 100%);
}
table.wcTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
table.wcTable tfoot td {
    font-size: 14px;
}
table.wcTable tfoot .links {
    text-align: right;
}
table.wcTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}


@supports ((-webkit-backdrop-filter: blur(0.625rem)) or (backdrop-filter: blur(0.625rem))) {
    .bg-blur-white {
        background-color: rgba(255, 255, 255, .2);
        -webkit-backdrop-filter: blur(0.625rem);
        backdrop-filter: blur(0.625rem);
    }
    .bg-blur-blue {
        background-color: rgba(71,136,232, .2);
        -webkit-backdrop-filter: blur(0.625rem);
        backdrop-filter: blur(0.625rem);
    }
}

/* LEFT MENU */
.left-menu li, .left-menu .menu-link {
    @apply pl-5 flex h-9 lg:h-10 bg-blue border-b border-white border-opacity-10 items-center transition-all duration-300 ease-in-out;
}

.left-menu .menu-link {
    @apply lg:hidden;
}

.left-menu li:hover{
    @apply bg-white bg-opacity-10;
}

.left-menu li a{
    @apply w-full leading-8;
}

ul.left-menu {
    @apply transition-all;
}
ul.left-menu li {

}
ul.left-menu li:before {
    @apply flex w-1.5 h-1.5 rounded-sm ml-0.5 mr-4 lg:hidden;
    content: "";
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
}

ul.left-menu.opened{
    @apply flex flex-col;
}
ul.left-menu .active {
    @apply bg-white bg-opacity-10;
}

/* TOP MENU */
.top-menu {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.top-menu .menu {
    @apply text-black;
}
.top-search a.icn {
    @apply text-black;
}
.home .top-menu .menu {
    @apply text-white;
}
.home .top-search a.icn {
    @apply text-white;
}

.landing .top-menu .menu {
    @apply text-white;
}
.landing .top-search a.icn {
    @apply text-white;
}

.top-menu .menu ul {
    @apply lg:-ml-20 xl:-ml-28;
}
.top-menu .menu ul li {
    @apply flex justify-center items-center lg:ml-2.5 xl:ml-8 relative;
}
.top-menu .menu ul li:last-child {
    @apply lg:ml-4;
}

.top-menu .menu ul li a{
    @apply text-base lg:leading-4dot5;
}

.top-menu .menu ul li.sep{
    @apply flex bg-black bg-opacity-10 rounded-full;
    width: 4px;
    height: 4px;
    align-self: center;
}
.home .top-menu .menu ul li.sep{
    @apply bg-white bg-opacity-10 rounded-full;
}
.landing .top-menu .menu ul li.sep{
    @apply bg-white bg-opacity-10 rounded-full;
}

.top-menu .menu ul li:after {
    @apply border-b border-bluelight absolute bottom-0 w-full;
    display:block;
    content: '';
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}
.top-menu .menu ul li.active:after{
    transform: scaleX(1);
    transform-origin:  0% 50%;
}
.top-menu .menu ul li.hovered:after{
    transform: scaleX(1);
    transform-origin:  0% 50%;
}

.home .top-menu .menu ul li:after {
    @apply border-white;
}

.landing .top-menu .menu ul li:after {
    @apply border-white;
}
a.search-btn  svg.close{
    @apply opacity-0 transition-all duration-300;
}

a.search-btn svg.search{
    @apply opacity-100 transition-all duration-300;
}

a.search-btn.opened svg.close {
    @apply opacity-100;
}
a.search-btn.opened svg.search {
    @apply opacity-0;
}

.search-block .search-d__result>.section-d_search {
    @apply w-full bg-bluelight bg-opacity-90 p-4 h-full overflow-y-auto scrollbar-hide text-white;
}

.search-block .search-d__result>.section-d_search .section-d_list {
    @apply divide-blue;
}
.search-block .search-d__result>.section-d_search .element-d_search_item {
    @apply mb-1;
}
/* SLIDER */
.home-slider {
    @apply relative;
    height: max-content;
   /* min-height: 40rem;*/
}
.home-slider:before{
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    content: "";
    background: #272D32;
}
.home-slider:after {
    @apply absolute w-full h-full left-0 top-0 pointer-events-none;
    content:"";
    background: linear-gradient(
            180deg
            , #000000 -58.71%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.6;
}
.home-slider .tns-outer, .home-slider .tns-ovh, .home-slider .tns-inner{
    @apply h-full;
}
.home-slider .tns-outer {
    @apply relative;
}
.home-slider .tns-ovh{
    @apply z-10;
}
.home-slider .slider-nav {
    @apply pointer-events-none;
}

.home-slider .slider-nav span {
    @apply w-1.5 h-1.5 relative m-2 mx-4 outline-none cursor-pointer pointer-events-auto;
}
.home-slider .slider-nav span.tns-nav-active {
    @apply bg-transparent;
}
.home-slider .slider-nav span:before{
    content:"";
    @apply block absolute w-1.5 h-1.5 bg-white rounded-full inset-0 left-px top-px;
}
.home-slider .slider-nav span:after{
    content:"";
    @apply shadow-none;
}
.home-slider .slider-nav span.tns-nav-active:after{

    @apply block absolute w-3 h-3 rounded-full ring-1 ring-offset-1 ring-transparent -inset-0.5 transition-all duration-700;
}
.home-slider .my-slider{
    @apply relative;
}
@media (max-width: 790px) {
    .home-slider .squares {
        @apply hidden;
    }
}

/* SMALL SLIDER */
.home-slider2 {
    @apply relative;
}

.home-slider2 .small-slider-nav {
    @apply pointer-events-none;
}

.home-slider2 .small-slider-nav span {
    @apply w-1.5 h-1.5 relative m-2 mx-4 outline-none cursor-pointer pointer-events-auto;
}
.home-slider2 .small-slider-nav span.tns-nav-active {
    @apply bg-transparent;
}
.home-slider2 .small-slider-nav span:before{
    content:"";
    @apply block absolute w-1.5 h-1.5 bg-white rounded-full inset-0 left-px top-px;
}
.home-slider2 .small-slider-nav span:after{
    content:"";
    @apply shadow-none;
}
.home-slider2 .small-slider-nav span.tns-nav-active:after{

    @apply block absolute w-3 h-3 rounded-full ring-1 ring-offset-1 ring-transparent -inset-0.5 transition-all duration-700;
}

/* SIDEBAR */
#sidebar .phones a {
    line-height: 1.9rem;
}


#sidebar.opened{
    @apply flex flex-col fixed right-0 top-0 bottom-0 w-56 bg-blue h-screen;
}

.menu-btn {
    @apply w-36 lg:w-40 xl:w-48 flex h-9 justify-center items-center border-2 rounded-full text-wc10 font-bold text-center uppercase border-bluelight text-bluelight hover:bg-white hover:text-blue ;
}
.home .menu-btn {
    @apply border-white text-white hover:bg-white hover:text-blue
}

.landing .menu-btn {
    @apply border-white text-white hover:bg-white hover:text-blue
}
/* BANNER */
.banner-content{

}
.banner-btn {
    /*@apply  w-auto;*/
}
.banner-btn a{
    @apply w-64 sm:w-80 bmd:w-80 md:w-80 lg:w-80 xl:w-84 flex h-14 justify-center items-center border-2 rounded-full border-blue text-wc10
    font-bold text-center text-white uppercase bg-blue hover:border-bluelight hover:bg-bluelight relative;
}

.banner-btn a:after{
    @apply border-b border-white absolute -right-8 w-16;
    display:block;
    content: '';
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}

.banner-btn a:hover:after{
    transform: scaleX(1);
    transform-origin:  0% 50%;
}

/* MOB MENU */
.menu_mob_catalog_toggler {
    @apply w-3 h-3 justify-end transition-transform lg:hidden;
    background: url(images/arrow_back.svg) center center no-repeat;
}

.menu_mob_catalog_toggler.opened{
    transform: rotate(180deg);
}


/*-*/
.full_width{
    @apply bmd:-ml-12 bmd:-mr-12 px-5 bmd:px-12 bg-cover bg-center my-5 md:my-16
    w-screen md:w-full bmd:box-content flex flex-col md:flex-row items-center justify-between overflow-x-hidden h-full bmd:h-84 md:h-72;
}

.btn {
    @apply w-36 lg:w-40 xl:w-48 flex h-9 justify-center items-center border-2 rounded-full border-white text-wc10 font-bold text-center text-white uppercase hover:bg-white hover:text-blue;
}
.btn-blue {
    @apply bg-bluelight;
}
.btn-border-blue {
    @apply border-2 border-bluelight;
}
/* HOME FORM */
.home_form {
    @apply relative;
}

/*CATEGORY BLOCKS*/
.cat-block{
    @apply overflow-hidden;
}
.cat-block .subcats {
    @apply opacity-0;
}
.cat-block:hover .subcats{
    @apply flex opacity-100;
}
.cat-block .cat {
    @apply transform -translate-y-0;
}
.cat-block:hover .cat{
    @apply transform -translate-y-40 md:-translate-y-44 ;
}
.cat-block:before {
    content: "";
    @apply bg-gradient-to-t from-bluegrad w-full h-full hidden bmd:block;
}

/* ADVANTAGES */
.wcadvantages {
    @apply hidden bmd:flex border-b border-lightgray xl:mb-2;
}
.wcadvantages .a {
    @apply flex flex-row lg:flex-col justify-center items-start lg:items-center lg:mx-0 md:py-9 md:px-8 mb-0 w-1/2 xl:w-1/4 border-l border-r border-lightgray;  /*w-72 bmd:w-80 md:w-56 */
}
.wcadvantages .a1{
    @apply bg-darkgray rounded-full w-24 h-24 flex justify-center items-center mb-5 flex-shrink-0 mr-5 lg:mr-0;
}

.wcadvantages>div>div>div {
    @apply lg:text-center mb-2.5;
}

/*FOOTER */
.footer-menu li, .cat-menu li{
    @apply relative;
}
.footer-menu li:after, .cat-menu li:after {
    @apply border-b border-bluelight border-opacity-20 absolute bottom-0 w-full;
    display:block;
    content: '';
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}
.footer-menu li.hovered, .footer-menu li.active, .cat-menu li.hovered, .cat-menu li.active{
    @apply text-bluelight;
}
.footer-menu li.hovered:after, .cat-menu li.hovered:after {
    transform: scaleX(1);
    transform-origin:  0% 50%;
}

.footer-menu li.active:after, .cat-menu li.active:after {
    transform: scaleX(1);
    transform-origin:  0% 50%;
}

.footer-menu li, .cat-menu li {
    @apply w-max;
}

.cat-menu li:after {
    left: 13px;
    width: calc(100% - 13px);
}

.social-footer a:hover svg g{
    opacity: 1;
}

/* POPUP */
body.popup-shown {
    @apply overflow-hidden;
}

.popup {
    @apply top-0 bottom-0 left-0 right-0 bg-gray bg-opacity-50 h-screen w-screen hidden z-50 transform-gpu transition-all duration-300 overflow-y-auto opacity-0;
}
.popup.show {
    @apply flex items-center justify-center opacity-100;
}
.popup>.popup-wrapper {
    @apply w-screen bmd:w-max z-30;
    /*height: inherit;*/
}
.popup.show>.popup-wrapper {
    @apply transition-all transform-gpu scale-0 duration-300;
}
.popup.show>.popup-wrapper.show {
    @apply  scale-100;
}

.popup .close-btn {
    @apply absolute hover:animate-spin w-6 h-6 right-2 top-2 text-red-700 z-20 cursor-pointer;
}

.form-title-divider {
    @apply w-full h-px bg-white bg-opacity-20 mb-6;
}

.form-title-divider:before {
    @apply bg-bluelight w-2/12 bmd:w-1/12  h-full block ;
    content: "";
}
.wc-form {
    @apply flex flex-col lg:flex-row lg:w-4/6 xl:w-4/6 lg:flex-wrap;
}
.wc-inp-wrapper {
    @apply relative flex flex-col h-16 w-full bmd:w-64 md:w-72 lg:w-80 lg:mr-4 xl:w-64 lg:flex-grow;
}

.wc-inp-wrapper-contacts {
    @apply w-full;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.wc-textarea-wrapper {
    @apply h-30 lg:mb-4;
}
.wc-textarea-wrapper textarea {
    @apply h-full;
}
.wc-inp {
    @apply w-full mb-2 rounded-lg text-black h-35625 order-first -mt-1 outline-none border-none shadow-none ring-transparent;
}
.wc-inp ~ .wc-placeholder {
    @apply ml-2 -mt-11 pointer-events-none text-black text-wc10 order-last flex justify-center items-center w-max;
}
.wc-textarea-wrapper .wc-inp ~ .wc-placeholder {
    @apply -mt-28;
}


.wc-inp:focus,
.wc-inp.filled:not(:focus) {
    @apply order-last;
}
.wc-inp:focus ~ .wc-placeholder,
.wc-inp.filled:not(:focus) ~ .wc-placeholder {
    @apply -mt-8 bg-blue text-white p-1 rounded-tl rounded-tr ml-0 h-8 order-first;
}



.wc-inp.filled ~ .wc-placeholder {
    @apply hidden;
}

.wc-inp:focus {
    @apply ring-blue;
}
.wc-inp.error_input {
    @apply ring-red-700 text-red-700;
}

.wc-inp.filled.error_input ~ .wc-placeholder {
    @apply flex;
}
.consult .error_input {
    @apply ring-red-700 text-red-700;
}

.wc-inp.error_input:focus ~ .wc-placeholder,
.wc-inp.filled.error_input:not(:focus) ~ .wc-placeholder {
    @apply bg-red-600;
}

.wc_check {
    @apply transition-all duration-500;
}
.wc-check input[type=checkbox]{
    @apply hidden;
}
.wc_check .error_input ~ span:before{
    @apply border-red-500;
}
.wc-check>span {
    @apply flex flex-row select-none cursor-pointer leading-4 ;
}
.wc-check>span>span {
    @apply pointer-events-none text-mediumgray;
}
.wc-check>span a{
    @apply pointer-events-auto text-gray;
}
.wc-check>span:before {
    @apply flex h-7 w-7 mr-5 bg-no-repeat bg-gray rounded-full bg-auto bg-center p-4 bg-opacity-10 transition-all duration-500 animate-pulse;
    background-image: url(images/check.svg);
    content:"";
}


.wc-check.checked>span:before{
    @apply bg-green-600 animate-none;
}

.form-submit {
    @apply cursor-pointer outline-none w-full h-14;
}

/* BREADCRUBMS */
.breadcrumbs {
    @apply my-4;
}
.breadcrumbs li a {
    @apply flex justify-center items-center hover:text-bluelight;
}
.breadcrumbs li a:after{
    @apply bg-cover bg-center w-2 h-2 px-2;
    content:"";
    background-image: url(images/arrow_forward_ios_24px.svg);
}

.breadcrumbs li:last-child a:after {
    content: none;
}


/*PAGING */
.paging ul li a {
    @apply text-wc13p font-bold
}
.paging ul li.active a{
    @apply rounded-full bg-gray2 text-gray3 font-normal;
}


/* WORKS */

.work-block .bg {
    background: linear-gradient(360deg, #000000 -45.3%, rgba(0, 0, 0, 0) 131.2%);
}

.works-wrapper .work-block .work-hover-info {
    @apply hidden;
}


    .works-wrapper {
        @apply flex flex-wrap flex-col bmd:flex-row mt-4 items-center justify-between lg:justify-center xl:justify-between w-auto overflow-x-hidden
    }
    .works-wrapper .work-info {
        @apply hidden transition-all opacity-0;
    }

@screen xl {
    .works-wrapper {
        @apply grid gap-4 grid-cols-3 grid-rows-3 w-full;
    }

    .works-wrapper .work-block {
        @apply w-full  m-0 p-0;
    }

    .works-wrapper .work-block>div {

    }
    .works-wrapper .cat-link {
        @apply hover:text-white;
    }

    .works-wrapper .work-block.a1 {
        @apply col-span-2;
    }

    .works-wrapper .work-block .work-info {
        @apply mr-4 text-white flex-col mb-4 text-wc14p max-h-28 overflow-hidden justify-start;
    }

    .works-wrapper .work-block.a1 .work-info {
        @apply flex;
    }

    .works-wrapper .work-block .work-info>div {
        @apply justify-between border-b border-gray4 border-opacity-20;
    }

    .works-wrapper .work-block.a1 .work-info>div {
        @apply flex;
    }

    .works-wrapper .work-block.a1 .work-name {
        @apply w-7/12;
    }

    .works-wrapper .work-block.a1 .work-info {
        @apply w-5/12;
    }

    .works-wrapper .work-block.a0:hover .work-hover-info {
        @apply flex z-30 p-6 text-white;
    }

    .works-wrapper .work-block.a0:hover .work-hover-info .work-info {
        @apply flex max-h-28 mr-0 opacity-100;
    }

    .works-wrapper .work-block.a0:hover .work-hover-info .work-info>div{
        @apply flex;
    }
}

.works .banner-btn a {
    @apply bg-bluelight border-bluelight hover:border-blue hover:bg-blue;
}


/* WORK SLIDER */

.work-slider-wrapper .work-slider-nav {
    @apply pointer-events-none;
}

.work-slider-wrapper .work-slider-nav span {
    @apply w-1.5 h-1.5 relative m-2 mx-4 outline-none cursor-pointer pointer-events-auto;
}
.work-slider-wrapper .work-slider-nav span.tns-nav-active {
    @apply bg-transparent;
}
.work-slider-wrapper .work-slider-nav span:before{
    content:"";
    @apply block absolute w-1.5 h-1.5 bg-white rounded-full inset-0 left-px top-px;
}
.work-slider-wrapper .work-slider-nav span:after{
    content:"";
    @apply shadow-none;
}
.work-slider-wrapper .work-slider-nav span.tns-nav-active:after{

    @apply block absolute w-3 h-3 rounded-full ring-1 ring-offset-1 ring-transparent -inset-0.5 transition-all duration-700;
}


/* REVIEW SLIDER */
.review-slider-wrapper  .tns-item2 {
    @apply p-10;
}


/* WORK PAGE */
.work h3{
    @apply text-2xl font-bold py-2 pr-2
}

.work h4{
    @apply text-wc13 font-bold py-2
}

.work .prices table {
    @apply overflow-x-auto table-auto;
}

.work ._text .gr {
    @apply bg-lightgray p-5 my-4 rounded-2xl;
}

blockquote {
    @apply bg-lightgray p-5 my-4 rounded-2xl;
}


/* OLD STYLES */
.sparta-conteiner ul {
    @apply ml-0 flex justify-center items-center flex-wrap ;
}
.sparta-conteiner ul li {
    @apply w-1/2 bmd:w-1/4 ml-0 px-1;
}
.sparta-conteiner ul li:before {
    content: none;
}
.sparta-conteiner h5 {
    @apply text-125 text-center mb-2;
}
.sparta-conteiner .tar {
    @apply flex mt-4 justify-center;
}
/* purgecss start ignore */
.advantages {
    @apply mt-4;
}
.advantages h3 {
    text-align: center;
    font-size: 30px;
    background: url(images/528_marker.png) center bottom no-repeat;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.advantages ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.advantages ul li {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @apply mb-4;
}

.advantages ul li span {
    @apply flex flex-col justify-center items-center;
}

.advantages ul li h5 {
    margin-bottom: 0px;
    margin-top: 15px;
}

.advantages ul li p {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 14px;
}

/* freeze price */

.freeze-price {
    min-height: 340px;
    @apply bg-cover bg-gradient-to-r from-bluelight to-gray my-8;
}

.freeze-price-conteiner {
    padding: 50px 80px;
}

.freeze-price h3 {
    margin-top: 0;
    font-size: 30px;
}

.freeze-price p {
    font-size: 18px;
}

.freeze-price h5 {
    font-size: 18px;
    margin-bottom: 30px
}


/* purgecss end ignore */

.pre-footer-block {
    @apply my-4 p-5 bg-bluelight bg-opacity-10 -mx-5 xl:-mx-4375;
}

@media (max-width: 790px) {
    .landing.sparta .home-slider .my-slider .swiper-slide img {
        height: 686px;
        object-position: calc(100% + 75px);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -17.5%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, #272D32, #272D32), linear-gradient(180deg, #000000 -58.71%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.6;
    }
}

.grayed {
    margin: 0;
    line-height: inherit;
    margin-left: 1rem;
}

.grayed span {
    background-color: #EDEDED;
    padding: 0.5rem 0;
    -webkit-box-shadow: 1rem 0px 0px #EDEDED, -1rem 0px 0px #EDEDED;
    box-shadow: 1rem 0px 0px #EDEDED, -1rem 0px 0px #EDEDED;
    box-decoration-break: clone;
}

.grayed span.blue {

}

@media (max-width: 790px) {
    .whited {
        margin: 0;
        line-height: inherit;
        margin-left: 1rem;
    }


    .whited span {
        background-color: #FFF;
        padding: 0.5rem 0;
        -webkit-box-shadow: 1rem 0px 0px #FFF, -1rem 0px 0px #FFF;
        box-shadow: 1rem 0px 0px #FFF, -1rem 0px 0px #FFF;
        box-decoration-break: clone;
    }
}

ul.li-minus li {
    margin-left:0;
    &:before {
         content:"";
         background: #C4C4C4;
         width: 23px;
         height: 3px;
         display: inline-block;
    }
}

.prich {
    @apply flex flex-col bmd:flex-row flex-wrap py-11 bmd:py-16 xl:py-4375;
    >div {
        @apply w-full bmd:w-1/2 md:w-1/3  flex flex-col items-start  p-[30px] bmd:p-[40px];



        &:nth-child(2){
            @apply bg-lightgray;
        }

        &:nth-child(3){
            @apply bg-white ip:bg-lightgray;
        }

        &:nth-child(4){
            @apply bg-lightgray ip:bg-white md:bg-lightgray;
        }

        &:nth-child(6){
            @apply bg-lightgray;
        }

        >svg {
            @apply mb-[19px];
        }
        >div {
            @apply flex-1;
            >span {
                @apply flex;
                &:first-child{
                    @apply text-xl pb-[10px] font-semibold;
                }
                &:nth-child(2){
                    @apply text-[13px] bmd:text-base;
                }
            }
        }
        &:first-child{
            >div {
                >span {
                    @apply text-[34px] font-semibold inline;
                }
            }
        }
    }
}

.wc-block-7 {
    @apply flex flex-col -mx-6 px-6 bmd:-mx-18 py-7 bmd:py-9 xl:pb-0 bmd:pl-12 xl:pl-18 bg-cover items-center;
    .b1 {
        @apply flex flex-col items-center w-full bmd:w-4/5 md:w-auto;
        h3 {
            @apply font-semibold text-2xl bmd:text-[38px] text-center;
        }
        p {
            @apply font-light text-[15px] xl:text-[20px] text-center py-6;
        }
    }

    .b2 {
        @apply flex flex-col bmd:flex-row space-x-4;
        &_1{
            @apply flex flex-col w-full bmd:w-1/2;
            &_1 {
                @apply flex font-semibold text-xl bmd:text-2xl text-center;
            }
            &_2 {
                @apply pt-1 pb-4 bmd:pb-0 bmd:pt-0 leading-10 text-wc14p bmd:text-wc18p;
            }

            &_3 {
                @apply flex text-center text-wc18p bmd:text-xl px-2;
            }
            &_4 {
                @apply flex items-center justify-center mt-8 ml-4 bmd:ml-0;
            }
        }

        &_2 {
            @apply hidden bmd:flex bmd:w-1/2;
            img {
                @apply  object-cover bmd:object-contain;
            }

        }
    }
}


.wc-block-8 {
    @apply flex flex-col -mx-6 px-6 bmd:-mx-18 py-7 bmd:py-9 xl:pb-0 bmd:pl-12 xl:pl-18 bg-cover items-center;

    .b1 {
        @apply flex flex-col items-center w-full bmd:w-4/5 md:w-auto;

        h3 {
            @apply font-semibold text-2xl bmd:text-[38px] text-center;
        }

        p {
            @apply font-light text-[15px] xl:text-[20px] text-center py-6;
        }
    }

    .b2 {
        @apply flex items-center justify-start bmd:justify-center space-x-0 bmd:space-x-4 flex-wrap bmd:flex-nowrap mt-8;
        &_1 {
            @apply flex flex-col items-center justify-center w-1/2 bmd:w-auto mb-8;
            &_1 {
                @apply bg-blue w-[128px] h-[128px] rounded-full flex items-center justify-center ;

                svg {
                    fill: currentColor;
                }
            }
            &:nth-child(even){
                .b2_1_1 {
                    @apply bg-bluelight;
                }
            }

            &_2 {
                @apply flex flex-col items-center relative border-t-lightgray border-t-2 mt-12 h-20 mx-2 font-semibold text-wc14p pt-4;
                &:before, &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    @apply left-1/4 bmd:left-1/3;
                }
                &:before {
                    @apply top-[-22px] border-transparent border-b-lightgray border-[11px];
                }
                &:after {
                    @apply top-[-19px] border-transparent border-b-white border-[10px];
                }

            }

            &:nth-child(even){
                @apply bmd:mt-24;
            }
            &:nth-child(odd){
                @apply bmd:flex-col-reverse bmd:-mt-40;
                .b2_1_2 {
                    @apply bmd:border-b-lightgray bmd:border-b-2 bmd:mt-0 bmd:mb-12 bmd:border-t-0;

                    &:before {
                        @apply bmd:top-auto bmd:bottom-[-22px] bmd:border-transparent bmd:border-t-lightgray bmd:border-[11px];
                    }
                    &:after {
                        @apply bmd:top-auto bmd:bottom-[-19px] bmd:border-transparent bmd:border-t-white bmd:border-[10px];
                    }

                }
            }

        }
    }
}

.wc-block-9 {
    @apply flex flex-col -mx-6 px-6 bmd:-mx-18 py-7 bmd:py-9 xl:pb-0 bmd:px-12 xl:px-18  bg-cover items-center bg-contain;
    .b1 {
        @apply flex flex-col items-center w-full bmd:w-4/5 md:w-auto;

        h3 {
            @apply font-semibold text-2xl bmd:text-[38px] text-center;
        }
        &_1 {
            @apply flex flex-col bmd:flex-row bmd:justify-around bmd:w-full;
            >div {
                @apply flex flex-col items-center justify-center;
                span {
                    @apply text-wc15 font-light;
                    &:first-child {
                        @apply text-[80px] text-bluelight;
                    }
                }
            }
        }
    }

    .b2 {
        @apply mt-12;
        &_1 {
            @apply text-wc15 font-light text-center;
        }
    }
}

.wc_slider_mob {
    max-width: 100vw;
    width: 100vw;
    height: auto;
}
