<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body>
<div class="w-full max-w-screen-xl mx-auto work">
    <div class="flex flex-col lg:flex-row">

        {{> blocks/header }}

        {{> blocks/sidebar }}

        <div id="content-wrapper" class="min-w-0 w-auto pt-7 overflow-x-hidden scrollbar-hide lg:h-screen">

            {{> blocks/topmenu color="black"}}

            {{> blocks/breadcrumbs page="Копка и обустройство колодца в московской области"}}

            {{> content/workdetail }}

            {{> blocks/footer }}

        </div>
    </div>


</div>
</body>
</html>
